note/flows1.json
[{"id":"e5298044.db04d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"643c3613.c3b1f8","type":"ui_switch","z":"e5298044.db04d","name":"","label":"Relay 1","tooltip":"","group":"7d46dd1b.688ed4","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":180,"y":120,"wires":[["b570912a.a71d4"]]},{"id":"1c0d5b70.b80535","type":"ui_form","z":"e5298044.db04d","name":"","label":"","group":"d4ea2a99.358da8","order":1,"width":0,"height":0,"options":[{"label":"User name","value":"user","type":"text","required":true,"rows":null},{"label":"Password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":520,"wires":[["5bd617a6.8ee758","1dd359e7.cd7cf6"]]},{"id":"3c539c89.894834","type":"debug","z":"e5298044.db04d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":540,"wires":[]},{"id":"b570912a.a71d4","type":"mqtt out","z":"e5298044.db04d","name":"LAMP","topic":"room/lamp","qos":"2","retain":"true","broker":"3a796f28.711f1","x":340,"y":120,"wires":[]},{"id":"5bd617a6.8ee758","type":"function","z":"e5298044.db04d","name":"Processing log in","func":"if(msg.payload.user==\"sensor\" && msg.payload.pass==\"sensor\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":520,"wires":[["3c539c89.894834","4014200a.ce8e6"]]},{"id":"1dd359e7.cd7cf6","type":"function","z":"e5298044.db04d","name":"wrong","func":"if(msg.payload.user!=\"sensor\"|| msg.payload.pass!=\"sensor\"){\n    msg.payload=\"you entered the wrong password or username\"\n}else{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":600,"wires":[["e8d4a15d.bac39"]]},{"id":"e8d4a15d.bac39","type":"switch","z":"e5298044.db04d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":600,"wires":[["adc7f2b1.d3197"]]},{"id":"adc7f2b1.d3197","type":"ui_toast","z":"e5298044.db04d","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":620,"y":620,"wires":[[]]},{"id":"4014200a.ce8e6","type":"ui_ui_control","z":"e5298044.db04d","name":"","events":"connect","x":490,"y":480,"wires":[[]]},{"id":"7c9ed123.1e4bf","type":"ui_text","z":"e5298044.db04d","group":"7d46dd1b.688ed4","order":1,"width":0,"height":0,"name":"","label":"status relay","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":60,"wires":[]},{"id":"dd5a4dc3.c3eb1","type":"mqtt in","z":"e5298044.db04d","name":"","topic":"room/lamp_status","qos":"2","datatype":"auto","broker":"3a796f28.711f1","x":190,"y":60,"wires":[["7c9ed123.1e4bf"]]},{"id":"e4cdf60.01d9f08","type":"ui_switch","z":"e5298044.db04d","name":"","label":"relay 2","tooltip":"","group":"7d46dd1b.688ed4","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off1","offvalueType":"str","officon":"","offcolor":"","x":170,"y":180,"wires":[["f1bbd8d3.6af608"]]},{"id":"cba51320.f3a71","type":"ui_text","z":"e5298044.db04d","group":"808f16dc.b7b928","order":1,"width":0,"height":0,"name":"","label":"Warnning 1","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":240,"wires":[]},{"id":"e25186ae.dc1af8","type":"ui_gauge","z":"e5298044.db04d","name":"","group":"808f16dc.b7b928","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":300,"wires":[]},{"id":"55ebf2f8.e8fb6c","type":"ui_gauge","z":"e5298044.db04d","name":"","group":"808f16dc.b7b928","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":400,"wires":[]},{"id":"7231738b.a486ac","type":"mqtt in","z":"e5298044.db04d","name":"","topic":"monitor/warning","qos":"2","datatype":"auto","broker":"3a796f28.711f1","x":180,"y":240,"wires":[["cba51320.f3a71"]]},{"id":"d33d33e9.fc05a","type":"mqtt in","z":"e5298044.db04d","name":"","topic":"monitor/temperature","qos":"2","datatype":"auto","broker":"3a796f28.711f1","x":190,"y":300,"wires":[["e25186ae.dc1af8"]]},{"id":"4b28ffd4.feb5","type":"mqtt in","z":"e5298044.db04d","name":"","topic":"monitor/humidity","qos":"2","datatype":"auto","broker":"3a796f28.711f1","x":180,"y":360,"wires":[["35f1aad8.b2fc56","55ebf2f8.e8fb6c"]]},{"id":"f1bbd8d3.6af608","type":"mqtt out","z":"e5298044.db04d","name":"","topic":"room/relay2","qos":"2","retain":"true","broker":"3a796f28.711f1","x":470,"y":180,"wires":[]},{"id":"35f1aad8.b2fc56","type":"ui_chart","z":"e5298044.db04d","name":"","group":"53ee8b1d.209914","order":0,"width":"6","height":"5","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1e75b3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":460,"y":360,"wires":[[]]},{"id":"7d46dd1b.688ed4","type":"ui_group","z":"","name":"control","tab":"a274c631.635058","order":1,"disp":true,"width":"6","collapse":false},{"id":"d4ea2a99.358da8","type":"ui_group","z":"","name":"log in","tab":"cfdb31da.72059","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a796f28.711f1","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"808f16dc.b7b928","type":"ui_group","z":"","name":"monitoring","tab":"a274c631.635058","order":2,"disp":true,"width":"6","collapse":false},{"id":"53ee8b1d.209914","type":"ui_group","z":"","name":"monitoring","tab":"a274c631.635058","order":2,"disp":true,"width":"6","collapse":false},{"id":"a274c631.635058","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"cfdb31da.72059","type":"ui_tab","z":"","name":"Log in","icon":"dashboard","order":1,"disabled":false,"hidden":false}]