note/flows_backup .json
[{"id":"104d1555.17743b","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"a3ce9c78.8da62","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"ecf5f308.0de6d","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"47f6b098.d0c9","type":"tab","label":"getFlow context","disabled":false,"info":""},{"id":"9e4f561c.127778","type":"tab","label":"getGlobal","disabled":false,"info":""},{"id":"dfa3e3ba.4d5ad","type":"tab","label":"share folder","disabled":true,"info":""},{"id":"4a58c94f.8626f8","type":"tab","label":"github login","disabled":true,"info":""},{"id":"3c8f9228.949c9e","type":"tab","label":"login for control","disabled":false,"info":""},{"id":"ea563ac1.aaa738","type":"tab","label":"data","disabled":false,"info":""},{"id":"5575f0cf.3f08e","type":"tab","label":"down link","disabled":false,"info":""},{"id":"e715dbbb.2d5808","type":"tab","label":"Serial Com","disabled":false,"info":""},{"id":"ecca26e7.711f58","type":"tab","label":"Danh Mục","disabled":false,"info":""},{"id":"5908e88b.78cf68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"custom1","default":"#4B7930","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d503915.1d5ad7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dedc12e0.a6e57","type":"ui_group","name":"Group 1","tab":"2dc2e81d.4afbd8","order":1,"disp":true,"width":6},{"id":"fd22b45d.60c9f8","type":"ui_group","name":"Group 2","tab":"2dc2e81d.4afbd8","order":2,"disp":true,"width":6},{"id":"2dc2e81d.4afbd8","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"e2d945e6.501548","type":"ui_group","z":"","name":"control","tab":"9b3ca8c8.e0c2a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"467908c2.d06168","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fda5fb8.b06fc","type":"ui_group","z":"","name":"monitoring","tab":"9b3ca8c8.e0c2a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0db7773.4f7e18","type":"ui_group","z":"","name":"Chart","tab":"9b3ca8c8.e0c2a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"9b3ca8c8.e0c2a8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":12,"disabled":false,"hidden":true},{"id":"c6505ffb.a8eac","type":"ui_tab","z":"","name":"Log in example","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"4d9f5132.d888c","type":"ui_tab","z":"","name":"Đăng Nhập","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"dae96f94.bd5cb","type":"ui_group","z":"","name":"ĐIỀU KHIỂN THIẾT BỊ","tab":null,"order":5,"disp":true,"width":6,"collapse":false},{"id":"9e0000a8.f93b5","type":"ui_group","z":"","name":"Data Export","tab":"6871a6f.5c3bc58","order":1,"disp":true,"width":"12"},{"id":"6871a6f.5c3bc58","type":"ui_tab","z":"","name":"Download","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"95942421.f2f708","type":"filebrowser","z":"","share":"","port":"","domain":"","username":"","password":"","workdir":"","name":"","sshKeyPath":"","additionalLftpCommands":""},{"id":"de01b451.4ebdc8","type":"filebrowser","z":"","repositoryType":"SMB","share":"\\\\SHARE1\\public","port":"445","domain":"","username":"MyUsername","password":"MyPassword","workdir":"","name":"SHARE1","sshKeyPath":"","additionalLftpCommands":""},{"id":"17a09ea9.cc3e01","type":"filebrowser","z":"","repositoryType":"SMB","share":"\\\\SHARE1\\public","port":"445","domain":"","username":"MyUsername","password":"MyPassword","workdir":"","name":"SHARE1","sshKeyPath":"","additionalLftpCommands":""},{"id":"e74f1c52.eb3a9","type":"Cache","z":"dfa3e3ba.4d5ad","name":"rep1","defaultTtl":"60","checkPeriod":"60"},{"id":"5b32f6a8.7ccd18","type":"ui_group","z":"","name":"control","tab":"17f67b4d.97aa85","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b337905.08f118","type":"ui_group","z":"","name":"log in","tab":"c6505ffb.a8eac","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddcf9fbb.be507","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d0769f8.7a9098","type":"ui_group","z":"","name":"monitoring","tab":"17f67b4d.97aa85","order":2,"disp":true,"width":"6","collapse":false},{"id":"cca69ad9.0fd338","type":"ui_group","z":"","name":"Chart","tab":"17f67b4d.97aa85","order":3,"disp":true,"width":"6","collapse":false},{"id":"17f67b4d.97aa85","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":10,"disabled":false,"hidden":true},{"id":"66ccba97.13e1f4","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":null,"order":4,"disp":true,"width":6,"collapse":false},{"id":"c4e24e8.77934b","type":"ui_tab","z":"","name":"login download","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"f1ba7d8.050878","type":"ui_group","z":"","name":"link","tab":"6871a6f.5c3bc58","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d1a5aa.9db74a6","type":"ui_group","z":"","name":"login download","tab":"c4e24e8.77934b","order":1,"disp":true,"width":"6","collapse":false},{"id":"76edca7a.fd0734","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"71e0027c.5a5afc","type":"arduino-board","z":"e715dbbb.2d5808","device":"COM5"},{"id":"a0a2d061.a1a4d","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"60b28f1d.34bc7","type":"serial-port","z":"","serialport":"COM10","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"64e64cf.f0398b4","type":"ui_group","z":"","name":"Tải Về Dữ Liệu","tab":null,"order":3,"disp":true,"width":6,"collapse":false},{"id":"c6aabc3a.6ec46","type":"ui_group","z":"","name":"☰ Danh Mục","tab":"76edca7a.fd0734","order":1,"disp":true,"width":"6","collapse":false},{"id":"b28d38f7.71ce08","type":"ui_group","z":"","name":"Signin","tab":"63b2dbed.c08bc4","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8e7a48.aa7dd58","type":"ui_group","z":"","name":"SensorData","tab":"63b2dbed.c08bc4","order":2,"disp":true,"width":"6","collapse":false},{"id":"9aaef44f.c121f8","type":"ui_group","z":"","name":"History","tab":"63b2dbed.c08bc4","order":3,"disp":true,"width":"6","collapse":false},{"id":"63b2dbed.c08bc4","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":6,"disabled":true,"hidden":true},{"id":"77656d93.93e2a4","type":"ui_group","z":"","name":"Thông Số Trạng Thái","tab":null,"order":2,"disp":true,"width":6,"collapse":false},{"id":"63c6482d.1ef448","type":"ui_group","z":"","name":"Google sheets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c64459a.28332a","type":"google-service-account","z":"3c8f9228.949c9e","name":"","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"1794bc9c.0e09f3","type":"ui_group","z":"","name":"ĐĂNG NHẬP","tab":"4d9f5132.d888c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c1bce4e.9751a2","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":2,"width":3,"height":1},{"id":"57ef999f.fd5a18","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":4,"width":3,"height":1},{"id":"5aa01c23.4e3c14","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":6,"width":3,"height":1},{"id":"bc235f0d.8d64c","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"982c56d6.e40588","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"3e9b0c9.afc4df4","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"bc750392.96a02","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":"76edca7a.fd0734","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a030af9.5d0166","type":"ui_group","z":"","name":"Danh Mục","tab":"bc235f0d.8d64c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d165075a.6f6b38","type":"ui_group","z":"","name":"Danh Mục","tab":"982c56d6.e40588","order":1,"disp":true,"width":"6","collapse":false},{"id":"3595bbbe.b1f174","type":"ui_group","z":"","name":"Danh Mục","tab":"3e9b0c9.afc4df4","order":1,"disp":true,"width":"6","collapse":false},{"id":"bcab381b.17d788","type":"ui_group","z":"","name":"Tải về dữ liệu","tab":"3e9b0c9.afc4df4","order":2,"disp":true,"width":"6","collapse":false},{"id":"74220ceb.72af34","type":"ui_group","z":"","name":"Điều Khiển Thiết Bị","tab":"bc235f0d.8d64c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2df4200b.89e3d","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":"982c56d6.e40588","order":2,"disp":true,"width":"6","collapse":false},{"id":"9da6bc03.2f5bf","type":"file","z":"104d1555.17743b","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":220,"wires":[["272df8ab.657378","b90d59cf.ab3138"]],"info":"`var date = getDate();`"},{"id":"2d4a6015.5414e","type":"inject","z":"104d1555.17743b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["9da6bc03.2f5bf"]]},{"id":"272df8ab.657378","type":"debug","z":"104d1555.17743b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"af0699c3.7945f8","type":"function","z":"104d1555.17743b","name":"","func":"var now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\n\nvar count =0;\n\nif(1<=day<=7)\n{\nvar str1 = \"\";\nvar str_1 = str1.concat(\"D:/home/year-\",year,\"/month-\",month+1,\"/week1/day-\",day,\".txt\");\nmsg.filename = str_1;\nmsg.payload = count++;\n}\n\nif(8<=day<=15)\n{\nvar str2 = \"\";\nvar str_2 = str2.concat(\"D:/home/year-\",year,\"/month-\",month+1,\"/week2/day-\",day,\".txt\");\nmsg.filename = str_2;\n}\nif(16<=day<=23)\n{\nvar str3 = \"\";\nvar str_3 = str3.concat(\"D:/home/year-\",year,\"/month-\",month+1,\"/week3/day-\",day,\".txt\");\nmsg.filename = str_3;\n}\nif(24<=day<=31)\n{\nvar str4 = \"\";\nvar str_4 = str4.concat(\"D:/home/year-\",year,\"/month-\",month+1,\"/week4/day-\",day,\".txt\");\nmsg.filename = str_4;\ncount++;\nvar time = str4.concat(hour,\":\",minute,\":\",second,\" \",count++);\nmsg.payload = time;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":140,"wires":[["372eb3d.81d9c4c","9da6bc03.2f5bf"]]},{"id":"56491669.41e098","type":"inject","z":"104d1555.17743b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["af0699c3.7945f8"]]},{"id":"372eb3d.81d9c4c","type":"debug","z":"104d1555.17743b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":140,"wires":[]},{"id":"99154e94.51e","type":"debug","z":"a3ce9c78.8da62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":560,"wires":[]},{"id":"9dd98052.7f1fa","type":"mqtt out","z":"a3ce9c78.8da62","name":"LAMP","topic":"room/lamp","qos":"2","retain":"true","broker":"d503915.1d5ad7","x":350,"y":160,"wires":[]},{"id":"4193da8b.7c9834","type":"function","z":"a3ce9c78.8da62","name":"Processing log in","func":"if(msg.payload.user==\"sensor\" && msg.payload.pass==\"sensor\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":540,"wires":[["99154e94.51e","5e82d3ab.52da5c"]]},{"id":"f4b39e51.fea1d","type":"function","z":"a3ce9c78.8da62","name":"wrong","func":"if(msg.payload.user!=\"sensor\"|| msg.payload.pass!=\"sensor\"){\n    msg.payload=\"you entered the wrong password or username\"\n}else{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":620,"wires":[["fde74c91.90be7"]]},{"id":"fde74c91.90be7","type":"switch","z":"a3ce9c78.8da62","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":620,"wires":[["fe8a4ee7.65aff"]]},{"id":"6afd12c7.e88c0c","type":"mqtt in","z":"a3ce9c78.8da62","name":"","topic":"room/lamp_status","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":200,"y":80,"wires":[["3d660bfb.f1fc24","619e80a6.9d6da"]]},{"id":"4c2411b7.2fe4d","type":"mqtt in","z":"a3ce9c78.8da62","name":"","topic":"monitor/warning","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":190,"y":280,"wires":[["d696833f.a3f73","bd980a27.c74908"]]},{"id":"9dadd177.4bd52","type":"mqtt in","z":"a3ce9c78.8da62","name":"","topic":"monitor/temperature","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":200,"y":340,"wires":[["8d5fd8cd.d0eba8"]]},{"id":"35865fc8.ea697","type":"mqtt in","z":"a3ce9c78.8da62","name":"","topic":"monitor/humidity","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":190,"y":400,"wires":[["75507601.5a9dd8","f8686347.49c28"]]},{"id":"817b4e53.1fae9","type":"mqtt out","z":"a3ce9c78.8da62","name":"","topic":"room/relay2","qos":"2","retain":"true","broker":"d503915.1d5ad7","x":480,"y":220,"wires":[]},{"id":"b4bc3000.ce3b5","type":"ui_switch","z":"a3ce9c78.8da62","name":"","label":"Relay 1","tooltip":"","group":"dedc12e0.a6e57","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":190,"y":160,"wires":[["9dd98052.7f1fa","20a338ae.ba2338"]]},{"id":"744dea83.a0ce44","type":"ui_form","z":"a3ce9c78.8da62","name":"","label":"","group":"dedc12e0.a6e57","order":1,"width":0,"height":0,"options":[{"label":"User name","value":"user","type":"text","required":true,"rows":null},{"label":"Password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":540,"wires":[["4193da8b.7c9834","f4b39e51.fea1d"]]},{"id":"3d660bfb.f1fc24","type":"ui_text","z":"a3ce9c78.8da62","group":"dedc12e0.a6e57","order":2,"width":0,"height":0,"name":"","label":"status relay","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":120,"wires":[]},{"id":"d696833f.a3f73","type":"ui_text","z":"a3ce9c78.8da62","group":"fd22b45d.60c9f8","order":1,"width":0,"height":0,"name":"","label":"Warnning 1","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":280,"wires":[]},{"id":"8d5fd8cd.d0eba8","type":"ui_gauge","z":"a3ce9c78.8da62","name":"","group":"fd22b45d.60c9f8","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":340,"wires":[]},{"id":"f8686347.49c28","type":"ui_gauge","z":"a3ce9c78.8da62","name":"","group":"fd22b45d.60c9f8","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":440,"wires":[]},{"id":"75507601.5a9dd8","type":"ui_chart","z":"a3ce9c78.8da62","name":"","group":"fd22b45d.60c9f8","order":3,"width":"6","height":"5","label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1e75b3","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":400,"wires":[[]]},{"id":"fe8a4ee7.65aff","type":"ui_toast","z":"a3ce9c78.8da62","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":700,"y":640,"wires":[[]]},{"id":"5e82d3ab.52da5c","type":"ui_ui_control","z":"a3ce9c78.8da62","name":"","events":"connect","x":570,"y":500,"wires":[[]]},{"id":"28ccb312.602fdc","type":"ui_switch","z":"a3ce9c78.8da62","name":"","label":"relay 2","tooltip":"","group":"dedc12e0.a6e57","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off1","offvalueType":"str","officon":"","offcolor":"","x":180,"y":220,"wires":[["817b4e53.1fae9","8ef9150d.9e3bf8"]]},{"id":"20a338ae.ba2338","type":"debug","z":"a3ce9c78.8da62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":120,"wires":[]},{"id":"8ef9150d.9e3bf8","type":"debug","z":"a3ce9c78.8da62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":180,"wires":[]},{"id":"bd980a27.c74908","type":"debug","z":"a3ce9c78.8da62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":240,"wires":[]},{"id":"619e80a6.9d6da","type":"debug","z":"a3ce9c78.8da62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":80,"wires":[]},{"id":"fa4b1d4e.553ed","type":"ui_switch","z":"ecf5f308.0de6d","name":"","label":"Relay 1","tooltip":"","group":"e2d945e6.501548","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":260,"y":140,"wires":[["36669234.26e06e"]]},{"id":"f08be1ab.15c74","type":"debug","z":"ecf5f308.0de6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"36669234.26e06e","type":"mqtt out","z":"ecf5f308.0de6d","name":"LAMP","topic":"room/lamp","qos":"2","retain":"true","broker":"467908c2.d06168","x":420,"y":140,"wires":[]},{"id":"f66bb061.16d55","type":"function","z":"ecf5f308.0de6d","name":"Processing log in","func":"if(msg.payload.user==\"user\" && msg.payload.pass==\"user\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":540,"wires":[["f08be1ab.15c74","7c145c41.7636c4"]]},{"id":"5d986d3b.ccc634","type":"function","z":"ecf5f308.0de6d","name":"wrong","func":"if(msg.payload.user!=\"user\"|| msg.payload.pass!=\"user\"){\n    msg.payload=\"you entered the wrong password or username\"\n}else{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":620,"wires":[["6c63004.e3ac7"]]},{"id":"5aab67e3.573338","type":"switch","z":"ecf5f308.0de6d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":620,"wires":[["6c63004.e3ac7"]]},{"id":"6c63004.e3ac7","type":"ui_toast","z":"ecf5f308.0de6d","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":700,"y":640,"wires":[[]]},{"id":"7c145c41.7636c4","type":"ui_ui_control","z":"ecf5f308.0de6d","name":"","events":"connect","x":600,"y":520,"wires":[[]]},{"id":"e30c8b33.daa778","type":"ui_text","z":"ecf5f308.0de6d","group":"e2d945e6.501548","order":1,"width":0,"height":0,"name":"","label":"status relay","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":80,"wires":[]},{"id":"7fc287c2.347b78","type":"mqtt in","z":"ecf5f308.0de6d","name":"","topic":"room/lamp_status","qos":"2","datatype":"auto","broker":"467908c2.d06168","x":270,"y":80,"wires":[["e30c8b33.daa778"]]},{"id":"7ecab5c4.8b23dc","type":"ui_switch","z":"ecf5f308.0de6d","name":"","label":"relay 2","tooltip":"","group":"e2d945e6.501548","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off1","offvalueType":"str","officon":"","offcolor":"","x":250,"y":200,"wires":[["b50544d4.214c78"]]},{"id":"f4d76beb.c9db78","type":"ui_text","z":"ecf5f308.0de6d","group":"5fda5fb8.b06fc","order":2,"width":0,"height":0,"name":"","label":"Warnning 1","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":260,"wires":[]},{"id":"2edc5f4a.54ac4","type":"ui_gauge","z":"ecf5f308.0de6d","name":"","group":"5fda5fb8.b06fc","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C ","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":320,"wires":[]},{"id":"ec6d646c.e00e18","type":"ui_gauge","z":"ecf5f308.0de6d","name":"","group":"5fda5fb8.b06fc","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":360,"wires":[]},{"id":"b2a35ee0.7165e","type":"mqtt in","z":"ecf5f308.0de6d","name":"","topic":"monitor/warning","qos":"1","datatype":"auto","broker":"467908c2.d06168","x":260,"y":260,"wires":[["f4d76beb.c9db78"]]},{"id":"93a36b0.df0c998","type":"mqtt in","z":"ecf5f308.0de6d","name":"","topic":"monitor/temperature","qos":"2","datatype":"auto","broker":"467908c2.d06168","x":270,"y":320,"wires":[["2edc5f4a.54ac4","8b1fe15b.ccc9b"]]},{"id":"d5d434dc.c42e78","type":"mqtt in","z":"ecf5f308.0de6d","name":"","topic":"monitor/humidity","qos":"2","datatype":"auto","broker":"467908c2.d06168","x":260,"y":360,"wires":[["ec6d646c.e00e18","ff9a45a1.3b32a8"]]},{"id":"b50544d4.214c78","type":"mqtt out","z":"ecf5f308.0de6d","name":"","topic":"room/relay2","qos":"2","retain":"true","broker":"467908c2.d06168","x":550,"y":200,"wires":[]},{"id":"82acd3c5.787a4","type":"ui_chart","z":"ecf5f308.0de6d","name":"","group":"a0db7773.4f7e18","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"100","useOneColor":false,"useUTC":false,"colors":["#386b8f","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":420,"wires":[[]]},{"id":"a418d527.be9aa8","type":"ui_chart","z":"ecf5f308.0de6d","name":"","group":"a0db7773.4f7e18","order":3,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"100","useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":460,"wires":[[]]},{"id":"8b1fe15b.ccc9b","type":"trigger","z":"ecf5f308.0de6d","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":420,"wires":[["82acd3c5.787a4"]]},{"id":"ff9a45a1.3b32a8","type":"trigger","z":"ecf5f308.0de6d","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":460,"wires":[["a418d527.be9aa8"]]},{"id":"f9713531.7266c8","type":"http in","z":"104d1555.17743b","name":"","url":"/mysite","method":"get","upload":false,"swaggerDoc":"","x":190,"y":520,"wires":[["5bcd5daa.0e0294"]]},{"id":"7608c8c5.cb86a8","type":"http in","z":"104d1555.17743b","name":"","url":"/mysitepost","method":"post","upload":false,"swaggerDoc":"","x":210,"y":720,"wires":[["190eee6a.7dccf2","1f761ef5.7b23c1"]]},{"id":"5bcd5daa.0e0294","type":"function","z":"104d1555.17743b","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":520,"wires":[["39d297b4.e933a8"]]},{"id":"190eee6a.7dccf2","type":"debug","z":"104d1555.17743b","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":720,"wires":[]},{"id":"1f97ecbb.896443","type":"http response","z":"104d1555.17743b","name":"","statusCode":"","headers":{},"x":870,"y":680,"wires":[]},{"id":"fc5489f5.9ebc48","type":"template","z":"104d1555.17743b","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":590,"y":620,"wires":[["60ae1d38.10b444"]]},{"id":"39d297b4.e933a8","type":"template","z":"104d1555.17743b","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":430,"y":620,"wires":[["fc5489f5.9ebc48"]]},{"id":"c2c4460e.c1b0b8","type":"http response","z":"104d1555.17743b","name":"","statusCode":"","headers":{},"x":870,"y":620,"wires":[]},{"id":"60ae1d38.10b444","type":"template","z":"104d1555.17743b","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":730,"y":620,"wires":[["c2c4460e.c1b0b8"]]},{"id":"3a204731.5a79f8","type":"comment","z":"104d1555.17743b","name":"Login Form","info":"","x":410,"y":580,"wires":[]},{"id":"4d5ad030.5bf3f","type":"function","z":"104d1555.17743b","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":680,"wires":[["1f97ecbb.896443"]]},{"id":"2861b0bf.0dd66","type":"comment","z":"104d1555.17743b","name":"Inject msg object properties","info":"","x":420,"y":460,"wires":[]},{"id":"1f761ef5.7b23c1","type":"json","z":"104d1555.17743b","name":"","property":"payload","action":"","pretty":false,"x":410,"y":680,"wires":[["4d5ad030.5bf3f"]]},{"id":"90ac974f.e59878","type":"comment","z":"104d1555.17743b","name":"Website","info":"","x":190,"y":460,"wires":[]},{"id":"abd16e48.6b6f","type":"comment","z":"104d1555.17743b","name":"Form Submission","info":"","x":200,"y":660,"wires":[]},{"id":"a318ef31.26fe5","type":"comment","z":"104d1555.17743b","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":430,"y":380,"wires":[]},{"id":"e135051d.a85a38","type":"mqtt in","z":"104d1555.17743b","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":170,"y":80,"wires":[["af0699c3.7945f8","c7790ef3.37c58"]]},{"id":"c7790ef3.37c58","type":"debug","z":"104d1555.17743b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":80,"wires":[]},{"id":"4090c8fc.62d4b8","type":"function","z":"47f6b098.d0c9","name":"Function 1","func":"var count=context.get('count') || 0;\ncount +=1;\nmsg.payload=\"F1 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;\n//\n//","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":60,"wires":[["da553efe.9e644"]]},{"id":"da553efe.9e644","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":640,"y":120,"wires":[]},{"id":"eff3a6ea.7c47c8","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":350,"y":129,"wires":[["4090c8fc.62d4b8"]]},{"id":"e4bc878.cc49478","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":348,"y":449,"wires":[["9af9e0f6.e9038"]]},{"id":"9af9e0f6.e9038","type":"function","z":"47f6b098.d0c9","name":"Uses Object","func":"var local=context.get('data') || {};\nif (local.count===undefined)//test exists\n{\n  local.count=0;\n}\nlocal.count +=1;\nmsg.payload=\"F2 \"+msg.payload+\" \"+local.count;\ncontext.set('data',local);\nreturn msg;\n//","outputs":1,"noerr":0,"initialize":"","finalize":"","x":511,"y":406,"wires":[["2191156b.255e0a"]]},{"id":"2191156b.255e0a","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":680,"y":438,"wires":[]},{"id":"73028b91.6144d4","type":"inject","z":"47f6b098.d0c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":353,"y":621,"wires":[["df39591b.76a408"]]},{"id":"df39591b.76a408","type":"function","z":"47f6b098.d0c9","name":"With Flow","func":"//var count=context.get('count') || 0;\n// var count1 = \"kt1\"\n// var count=flow.get('count') || \"\";\n\nvar count1 =\"111\";\nmsg.payload=\"F5 \"+msg.payload+\" \"+count1;\nflow.set('count1',count1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":505,"y":533,"wires":[["de850ae5.9e9778"]]},{"id":"de850ae5.9e9778","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":627,"y":627,"wires":[]},{"id":"a82cd753.78dba8","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":357,"y":722,"wires":[["7379840c.2d4bfc"]]},{"id":"7379840c.2d4bfc","type":"function","z":"47f6b098.d0c9","name":"With Flow","func":"var count2=flow.get('count1') || \"none\";\n\ncount2 +=\"2\";\nmsg.payload=\"F6 \"+msg.payload+\" \"+count2;\nflow.set('count2',count2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":680,"wires":[["7756d358.90848c"]]},{"id":"7756d358.90848c","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":636,"y":724,"wires":[]},{"id":"1ca21631.fde4ba","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":326,"y":357,"wires":[["a473399f.6b1ed8"]]},{"id":"a473399f.6b1ed8","type":"function","z":"47f6b098.d0c9","name":"Multiple variables","func":"var count=context.get('count') || 0;\nvar count2=context.get('count2') || 0;\n\n//\n\ncount +=1;\ncount2 +=2;\nmsg.payload=\"F3 \"+msg.payload+\" \"+count +\" \"+count2;\ncontext.set('count',count);\ncontext.set('count2',count2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":316,"wires":[["113c6554.c8f10b"]]},{"id":"113c6554.c8f10b","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":683,"y":366,"wires":[]},{"id":"ef584eb4.3f396","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":320,"y":808,"wires":[["909778de.55c0e8"]]},{"id":"909778de.55c0e8","type":"function","z":"47f6b098.d0c9","name":"Reset","func":"var count=flow.get('count') || 0;\n\ncount =0;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":497,"y":807,"wires":[[]]},{"id":"1e7128c4.5dd1a7","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":378,"y":959,"wires":[["5b1625ac.854f5c"]]},{"id":"5b1625ac.854f5c","type":"function","z":"47f6b098.d0c9","name":"With Global","func":"\nvar count=flow.get('count') || 0;\nvar gcount=global.get('count') || 0;\n\ncount +=1;\nmsg.payload=\"F10 \"+\" flow= \"+count+ \"  global= \"+gcount;\nflow.set('count',count);\nglobal.set('count',gcount);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":527,"y":866,"wires":[["948b0ba4.43bdc8"]]},{"id":"948b0ba4.43bdc8","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":690,"y":947,"wires":[]},{"id":"a441c6d8.14dc98","type":"inject","z":"47f6b098.d0c9","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":369,"y":1072,"wires":[["6fc348be.a377b8"]]},{"id":"6fc348be.a377b8","type":"function","z":"47f6b098.d0c9","name":"Global Reset","func":"var count=flow.get('count') || 0;\n\ncount =0;\nflow.set('count',count);\nglobal.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"x":566,"y":1071,"wires":[[]]},{"id":"a5167cdd.84185","type":"inject","z":"47f6b098.d0c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":357,"y":237,"wires":[["f9885c66.c0922"]]},{"id":"f9885c66.c0922","type":"function","z":"47f6b098.d0c9","name":"Function 2","func":"var count=context.get('count') || 0;\nnode.log(count);\n//\n\ncount +=1;\nmsg.payload=\"F2 \"+msg.payload+\" \"+count;\ncontext.set('count',count);\nreturn msg;\n//\n//","outputs":1,"noerr":0,"initialize":"","finalize":"","x":514,"y":178,"wires":[["b573edd4.26524"]]},{"id":"b573edd4.26524","type":"debug","z":"47f6b098.d0c9","name":"","active":true,"console":"false","complete":"false","x":686,"y":227,"wires":[]},{"id":"5c8e0110.45c3b","type":"comment","z":"47f6b098.d0c9","name":"flow","info":"","x":270,"y":540,"wires":[]},{"id":"b0906413.4d2d88","type":"inject","z":"9e4f561c.127778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":430,"y":240,"wires":[["5b7519e4.bb8968"]]},{"id":"5b7519e4.bb8968","type":"function","z":"9e4f561c.127778","name":"With Global","func":"\nvar count=flow.get('count') || 0;\nvar gcount=global.get('count') || 0;\n\ncount +=1;\ngcount +=5;\nmsg.payload=\"F10 \"+\" flow= \"+count+ \"  global= \"+gcount;\nflow.set('count',count);\nglobal.set('count',gcount);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":147,"wires":[["8038cabb.5815d8"]]},{"id":"8038cabb.5815d8","type":"debug","z":"9e4f561c.127778","name":"","active":true,"console":"false","complete":"false","x":720,"y":228,"wires":[]},{"id":"b90d59cf.ab3138","type":"ui_text","z":"104d1555.17743b","group":"a0db7773.4f7e18","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":180,"wires":[]},{"id":"5ef47253.48e3fc","type":"http in","z":"dfa3e3ba.4d5ad","name":"","url":"/repositories/filters","method":"get","upload":false,"swaggerDoc":"","x":120,"y":440,"wires":[["b3e9485.c97aeb8"]]},{"id":"b3e9485.c97aeb8","type":"template","z":"dfa3e3ba.4d5ad","name":"params page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form class=\"ui form\">\n\n  <div class=\"ui toggle checkbox\">\n      <input name=\"useFulltext\" type=\"checkbox\" checked=\"checked\">\n      <label>{{flow.LOCALIZED.useIndex}}</label>\n     \n    </div>\n\n <div></div>\n\n   <div class=\"field\">\n      <label>{{flow.LOCALIZED.itemType}}</label>\n      <select name=\"itemType\" class=\"ui dropdown\">\n         <option value=\"all\" selected=\"selected\">{{flow.LOCALIZED.itemAll}}</option>\n         <option value=\"folder\">{{flow.LOCALIZED.itemFolder}}</option>\n         <option value=\"file\">{{flow.LOCALIZED.itemFile}}</option>\n      </select>\n   </div>\n \n   <div class=\"field\">\n      <label>{{flow.LOCALIZED.maxResults}}</label>\n      <select name=\"maxResults\" class=\"ui dropdown\">\n         <option value=\"30\" selected=\"selected\">30</option>\n         <option value=\"50\">50</option>\n         <option value=\"100\">100</option>\n         <option value=\"*\">*</option>\n \n      </select>\n   </div>\n\n</form>","output":"str","x":510,"y":440,"wires":[["42012230.55db0c"]]},{"id":"42012230.55db0c","type":"http response","z":"dfa3e3ba.4d5ad","name":"","statusCode":"","headers":{},"x":970,"y":440,"wires":[]},{"id":"96064dbe.ddb8e","type":"http in","z":"dfa3e3ba.4d5ad","name":"","url":"/repositories/sort","method":"get","upload":false,"swaggerDoc":"","x":120,"y":480,"wires":[["eaec907d.ec3f"]]},{"id":"eaec907d.ec3f","type":"template","z":"dfa3e3ba.4d5ad","name":"params page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form class=\"ui form\">\n   <div class=\"field\">\n      <label>{{flow.LOCALIZED.sort}}</label>\n      <select name=\"order\" class=\"ui dropdown\">\n        <option value=\"lastmod\">{{flow.LOCALIZED.sort_default}}</option>\n         <option value=\"lastmod\">{{flow.LOCALIZED.sort_date}}</option>\n         <option value=\"name\">{{flow.LOCALIZED.sort_title}}</option>\n         <option value=\"size\">{{flow.LOCALIZED.sort_size}}</option>\n         <option value=\"type\">{{flow.LOCALIZED.sort_type}}</option>\n      </select>\n   </div>\n   \n   <div class=\"field\">\n      <label>{{flow.LOCALIZED.sortOrder}}</label>\n      <select name=\"sortorder\" class=\"ui dropdown\">\n         <option value=\"asc\">{{flow.LOCALIZED.sortOrderAsc}}</option>\n         <option value=\"desc\">{{flow.LOCALIZED.sortOrderDesc}}</option>\n      </select>\n   </div>\n</form>\n\n\n\n","output":"str","x":510,"y":480,"wires":[["18ea98c8.e80be7"]]},{"id":"18ea98c8.e80be7","type":"http response","z":"dfa3e3ba.4d5ad","name":"","statusCode":"","headers":{},"x":970,"y":480,"wires":[]},{"id":"fb77a012.e82ba","type":"inject","z":"dfa3e3ba.4d5ad","name":"Once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":90,"y":200,"wires":[["57971d68.bd1164"]]},{"id":"57971d68.bd1164","type":"function","z":"dfa3e3ba.4d5ad","name":"Localization","func":"var localization = {\n    \"en_EN\": {\n        \"useIndex\" : \"Use fulltext index\",\n        \"maxResults\": \"Results per page\",\n        \"itemType\"  : \"Item type\",\n        \"itemAll\"   : \"All\",\n        \"itemFolder\" : \"Folder\",\n        \"itemFile\" : \"File\",\n        \"sort\":\"Sort by\",\n        \"sort_default\": \"Default\",\n        \"sort_date\":\"Date\",\n        \"sort_type\":\"Type\",\n        \"sort_size\":\"Size\",\n        \"sort_title\":\"Name\",\n        \"sortOrder\" : \"Sort order\",\n        \"sortOrderAsc\" : \"Ascending\",\n        \"sortOrderDesc\" : \"Descending\",\n       \n    },\n    \"de_DE\": {\n        \"useIndex\" : \"Volltextsuche verwenden\",\n        \"maxResults\": \"Ergebnisse pro Seite\",\n        \"itemType\"  : \"Typ\",\n        \"itemAll\"   : \"Alle\",\n        \"itemFolder\" : \"Verzeichnisse\",\n        \"itemFile\" : \"Dateien\",\n        \"sort\":\"Soriteren nach\",\n        \"sort_default\": \"Standart\",\n        \"sort_date\":\"Datum\",\n        \"sort_type\":\"Typ\",\n        \"sort_size\":\"Größe\",\n        \"sort_title\":\"Name\",\n        \"sortOrder\" : \"Sortiereihenfolge\",\n        \"sortOrderAsc\" : \"aufsteigend\",\n        \"sortOrderDesc\" : \"absteigend\",\n    },\n    \"fr_FR\": {\n        \"useIndex\" : \" Use fulltext index\",\n        \"maxResults\": \"Results per page\",\n        \"license\": \"License\",\n        \"ignore\": \"Ignore\",\n        \"lang\": \"Relevance language\",\n        \"lang_ar\": \"Arabic\",\n        \"lang_bg\": \"Bulgarian\",\n        \"lang_da\": \"Dänisch\",\n        \"lang_nl\": \"Niederländisch, Flämisch\",\n        \"lang_en\": \"Englisch\",\n        \"lang_fr\": \"Französisch\",\n        \"lang_de\": \"Deutsch\",\n        \"lang_es\": \"Spanisch\",\n        \"sort\":\"Sort by\",\n        \"sort_date\":\"Date\",\n        \"sort_type\":\"Rating\",\n        \"sort_size\":\"Video count\",\n        \"sort_title\":\"Title\",\n    }\n}\nvar language = flow.get(\"LANGUAGE\");\nvar localized = localization[language];\nflow.set(\"LOCALIZED\", localized);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":200,"wires":[[]]},{"id":"9156d45f.bde318","type":"http response","z":"dfa3e3ba.4d5ad","name":"","statusCode":"200","headers":{},"x":1200,"y":240,"wires":[]},{"id":"f050ff10.cfeaf","type":"filebrowser in","z":"dfa3e3ba.4d5ad","filebrowser":"17a09ea9.cc3e01","rules":[{"t":null},{"t":null}],"x":750,"y":340,"wires":[["f99f3931.38a648"]]},{"id":"f99f3931.38a648","type":"function","z":"dfa3e3ba.4d5ad","name":"Pivot format","func":"var responseData = msg.payload;\nvar OPENMEDIA_MAPPING = flow.get(\"OPENMEDIA_MAPPING\");\n//we have to regenerate the fullpath for each item in the breadcrumb\n\n\nvar breadcrumb = [];\n    for (i=0;i<msg.fullPath.length;i++){\n        breadcrumb.push({\n                name:msg.fullPath[i].name,\n                payload:{\n                 remotePath: msg.fullPath[i].remotePath,\n                 fullPath: msg.fullPath.slice(0, i+1)\n             },\n             active:(i<msg.fullPath.length -1) ? false:true\n            })     \n    }\n\n\n\n\nmsg.payload = {\n  resultCount: responseData.items.length + \" results\",\n  navigation: {\n    breadcrumb: breadcrumb\n  },\n  dropdown: [],\n  items: []\n};\n\n\n\nif (responseData.items.length > 0) {\n    responseData.items =  sortResults(responseData, msg.sort, msg.sort_ascending);\n    node.warn(responseData);\n  for (var i = 0; i < responseData.items.length; i++) {\n      var type = responseData.items[i].type;\n      var mime = responseData.items[i].mime;\n      var iconName = \"file\"; // default icon \n      var destTempateType = \"default\";\n  if  (mime) {\n    if (mime.startsWith(\"audio\")) {\n        iconName = \"music\";\n        destTempateType =\"audio\"\n    }\n    if (mime.startsWith(\"video\")) {\n        iconName = \"video\"; \n        destTempateType =\"video\"\n    }\n    if (mime.startsWith(\"image\")) {\n        iconName = \"image\";   \n        destTempateType =\"image\"\n    }\n  }\n      \n    msg.payload.items.push({\n      key: responseData.items[i].id.videoId,\n      rawData: responseData.items[i],\n      presentation: {\n        title: responseData.items[i].name,\n        iconName: type===\"folder\" ? \"folder\" : iconName,\n        \n        iconColor:  type===\"folder\" ? \"yellow\" : \"grey\",\n        mediaType: null,\n    //    thumbnail: responseData.items[i].snippet.thumbnails.medium.url,\n    //    highres: responseData.items[i].snippet.thumbnails.high.url,\n        meta: [\n          {\n            name: \"Type\",\n            value: type===\"folder\" ? \"FOLDER\" : responseData.items[i].filename.split(\".\").pop().toUpperCase(),\n            icon: null\n          },\n          {\n            name: \"Last modified\",\n            value: timeAgo(responseData.items[i].lastmod),\n            icon: \"clock\"\n          },\n          {\n            name: \"Size\",\n           value: formattedSize(responseData.items[i].size),\n            icon: null\n          }\n          \n          \n        ]\n      },\n      navigation: {\n        type: type===\"folder\" ?\"query\" : \"external\", // possible value: external then value must be a string self, query must be a JSON object, openmedia\n         payload: type===\"folder\" ? {\n             remotePath: responseData.items[i].id,\n             fullPath: msg.fullPath.concat(\n                 {\n                     name:responseData.items[i].name,\n                     remotePath: responseData.items[i].id\n                 })\n         } : responseData.items[i].url\n        //type:\"query\",\n        //value:nextResultsPayload\n      },\n      openmedia: {\n        templateId: OPENMEDIA_MAPPING.templateId[destTempateType],\n        poolId: OPENMEDIA_MAPPING.poolId,\n        folderId: OPENMEDIA_MAPPING.folderId,\n        systemId: OPENMEDIA_MAPPING.systemId,\n        OMISCommandAfterCreation: {\n          pluginID: OPENMEDIA_MAPPING.OMISCommandAfterCreation.pluginID,\n          commandID: OPENMEDIA_MAPPING.OMISCommandAfterCreation.commandID\n        },\n        fields: [\n          {\n              //title\n            fieldId: OPENMEDIA_MAPPING.fields.title,\n            valueType:1,\n            value: responseData.items[i].name\n          },\n           {\n               //External Unique ID\n            fieldId: OPENMEDIA_MAPPING.fields.id,\n            valueType:1,\n           value: responseData.items[i].url\n          },\n           {\n               //url\n            fieldId: OPENMEDIA_MAPPING.fields.url,\n            valueType:1,\n           value: responseData.items[i].url\n          }\n        ]\n      },\n      dragAndDrop: []\n    });\n    \n   \n  }\n}\n\nreturn msg;\n\n\n\nfunction sortResults(responseData, prop, asc) {\n    \n    return responseData.items.sort(function(a, b) {\n        if (asc) {\n            return (a[prop] > b[prop]) ? 1 : ((a[prop] < b[prop]) ? -1 : 0);\n        } else {\n            return (b[prop] > a[prop]) ? 1 : ((b[prop] < a[prop]) ? -1 : 0);\n        }\n    });\n\n \n    \n}\n\n\n\n\nfunction getFormattedDate(date, prefomattedDate = false, hideYear = false) {\n        const MONTH_NAMES = [\n  'January', 'February', 'March', 'April', 'May', 'June',\n  'July', 'August', 'September', 'October', 'November', 'December'\n];\n    \n  const day = date.getDate();\n  const month = MONTH_NAMES[date.getMonth()];\n  const year = date.getFullYear();\n  const hours = date.getHours();\n  let minutes = date.getMinutes();\n\n  if (minutes < 10) {\n    // Adding leading zero to minutes\n    minutes = `0${ minutes }`;\n  }\n\n  if (prefomattedDate) {\n    // Today at 10:20\n    // Yesterday at 10:20\n    return `${ prefomattedDate } at ${ hours }:${ minutes }`;\n  }\n\n  if (hideYear) {\n    // 10. January at 10:20\n    return `${ day }. ${ month } at ${ hours }:${ minutes }`;\n  }\n\n  // 10. January 2017. at 10:20\n  return `${ day }. ${ month } ${ year }. at ${ hours }:${ minutes }`;\n}\n\n\n// --- Main function\nfunction timeAgo(dateParam) {\n\n\n  if (!dateParam) {\n    return null;\n  }\n\n  const date = typeof dateParam === 'object' ? dateParam : new Date(dateParam);\n  const DAY_IN_MS = 86400000; // 24 * 60 * 60 * 1000\n  const today = new Date();\n  const yesterday = new Date(today - DAY_IN_MS);\n  const seconds = Math.round((today - date) / 1000);\n  const minutes = Math.round(seconds / 60);\n  const isToday = today.toDateString() === date.toDateString();\n  const isYesterday = yesterday.toDateString() === date.toDateString();\n  const isThisYear = today.getFullYear() === date.getFullYear();\n\n\n  if (seconds < 5) {\n    return 'now';\n  } else if (seconds < 60) {\n    return `${ seconds } seconds ago`;\n  } else if (seconds < 90) {\n    return 'about a minute ago';\n  } else if (minutes < 60) {\n    return `${ minutes } minutes ago`;\n  } else if (isToday) {\n    return getFormattedDate(date, 'Today'); // Today at 10:20\n  } else if (isYesterday) {\n    return getFormattedDate(date, 'Yesterday'); // Yesterday at 10:20\n  } else if (isThisYear) {\n    return getFormattedDate(date, false, true); // 10. January at 10:20\n  }\n\n  return getFormattedDate(date); // 10. January 2017. at 10:20\n}\n\nfunction formattedSize(size) {\n    //dividing by 10 afterwards give the first decimal\n    if (size > 1000000000000) return Math.round(size/100000000000)/10 + \" TB\"\n    if (size > 1000000000) return Math.round(size/100000000)/10 + \" GB\"\n    if (size > 1000000) return Math.round(size/100000)/10 + \" MB\"\n    if (size > 1000) return Math.round(size/100)/10 + \" KB\"\n    else return size + \" KB\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":340,"wires":[["9156d45f.bde318","849ed449.fdbf58"]]},{"id":"74fe64fa.ee4d9c","type":"function","z":"dfa3e3ba.4d5ad","name":"Found in cache ?","func":"//first output uses cache data\nif (msg.hasOwnProperty(\"payload\") && !!msg.payload){\n    return [msg,null];\n}else{\n    //second output goes to actual repository search\n    return [null, msg];\n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["9156d45f.bde318"],["f050ff10.cfeaf"]]},{"id":"9407f31a.4e716","type":"function","z":"dfa3e3ba.4d5ad","name":"Prepare Query","func":"node.warn(\"Received payload:\" + JSON.stringify(msg.payload));\nmsg.payload.repIx =  msg.req.params[0];\nmsg.cached_query= JSON.stringify(msg.payload);\nmsg.fullPath = msg.payload.fullPath||[{name:\"Home\",remotePath:\"\"}]\nmsg.remotePath  = msg.payload.remotePath||\"\";\nmsg.fulltextEngineURL = flow.get(\"FULLTEXTENGINE_URL\");\nmsg.repIx  = msg.req.params[0] ||\"1\";\nnode.warn(\"Request for Repository ID :\" +msg.repIx )\nif (msg.payload.useFulltext===\"on\") {\nmsg.useFulltext =  \"true\";\n\n    \n}\nelse \n{\n    msg.useFulltext =  \"false\"\n}\n\n\nmsg.query       = msg.payload.query||\"\";\nif (msg.query  ===\"\") {\n    msg.operation   = \"list\";\n}\nelse {\n    msg.operation   = \"find\";\n    if (msg.payload.hasOwnProperty(\"breadcrumb\")){\n    msg.remotePath = msg.payload.breadcrumb[msg.payload.breadcrumb.length-1].payload.remotePath;\n    }\n}\nmsg.sort            = msg.payload.sort;\"lastmod\"; //type, name, size, mime, lastmod\nif (msg.payload.sortorder == \"asc\"){\n    msg.sort_ascending = true;\n}\nelse {\n    msg.sort_ascending = false;  \n}\n\nmsg.payload = {};\nmsg.payload.filedata= '{}'; // Needs to be a string\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":320,"wires":[["cc0b4a83.089878"]]},{"id":"5a21cc96.17a584","type":"http in","z":"dfa3e3ba.4d5ad","name":"repository","url":"/repository/search/*","method":"get","upload":false,"swaggerDoc":"","x":80,"y":320,"wires":[["9407f31a.4e716"]]},{"id":"cc0b4a83.089878","type":"Cache in","z":"dfa3e3ba.4d5ad","name":"rep1","cache":"e74f1c52.eb3a9","keyType":"msg","keyProperty":"cached_query","valueType":"msg","valueProperty":"payload","useString":false,"outputs":1,"x":530,"y":320,"wires":[["74fe64fa.ee4d9c"]]},{"id":"849ed449.fdbf58","type":"Cache out","z":"dfa3e3ba.4d5ad","name":"rep1 ","cache":"e74f1c52.eb3a9","keyType":"msg","keyProperty":"cached_query","valueType":"msg","valueProperty":"payload","ttlType":"msg","ttlProperty":"","useString":false,"x":1170,"y":380,"wires":[]},{"id":"e9660a8b.245d18","type":"config","z":"dfa3e3ba.4d5ad","name":"CONFIG","properties":[{"p":"LANGUAGE","pt":"flow","to":"de_DE","tot":"str"},{"p":"OPENMEDIA_MAPPING","pt":"flow","to":"{\"templateId\":{\"default\":1388635,\"audio\":1388637,\"image\":1388639,\"video\":1388638},\"poolId\":101,\"folderId\":22219,\"systemId\":\"6290b86c-3cdd-4d52-8340-df3b9bf2aa15\",\"OMISCommandAfterCreation\":{\"pluginID\":123,\"commandID\":132},\"fields\":{\"title\":8,\"id\":3201,\"url\":401}}","tot":"json"},{"p":"FULLTEXTENGINE_URL","pt":"flow","to":"http://127.0.0.1:8090","tot":"str"}],"active":true,"x":100,"y":260,"wires":[]},{"id":"df9c7412.771588","type":"http in","z":"dfa3e3ba.4d5ad","name":"","url":"/folders/:fn","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["bb17e399.bc202"]]},{"id":"a8303075.6a1b7","type":"http response","z":"dfa3e3ba.4d5ad","name":"","statusCode":"","headers":{},"x":670,"y":620,"wires":[]},{"id":"bb17e399.bc202","type":"file in","z":"dfa3e3ba.4d5ad","name":"","filename":"D:/home/","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":620,"wires":[["a8303075.6a1b7","ef434365.267ea"]]},{"id":"ef434365.267ea","type":"debug","z":"dfa3e3ba.4d5ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":560,"wires":[]},{"id":"298c9df3.a0bb02","type":"inject","z":"dfa3e3ba.4d5ad","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":560,"wires":[["bb17e399.bc202"]]},{"id":"8d48cd61.fa465","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2110,"y":280,"wires":[["e555635e.4ad72"]],"info":"`var date = getDate();`"},{"id":"5359833b.7dce9c","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":2510,"y":280,"wires":[]},{"id":"fa59a3d4.f8d1b","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1910,"y":240,"wires":[["f5b0b6fd.c8d9a8","8d48cd61.fa465"]]},{"id":"713615b0.fb8dac","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"em","payload":"32","payloadType":"str","x":1630,"y":240,"wires":[["fa59a3d4.f8d1b","968bdd8.28c6c2","c73da3a0.fda82"]]},{"id":"f5b0b6fd.c8d9a8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":240,"wires":[]},{"id":"625e1fce.4f9fd","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":1670,"y":180,"wires":[["fa59a3d4.f8d1b","968bdd8.28c6c2","8190faaf.69dad8","c73da3a0.fda82","ffc16caf.092a5"]]},{"id":"79da7e93.2a472","type":"function","z":"5575f0cf.3f08e","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"temperature\"               //topic\n\nvar str = \"\";\n var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month+1,\"\\\\\");\n// var basepath1 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week1);\n// var basepath2 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week2);\n// var basepath3 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week3);\n// var basepath4 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week4);\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\n// if(1<=day<=6)\n// {\n    \n//     var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month,\"\\\\\");\n// }\n// if(8<=day<=15)\n// {\n//     basePath = basepath2;\n// }\n// if(16<=day<=23)\n// {\n//     basePath = basepath3;\n// }\n// if(24<=day<=31)\n// {\n//     basePath = basepath4;\n// }\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["900be292.530eb"],["a1207d1b.7ea99"]]},{"id":"a1207d1b.7ea99","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"900be292.530eb","type":"file in","z":"5575f0cf.3f08e","name":"out file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":530,"y":100,"wires":[["a1207d1b.7ea99"]]},{"id":"c3c4dde6.1af0d","type":"catch","z":"5575f0cf.3f08e","name":"","scope":null,"uncaught":false,"x":160,"y":200,"wires":[["7d2a325e.4d1fbc","e3c57cba.73d35"]]},{"id":"7d2a325e.4d1fbc","type":"function","z":"5575f0cf.3f08e","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["a1207d1b.7ea99"]]},{"id":"e3c57cba.73d35","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":260,"wires":[]},{"id":"d6d92c90.95814","type":"ui_template","z":"5575f0cf.3f08e","group":"bcab381b.17d788","name":"link down temperature","order":1,"width":6,"height":3,"format":"\n<!DOCTYPE html>\n<body>\n    \n<h2> Dữ Liệu gần đây: nhiệt độ  </h2>\n<div >\n    Tuần 1 :   <a href=http://192.168.1.6:1880/load1/> week1 </a> <br>\n    Tuần 2 :   <a href=http://192.168.1.6:1880/load2/> week2 </a> <br>\n    Tuần 3 :   <a href=http://192.168.1.2:1880/load3/> week3 </a> <br>\n    Tuần 4 :   <a href=http://192.168.1.2:1880/load4/> week4 </a> <br>\n    \n</div>\n</body>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":260,"wires":[[]]},{"id":"ac3d5ea.3e951a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["79da7e93.2a472","bed8bcee.52725"]],"info":"fn: file name\nfiles : nhung tap tin\n\n"},{"id":"644600de.f7f2f","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load1","method":"get","upload":false,"swaggerDoc":"","x":240,"y":360,"wires":[["da20bade.db90b8"]]},{"id":"da20bade.db90b8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 1</h1>\n            FILE 1 :   <a href=\"/files/day-1.txt\"> download day-1.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-2.txt\"> download day-2.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-3.txt\"> download day-3.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-4.txt\"> download day-4.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-5.txt\"> download day-5.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-6.txt\"> download day-6.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-7.txt\"> download day-7.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":360,"wires":[["53f937db.ebac78"]]},{"id":"53f937db.ebac78","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":360,"wires":[]},{"id":"b88de757.378a08","type":"comment","z":"5575f0cf.3f08e","name":"week ->","info":"","x":110,"y":360,"wires":[]},{"id":"454f81f.0b1e48","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load2","method":"get","upload":false,"swaggerDoc":"","x":240,"y":400,"wires":[["7716492d.5460f8"]]},{"id":"7716492d.5460f8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 2</h1>\n            FILE 1 :   <a href=\"/files/day-8.txt\"> download day-8.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-9.txt\"> download day-9.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-10.txt\"> download day-10.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-11.txt\"> download day-11.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-12.txt\"> download day-12.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-13.txt\"> download day-13.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-14.txt\"> download day-14.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-15.txt\"> download day-15.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-16.txt\"> download day-16.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":400,"wires":[["6e30e03b.76a08"]]},{"id":"6e30e03b.76a08","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":400,"wires":[]},{"id":"82564d37.5f7b","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load3","method":"get","upload":false,"swaggerDoc":"","x":240,"y":440,"wires":[["410d155b.968f6c"]]},{"id":"410d155b.968f6c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 3</h1>\n            FILE 1 :   <a href=\"/files/day-17.txt\"> download day-17.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-18.txt\"> download day-18.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-19.txt\"> download day-19.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-20.txt\"> download day-20.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-21.txt\"> download day-21.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-22.txt\"> download day-22.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":440,"wires":[["35a389ee.bbbce6"]]},{"id":"35a389ee.bbbce6","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"3cb12ef.c79ced2","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load4","method":"get","upload":false,"swaggerDoc":"","x":240,"y":480,"wires":[["edbdebb7.bd1918"]]},{"id":"edbdebb7.bd1918","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 4</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> \n                <script>\n        document.write(\"&emsp; &ensp; --> no problem\");\n        document.writeln(a);\n    </script>\n    <br> \n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":480,"wires":[["916ffafe.a17948"]]},{"id":"916ffafe.a17948","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":480,"wires":[]},{"id":"fd1e2178.dbdc1","type":"comment","z":"ea563ac1.aaa738","name":"send data esp8266 -> t","info":"","x":1640,"y":100,"wires":[]},{"id":"2709b9dc.6738d6","type":"ui_button","z":"ea563ac1.aaa738","name":"button esp8266v1","group":"74220ceb.72af34","order":1,"width":3,"height":1,"passthru":false,"label":"nut nhan 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button esp8266v1","payloadType":"str","topic":"","x":1630,"y":300,"wires":[["fa59a3d4.f8d1b","968bdd8.28c6c2","5e4fc0c9.a12e7"]]},{"id":"9d42f116.18505","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":320,"wires":[["42cb2bb7.aabb84"]],"info":"`var date = getDate();`"},{"id":"b648fc7e.62bcf","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":970,"y":320,"wires":[]},{"id":"1fd095dd.160a7a","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":300,"wires":[["490ec91e.eb4d08","d19be42f.28f208","e0d3cd15.d1ade","5bb1982e.9c1498","f74dd3a5.8880d"]]},{"id":"24dd54f9.f9464c","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"513ce0d5.113c1","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp32v1","topic":"esp32v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":240,"wires":[["f4e34d02.10a44","490ec91e.eb4d08","e0d3cd15.d1ade"]]},{"id":"f4e34d02.10a44","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"b90aa839.f1a3c8","type":"ui_button","z":"ea563ac1.aaa738","name":"button esp32v1","group":"74220ceb.72af34","order":3,"width":3,"height":1,"passthru":false,"label":"nut nhan 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button esp32v1","payloadType":"str","topic":"","x":220,"y":360,"wires":[["490ec91e.eb4d08","5bb1982e.9c1498"]]},{"id":"510f4460.504aac","type":"comment","z":"ea563ac1.aaa738","name":"send data esp32 -> h","info":"","x":140,"y":180,"wires":[]},{"id":"4b2519d8.7eff48","type":"comment","z":"ea563ac1.aaa738","name":"send data mega1 ->","info":"","x":130,"y":620,"wires":[]},{"id":"b91816c0.ea6478","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":780,"wires":[["c28b3aff.3e6ec8"]],"info":"`var date = getDate();`"},{"id":"d9e9ae22.d1feb","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":970,"y":780,"wires":[]},{"id":"7e151c3e.4b1404","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":760,"wires":[["c5624540.d70ad8","b91816c0.ea6478"]]},{"id":"1b395d7a.703fa3","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":760,"wires":[["7e151c3e.4b1404","e04bc4ff.78fcd8","35ee7638.33e4da","51e3f1fe.c32c6","f0085d84.39add"]]},{"id":"c5624540.d70ad8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":740,"wires":[]},{"id":"afb0bce4.27e6c","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send mega1","topic":"mega1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":700,"wires":[["7e151c3e.4b1404","453ede60.92e69","e04bc4ff.78fcd8","51e3f1fe.c32c6"]]},{"id":"453ede60.92e69","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":660,"wires":[]},{"id":"f356fcc.67bad","type":"ui_button","z":"ea563ac1.aaa738","name":"button mega1","group":"74220ceb.72af34","order":5,"width":3,"height":1,"passthru":false,"label":"nut nhan 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button mega1","payloadType":"str","topic":"","x":220,"y":820,"wires":[["7e151c3e.4b1404","e04bc4ff.78fcd8"]]},{"id":"968bdd8.28c6c2","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp8266v1","topic":"esp8266v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":1920,"y":360,"wires":[]},{"id":"490ec91e.eb4d08","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp32v1","topic":"esp32v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":430,"y":440,"wires":[]},{"id":"e04bc4ff.78fcd8","type":"mqtt out","z":"ea563ac1.aaa738","name":"subscribe mega1","topic":"mega1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":450,"y":920,"wires":[]},{"id":"8190faaf.69dad8","type":"ui_text","z":"ea563ac1.aaa738","group":"2df4200b.89e3d","order":1,"width":6,"height":1,"name":"esp8266v1","label":"Thiết Bị 1: ","format":"{{msg.payload}}","layout":"row-spread","x":2010,"y":160,"wires":[]},{"id":"e0d3cd15.d1ade","type":"ui_text","z":"ea563ac1.aaa738","group":"2df4200b.89e3d","order":2,"width":6,"height":1,"name":"esp32","label":"Thiết Bị 2: ","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":220,"wires":[]},{"id":"51e3f1fe.c32c6","type":"ui_text","z":"ea563ac1.aaa738","group":"2df4200b.89e3d","order":3,"width":6,"height":1,"name":"mega1","label":"Thiết Bị 3: ","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":680,"wires":[]},{"id":"bed8bcee.52725","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"390db13f.54356e","type":"comment","z":"5575f0cf.3f08e","name":"link download at here","info":"","x":140,"y":60,"wires":[]},{"id":"c73da3a0.fda82","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":300,"wires":[["e6a1da27.3c9238"]]},{"id":"e6a1da27.3c9238","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2110,"y":340,"wires":[["bb407d37.f676e"]]},{"id":"1dc92a5d.7a5236","type":"function","z":"5575f0cf.3f08e","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"humidity\"               //topic\n\nvar str = \"\";\n var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month+1,\"\\\\\");\n// var basepath1 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week1);\n// var basepath2 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week2);\n// var basepath3 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week3);\n// var basepath4 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week4);\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\n// if(1<=day<=6)\n// {\n    \n//     var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month,\"\\\\\");\n// }\n// if(8<=day<=15)\n// {\n//     basePath = basepath2;\n// }\n// if(16<=day<=23)\n// {\n//     basePath = basepath3;\n// }\n// if(24<=day<=31)\n// {\n//     basePath = basepath4;\n// }\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1210,"y":120,"wires":[["74ac0f1c.7ff51"],["e49f0946.e49d28"]]},{"id":"e49f0946.e49d28","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1550,"y":140,"wires":[]},{"id":"74ac0f1c.7ff51","type":"file in","z":"5575f0cf.3f08e","name":"out file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1410,"y":80,"wires":[["e49f0946.e49d28"]]},{"id":"3db3d75b.c37e28","type":"catch","z":"5575f0cf.3f08e","name":"","scope":null,"uncaught":false,"x":1040,"y":180,"wires":[["98f23fa4.42948","97873865.f57cf8"]]},{"id":"98f23fa4.42948","type":"function","z":"5575f0cf.3f08e","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":180,"wires":[["e49f0946.e49d28"]]},{"id":"97873865.f57cf8","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"3f5f3061.15014","type":"ui_template","z":"5575f0cf.3f08e","group":"bcab381b.17d788","name":"link down humidity","order":2,"width":6,"height":3,"format":"\n<!DOCTYPE html>\n<body>\n    \n<h2> Dữ Liệu gần đây: độ ẩm </h2>\n<div >\n    Tuần 1 :   <a href=http://192.168.1.2:1880/loadh1/> week1 </a> <br>\n    Tuần 2 :   <a href=http://192.168.1.2:1880/loadh2/> week2 </a> <br>\n    Tuần 3 :   <a href=http://192.168.1.2:1880/loadh3/> week3 </a> <br>\n    Tuần 4 :   <a href=http://192.168.1.2:1880/loadh4/> week4 </a> <br>\n    \n</div>\n    <script>\n            var a=\"FILE 10\";\n            document.writeln(a);\n            var abc = \"/files/day-30.txt\";\n            document.writeln(<a href= abc> click me </a>);\n    </script> \n</body>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1410,"y":240,"wires":[[]]},{"id":"48b491c1.90e6b","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":1010,"y":120,"wires":[["1dc92a5d.7a5236","6a22643c.29da8c"]],"info":"fn: file name\nfiles : nhung tap tin\n\n"},{"id":"6a22643c.29da8c","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":80,"wires":[]},{"id":"8f61715c.5fca7","type":"comment","z":"5575f0cf.3f08e","name":"link download at here","info":"","x":1020,"y":40,"wires":[]},{"id":"85c99ac1.9030a8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh1","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":360,"wires":[["4790ce9b.28b01"]]},{"id":"4790ce9b.28b01","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 1</h1>\n            FILE 1 :   <a href=\"/files/day-1.txt\"> download day-1.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-2.txt\"> download day-2.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-3.txt\"> download day-3.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-4.txt\"> download day-4.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-5.txt\"> download day-5.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-6.txt\"> download day-6.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-7.txt\"> download day-7.txt </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":360,"wires":[["f0d26865.25e798"]]},{"id":"f0d26865.25e798","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":360,"wires":[]},{"id":"7eded593.b9730c","type":"comment","z":"5575f0cf.3f08e","name":"week ->","info":"","x":970,"y":360,"wires":[]},{"id":"a544ee56.eae48","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh2","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":400,"wires":[["30607fd8.c3f36"]]},{"id":"30607fd8.c3f36","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 2</h1>\n            FILE 1 :   <a href=\"/files/day-8.txt\"> download day-8.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-9.txt\"> download day-9.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-10.txt\"> download day-10.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-11.txt\"> download day-11.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-12.txt\"> download day-12.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-13.txt\"> download day-13.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-14.txt\"> download day-14.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-15.txt\"> download day-15.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-16.txt\"> download day-16.txt </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":400,"wires":[["a2472e6f.25a3b"]]},{"id":"a2472e6f.25a3b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":400,"wires":[]},{"id":"33e20144.56517e","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh3","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":440,"wires":[["44f3b7ab.68acf8"]]},{"id":"44f3b7ab.68acf8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 3</h1>\n            FILE 1 :   <a href=\"/files/day-17.txt\"> download day-17.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-18.txt\"> download day-18.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-19.txt\"> download day-19.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-20.txt\"> download day-20.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-21.txt\"> download day-21.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-22.txt\"> download day-22.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":440,"wires":[["626aee2b.945bc"]]},{"id":"626aee2b.945bc","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":440,"wires":[]},{"id":"a352910b.f4652","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh4","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":480,"wires":[["eef3905f.a82c"]]},{"id":"eef3905f.a82c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 4</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> \n                <script>\n        var a= \"______ no problem\";\n        document.writeln(a);\n    </script>\n    <br> \n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":480,"wires":[["78d2ee6b.6ec0b"]]},{"id":"78d2ee6b.6ec0b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":480,"wires":[]},{"id":"c2edce43.825ca","type":"serial out","z":"e715dbbb.2d5808","name":"","serial":"60b28f1d.34bc7","x":620,"y":220,"wires":[]},{"id":"d34dc055.5e84a","type":"inject","z":"e715dbbb.2d5808","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"no","payload":"\"value:123,\"","payloadType":"json","x":260,"y":220,"wires":[["c2edce43.825ca","b49e26fa.138268"]]},{"id":"2fe16f20.5eda","type":"mqtt in","z":"e715dbbb.2d5808","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":290,"y":280,"wires":[["c2edce43.825ca"]]},{"id":"b49e26fa.138268","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]},{"id":"1b419815.7642f8","type":"serial in","z":"e715dbbb.2d5808","name":"","serial":"60b28f1d.34bc7","x":630,"y":300,"wires":[["3eab9521.a4060a"]]},{"id":"3eab9521.a4060a","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"b7a5228.ef239e","type":"debug","z":"3c8f9228.949c9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"738020bb.f2c0b","type":"function","z":"3c8f9228.949c9e","name":"Processing log in","func":"if(msg.payload.user==\"admin\" && msg.payload.pass==\"admin\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":180,"wires":[["b7a5228.ef239e","952d44c6.dfc468"]]},{"id":"ef6ddb2f.3fbdc8","type":"function","z":"3c8f9228.949c9e","name":"wrong","func":"if(msg.payload.user!=\"admin\"){\n    msg.payload=\"Bạn nhập sai Tên Đăng Nhập !\"\n}\nelse if (msg.payload.pass!=\"admin\"){\n    msg.payload=\"Bạn nhập sai Mật Khẩu !\"\n}\nelse { msg.payload=0; }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["3686cd55.a06a42"]]},{"id":"3686cd55.a06a42","type":"switch","z":"3c8f9228.949c9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":260,"wires":[["6813a981.bba8c8"]]},{"id":"9e04ee90.41232","type":"ui_form","z":"3c8f9228.949c9e","name":"login control","label":"","group":"1794bc9c.0e09f3","order":1,"width":"0","height":"0","options":[{"label":"Tên Đăng Nhập","value":"user","type":"text","required":true,"rows":null},{"label":"Mật khẩu","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"Đăng Nhập","cancel":"Huỷ","topic":"","x":110,"y":220,"wires":[["738020bb.f2c0b","ef6ddb2f.3fbdc8"]]},{"id":"6813a981.bba8c8","type":"ui_toast","z":"3c8f9228.949c9e","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":680,"y":280,"wires":[[]]},{"id":"952d44c6.dfc468","type":"ui_ui_control","z":"3c8f9228.949c9e","name":"","events":"connect","x":550,"y":140,"wires":[[]]},{"id":"ffc16caf.092a5","type":"ui_gauge","z":"ea563ac1.aaa738","name":"","group":"bc750392.96a02","order":1,"width":6,"height":4,"gtype":"gage","title":"Nhiệt độ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"60","x":2020,"y":120,"wires":[]},{"id":"d19be42f.28f208","type":"ui_gauge","z":"ea563ac1.aaa738","name":"","group":"bc750392.96a02","order":2,"width":6,"height":4,"gtype":"gage","title":"Độ Ẩm","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":180,"wires":[]},{"id":"35ee7638.33e4da","type":"ui_gauge","z":"ea563ac1.aaa738","name":"","group":"bc750392.96a02","order":3,"width":6,"height":4,"gtype":"gage","title":"count","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":640,"wires":[]},{"id":"852ff106.3dbdd","type":"inject","z":"9e4f561c.127778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":410,"y":420,"wires":[["20df5c0b.aa3854"]]},{"id":"20df5c0b.aa3854","type":"function","z":"9e4f561c.127778","name":"With Flow","func":"//var count=context.get('count') || 0;\nvar count=flow.get('count') || \"\";\n\ncount += \" them\"\n// msg.payload=\"F5 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":562,"y":332,"wires":[["ed895691.05c978"]]},{"id":"ed895691.05c978","type":"debug","z":"9e4f561c.127778","name":"","active":true,"console":"false","complete":"false","x":684,"y":426,"wires":[]},{"id":"b51f26f0.dd76c8","type":"inject","z":"9e4f561c.127778","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"sensors/sensor1","payload":"ON","payloadType":"str","x":350,"y":500,"wires":[["3f3cdad0.15d0b6"]]},{"id":"3f3cdad0.15d0b6","type":"function","z":"9e4f561c.127778","name":"With Flow","func":" var count1 = \"khoi tao\";\n var count=flow.get('count1') || count1;\n\ncount =\" ok \";\nmsg.payload=\"F6 \"+msg.payload+\" \"+count;\nflow.set('count',count);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":557,"y":479,"wires":[["956ae63e.fd5348"]]},{"id":"956ae63e.fd5348","type":"debug","z":"9e4f561c.127778","name":"","active":true,"console":"false","complete":"false","x":693,"y":523,"wires":[]},{"id":"2858d304.f51d1c","type":"comment","z":"9e4f561c.127778","name":"flow","info":"","x":270,"y":300,"wires":[]},{"id":"dd993249.2d29c","type":"ui_form","z":"4a58c94f.8626f8","name":"Dashboard Sign-In","label":"","group":"a0db7773.4f7e18","order":1,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":420,"wires":[["6c029014.5fa3","9f843f15.c731a","5e68716a.00c3b"]]},{"id":"1cd28f46.d5a0f1","type":"debug","z":"4a58c94f.8626f8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":698.0000915527344,"y":381.00000762939453,"wires":[]},{"id":"7935ff71.830fb","type":"comment","z":"4a58c94f.8626f8","name":"Sign-In Section","info":"","x":130.00000762939453,"y":362.99999618530273,"wires":[]},{"id":"6c029014.5fa3","type":"function","z":"4a58c94f.8626f8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":329.00000762939453,"y":389.99999618530273,"wires":[["1cd28f46.d5a0f1"]]},{"id":"9f843f15.c731a","type":"function","z":"4a58c94f.8626f8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload === 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":342.0000457763672,"y":435.0000057220459,"wires":[["29cba1b5.7122fe"]]},{"id":"29cba1b5.7122fe","type":"switch","z":"4a58c94f.8626f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":511.0000419616699,"y":465.9999885559082,"wires":[["3691bf02.86635"],["396dee4d.3690c2"],["eb9401c8.e51ae"],["eaeae27.4178a2"]]},{"id":"3691bf02.86635","type":"function","z":"4a58c94f.8626f8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Another_History\"],\n    hide : [\"Dashboard_Signin\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680.999885559082,"y":421.99999809265137,"wires":[["ea555e71.6f5c"]]},{"id":"396dee4d.3690c2","type":"function","z":"4a58c94f.8626f8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":701.9998931884766,"y":459,"wires":[["c22ba388.13ce2"]]},{"id":"eb9401c8.e51ae","type":"function","z":"4a58c94f.8626f8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":702.9999618530273,"y":496.0000123977661,"wires":[["c22ba388.13ce2"]]},{"id":"ea555e71.6f5c","type":"ui_ui_control","z":"4a58c94f.8626f8","name":"Go to Sensor/History Group","x":968.0000686645508,"y":421.9999942779541,"wires":[[]]},{"id":"c22ba388.13ce2","type":"ui_toast","z":"4a58c94f.8626f8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":967.9999732971191,"y":479,"wires":[[]]},{"id":"e9224782.d03aa8","type":"comment","z":"4a58c94f.8626f8","name":"Session Management - 15 secs for this demo","info":"","x":209.5,"y":579.0000076293945,"wires":[]},{"id":"ba878523.6261a8","type":"inject","z":"4a58c94f.8626f8","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":118.00000762939453,"y":667.9999923706055,"wires":[["60d61667.872458","8da01a7.83bcce8"]]},{"id":"60d61667.872458","type":"function","z":"4a58c94f.8626f8","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 15000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":306.00003814697266,"y":634.0000076293945,"wires":[["f179e856.5eb258"]]},{"id":"f179e856.5eb258","type":"switch","z":"4a58c94f.8626f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":476.00007247924805,"y":632.0000076293945,"wires":[["93301605.ac1198"],["abece01.eaaac2"],["14610372.1ce61d"]]},{"id":"93301605.ac1198","type":"function","z":"4a58c94f.8626f8","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":631.9999847412109,"y":605.0000114440918,"wires":[["bd966fc0.01ab6","d97b8a24.212b58"]]},{"id":"bd966fc0.01ab6","type":"ui_toast","z":"4a58c94f.8626f8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Session Timeout","name":"Time-Out Dialog","x":819.500114440918,"y":571.0000114440918,"wires":[[]]},{"id":"7510d2b7.f8680c","type":"ui_ui_control","z":"4a58c94f.8626f8","name":"Go to Signin Group","x":1026.5000324249268,"y":606.9999961853027,"wires":[[]]},{"id":"d97b8a24.212b58","type":"function","z":"4a58c94f.8626f8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \n            \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":830.0000228881836,"y":608.0000076293945,"wires":[["7510d2b7.f8680c"]]},{"id":"b0f2bb33.75ce68","type":"ui_toast","z":"4a58c94f.8626f8","position":"bottom right","displayTime":"1","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Timer","name":"Display Remaining Time","x":639.7222023010254,"y":721.9999923706055,"wires":[]},{"id":"5ab769ab.2cf378","type":"comment","z":"4a58c94f.8626f8","name":"Sensor Data Collection","info":"","x":149.00000762939453,"y":764.0000019073486,"wires":[]},{"id":"eec0d409.1c2668","type":"inject","z":"4a58c94f.8626f8","name":"Timer","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":121.5,"y":841.0000095367432,"wires":[["6ded484a.2321d8"]]},{"id":"355cf303.20cc4c","type":"comment","z":"4a58c94f.8626f8","name":"MQTT ? CoAP?","info":"Expecting data from the actaul sensors.","x":296.50000762939453,"y":800.9999942779541,"wires":[]},{"id":"8da01a7.83bcce8","type":"function","z":"4a58c94f.8626f8","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((15000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer == 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 7 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":356.0000305175781,"y":722.0000200271606,"wires":[["b0f2bb33.75ce68"]]},{"id":"41ffeaf9.b00d44","type":"ui_text","z":"4a58c94f.8626f8","group":"f8e7a48.aa7dd58","order":0,"width":0,"height":0,"name":"Label Display","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1020.4999923706055,"y":927.0001277923584,"wires":[]},{"id":"6ded484a.2321d8","type":"function","z":"4a58c94f.8626f8","name":"Decode MySensor Message","func":"\nvar mySensorsMessage = {}\nvar newPayload = {};\nvar timestamp = new Date();\n\nnewPayload.nodeId  =  3;\nnewPayload.type =  Math.floor( Math.random() * Math.floor(2));  // 0 or 1\nif ( newPayload.type === 0 /* temperature */ ) newPayload.value   =  Math.floor( Math.random() * Math.floor(30)) + 10; // 10 - 39\nelse newPayload.value   =  Math.floor( Math.random() * Math.floor(40)) + 40; // 40 - 79\n\nmsg.payload = newPayload; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":317.50000762939453,"y":842.0000171661377,"wires":[["15657473.da1c2c","fac28617.0a38f8"]]},{"id":"15657473.da1c2c","type":"function","z":"4a58c94f.8626f8","name":"Filter : temperature","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 0) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Temperature\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":534.5000534057617,"y":798.0000200271606,"wires":[["e425f739.77c888","478abdb5.2f8864","ac834719.47a918","732a1fe.46a88e"]]},{"id":"e425f739.77c888","type":"ui_gauge","z":"4a58c94f.8626f8","name":"Gauge : Temperature","group":"f8e7a48.aa7dd58","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature DHT22","label":"MySensors v2","format":"{{value}}°C","min":0,"max":"50","colors":["#66ccff","#ff8000","#ca3838"],"seg1":"","seg2":"","x":784.5000076293945,"y":783.9999828338623,"wires":[]},{"id":"fac28617.0a38f8","type":"function","z":"4a58c94f.8626f8","name":"Filter : humidity","func":"if (msg.payload.nodeId == 3 && msg.payload.type === 1) {\n    var msg;\n    msg.payload = msg.payload.value;\n    msg.topic = \"Humidity\"\n    return msg;\n}    ","outputs":1,"noerr":0,"x":520.5001068115234,"y":905.0000591278076,"wires":[["6773fcf3.c19124","478abdb5.2f8864","ac834719.47a918"]]},{"id":"6773fcf3.c19124","type":"ui_gauge","z":"4a58c94f.8626f8","name":"Gauge : Humidity","group":"f8e7a48.aa7dd58","order":0,"width":"0","height":"0","gtype":"gage","title":"Humidity DHT22","label":"MySensors v2","format":"{{value}}%","min":0,"max":"100","colors":["#1a25ab","#e6e600","#ca3838"],"seg1":"","seg2":"","x":776.500072479248,"y":821.0000286102295,"wires":[]},{"id":"478abdb5.2f8864","type":"function","z":"4a58c94f.8626f8","name":"Attention : temperature & humidity","func":"context.data = context.data || new Object();\n\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.data.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n\n}\n\nif(context.data.temperature !== null && context.data.humidity !== null && context.data.temperature !== undefined && context.data.humidity !== undefined) {\n\tmsgOut = \"\"; //new Object();\n    msgOut = \"Temerature : \" \n    msgOut += context.data.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.data.humidity.toString();\n    msgOut+= \"%\";\n    context.data=null;\n    var msg = {};\n    msg.payload = msgOut;\n\treturn msg;\n} \n//else return msg;","outputs":1,"noerr":0,"x":780.4999923706055,"y":928.0000877380371,"wires":[["41ffeaf9.b00d44"]]},{"id":"ac834719.47a918","type":"ui_chart","z":"4a58c94f.8626f8","name":"History : Temperature & Humidity","group":"9aaef44f.c121f8","order":1,"width":"6","height":"9","label":"Temperature & Humidity","chartType":"line","legend":"true","xformat":"%H:%M","interpolate":"linear","nodata":"No Data Yet","dot":false,"ymin":"0","ymax":"80","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":2,"x":827.5000305175781,"y":859.0001049041748,"wires":[[],[]]},{"id":"a647389a.f727f8","type":"ui_ui_control","z":"4a58c94f.8626f8","name":"Stay in Sensor Group","x":976.5000991821289,"y":646.0000057220459,"wires":[[]]},{"id":"abece01.eaaac2","type":"function","z":"4a58c94f.8626f8","name":"Sensor/History Goup","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    hide : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":673.5000305175781,"y":646.0000038146973,"wires":[["a647389a.f727f8"]]},{"id":"14610372.1ce61d","type":"function","z":"4a58c94f.8626f8","name":"Signin Goup","func":"var msg = {};\nmsg.payload = { group: {\n    hide : [\"Dashboard_SensorData\", \"Dashboard_History\"],\n    show : [\"Dashboard_Signin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":644.5000915527344,"y":687.0000419616699,"wires":[["edf533e6.67eec"]]},{"id":"edf533e6.67eec","type":"ui_ui_control","z":"4a58c94f.8626f8","name":"Go to Signin Group","x":964.5002479553223,"y":684.0000419616699,"wires":[[]]},{"id":"732a1fe.46a88e","type":"debug","z":"4a58c94f.8626f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":744.0590744018555,"y":894.6424465179443,"wires":[]},{"id":"5e68716a.00c3b","type":"debug","z":"4a58c94f.8626f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":311.5000419616699,"y":500.5347557067871,"wires":[]},{"id":"43eec236.248d6c","type":"ui_toast","z":"4a58c94f.8626f8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":951.1111793518066,"y":532.1215353012085,"wires":[[]]},{"id":"eaeae27.4178a2","type":"function","z":"4a58c94f.8626f8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":692.4443283081055,"y":533.1215286254883,"wires":[["43eec236.248d6c"]]},{"id":"6be66c7a.a900b4","type":"function","z":"e715dbbb.2d5808","name":"","func":"\nvar caytrongmy = msg.payload;\nmsg.payload = caytrongmy;\nglobal.set('caytrongmy',caytrongmy);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["407f4935.297a28"]]},{"id":"2118f53a.36502a","type":"file in","z":"e715dbbb.2d5808","name":"read","filename":"D:/DATA/strees.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":500,"wires":[["a0d6882.dd9bf78","92c09c06.add1d","dfd252a5.e2bab","6be66c7a.a900b4"]]},{"id":"a0d6882.dd9bf78","type":"ui_text_input","z":"e715dbbb.2d5808","name":"cay trong","label":"<b >NHẬP TÊN CÂY TRỒNG TẠI ĐÂY:  </b> <br/>","tooltip":"","group":"66ccba97.13e1f4","order":4,"width":6,"height":1,"passthru":true,"mode":"text","delay":"1000","topic":"","x":500,"y":500,"wires":[["b5ff893e.1e0288","c8c7b97b.1c7aa8"]]},{"id":"b5ff893e.1e0288","type":"function","z":"e715dbbb.2d5808","name":"","func":"var count = msg.payload;\n\nvar strfind = \"chuoi so 1\";\nvar find = count.trim();\nvar find1 = find.replace(\" \",\"_\");\nvar find2 = find1.replace(\" \",\"_\");\nvar find3 = find2.replace(\" \",\"_\");\nmsg.payload = find3;\nglobal.set('find3',find3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":500,"wires":[["40c5829e.ae70dc","e3381ca6.e4267"]]},{"id":"40c5829e.ae70dc","type":"file","z":"e715dbbb.2d5808","name":"","filename":"D:/DATA/strees.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":930,"y":500,"wires":[[]]},{"id":"d12e1614.b53b08","type":"inject","z":"e715dbbb.2d5808","name":"update cay trong","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":420,"wires":[["2118f53a.36502a"]]},{"id":"e3381ca6.e4267","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":440,"wires":[]},{"id":"92c09c06.add1d","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":440,"wires":[]},{"id":"c8c7b97b.1c7aa8","type":"ui_text","z":"e715dbbb.2d5808","group":"66ccba97.13e1f4","order":5,"width":6,"height":1,"name":"","label":"Cây Trồng Đã Nhập: ","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":600,"wires":[]},{"id":"dfd252a5.e2bab","type":"function","z":"e715dbbb.2d5808","name":"","func":"var caytrong = msg.payload;\n\nvar caytrong_r1 = caytrong.replace(\"_\",\" \");\nvar caytrong_r2 = caytrong_r1.replace(\"_\",\" \");\nvar caytrong_r3 = caytrong_r2.replace(\"_\",\" \");\nvar caytrong_r4 = caytrong_r3.replace(\"_\",\" \");\nvar caytrong2 = \"\";\nvar caytrong3 = caytrong2.concat(\"\",caytrong_r4);\nmsg.payload = caytrong3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":580,"wires":[["c8c7b97b.1c7aa8","f350cb2f.a27d78"]]},{"id":"f350cb2f.a27d78","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":560,"wires":[]},{"id":"bb149989.4f5288","type":"ui_slider","z":"ea563ac1.aaa738","name":"","label":"slider","tooltip":"","group":"dae96f94.bd5cb","order":7,"width":6,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":2350,"y":160,"wires":[["8267bd06.0d1e6","49854b3e.98a9a4"]]},{"id":"407f4935.297a28","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":700,"wires":[]},{"id":"d2e62613.2b7e88","type":"inject","z":"4a58c94f.8626f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["13d4434f.3ca4ad"]]},{"id":"13d4434f.3ca4ad","type":"function","z":"4a58c94f.8626f8","name":"","func":"var save = global.get('find3')\nmsg.payload = save;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":120,"wires":[["2ccaf3dc.c5213c"]]},{"id":"2ccaf3dc.c5213c","type":"debug","z":"4a58c94f.8626f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":140,"wires":[]},{"id":"d98776e3.9e4b98","type":"ui_button","z":"ea563ac1.aaa738","name":"","group":"dae96f94.bd5cb","order":8,"width":2,"height":1,"passthru":false,"label":"click","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":2370,"y":60,"wires":[[]]},{"id":"8267bd06.0d1e6","type":"ui_text","z":"ea563ac1.aaa738","group":"dae96f94.bd5cb","order":10,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":2510,"y":100,"wires":[]},{"id":"49854b3e.98a9a4","type":"ui_text_input","z":"ea563ac1.aaa738","name":"dc","label":"<b>Nhập số liệu tại đây để điều khiển: <b/>","tooltip":"","group":"dae96f94.bd5cb","order":9,"width":2,"height":1,"passthru":true,"mode":"text","delay":"1000","topic":"","x":2270,"y":100,"wires":[["8267bd06.0d1e6","bb149989.4f5288"]]},{"id":"e555635e.4ad72","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2290,"y":280,"wires":[["5359833b.7dce9c"]]},{"id":"bb407d37.f676e","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2290,"y":340,"wires":[["6ae7a06a.7a3aa"]]},{"id":"6ae7a06a.7a3aa","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2510,"y":340,"wires":[]},{"id":"42cb2bb7.aabb84","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":810,"y":320,"wires":[["b648fc7e.62bcf"]]},{"id":"6a59899e.e72288","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":380,"wires":[["fd198efc.c361e"]]},{"id":"fd198efc.c361e","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":810,"y":380,"wires":[["6337c1e9.8be26"]]},{"id":"6337c1e9.8be26","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"f0085d84.39add","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[["62c902ae.f3ae2c"]]},{"id":"62c902ae.f3ae2c","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":630,"y":840,"wires":[["9a280212.38008"]]},{"id":"9a280212.38008","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":810,"y":840,"wires":[["925648ae.6c16d8"]]},{"id":"925648ae.6c16d8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":840,"wires":[]},{"id":"c28b3aff.3e6ec8","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":810,"y":780,"wires":[["d9e9ae22.d1feb"]]},{"id":"5bb1982e.9c1498","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"humidity\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":300,"wires":[["9d42f116.18505","24dd54f9.f9464c"]]},{"id":"f74dd3a5.8880d","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"humidity\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["6a59899e.e72288"]]},{"id":"5e4fc0c9.a12e7","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":1930,"y":440,"wires":[]},{"id":"cb12bede.7c275","type":"ui_template","z":"ecca26e7.711f58","group":"c6aabc3a.6ec46","name":"Danh Mục","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":160,"wires":[[]]},{"id":"4c42f896.ee3648","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua trang thai thiet bi","info":"","x":330,"y":160,"wires":[]},{"id":"77db336f.7920cc","type":"ui_template","z":"ecca26e7.711f58","group":"3a030af9.5d0166","name":"Danh Mục","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":220,"wires":[[]]},{"id":"b92186f7.2036f8","type":"ui_template","z":"ecca26e7.711f58","group":"d165075a.6f6b38","name":"Danh Mục","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":280,"wires":[[]]},{"id":"87ec8292.a4b43","type":"ui_template","z":"ecca26e7.711f58","group":"3595bbbe.b1f174","name":"Danh Mục","order":1,"width":6,"height":3,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://127.0.0.1:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":340,"wires":[[]]},{"id":"fac67f88.1c02d","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Điều Khiển","info":"","x":310,"y":220,"wires":[]},{"id":"194394c9.b96b5b","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Thông sô trạng thái","info":"","x":340,"y":280,"wires":[]},{"id":"8f4afada.0f75b8","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Dữ Liệu","info":"","x":300,"y":340,"wires":[]}]