note/flows_backup .json
[{"id":"3c8f9228.949c9e","type":"tab","label":"đăng nhập","disabled":false,"info":""},{"id":"ea563ac1.aaa738","type":"tab","label":"dữ liệu _điều khiển","disabled":false,"info":""},{"id":"5575f0cf.3f08e","type":"tab","label":"Tải về","disabled":false,"info":""},{"id":"e715dbbb.2d5808","type":"tab","label":"COM + caytrong","disabled":false,"info":""},{"id":"ecca26e7.711f58","type":"tab","label":"Danh Mục","disabled":false,"info":""},{"id":"957b1122.847d5","type":"tab","label":"Media","disabled":false,"info":""},{"id":"5908e88b.78cf68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"custom1","default":"#4B7930","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d503915.1d5ad7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dedc12e0.a6e57","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"fd22b45d.60c9f8","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"e2d945e6.501548","type":"ui_group","z":"","name":"control","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"467908c2.d06168","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fda5fb8.b06fc","type":"ui_group","z":"","name":"monitoring","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"a0db7773.4f7e18","type":"ui_group","z":"","name":"Chart","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4d9f5132.d888c","type":"ui_tab","z":"","name":"Đăng Nhập","icon":"dashboard","order":1,"disabled":true,"hidden":true},{"id":"dae96f94.bd5cb","type":"ui_group","z":"","name":"ĐIỀU KHIỂN THIẾT BỊ","tab":null,"order":5,"disp":true,"width":6,"collapse":false},{"id":"9e0000a8.f93b5","type":"ui_group","z":"","name":"Data Export","tab":"","order":1,"disp":true,"width":"12"},{"id":"95942421.f2f708","type":"filebrowser","z":"","share":"","port":"","domain":"","username":"","password":"","workdir":"","name":"","sshKeyPath":"","additionalLftpCommands":""},{"id":"de01b451.4ebdc8","type":"filebrowser","z":"","repositoryType":"SMB","share":"\\\\SHARE1\\public","port":"445","domain":"","username":"MyUsername","password":"MyPassword","workdir":"","name":"SHARE1","sshKeyPath":"","additionalLftpCommands":""},{"id":"17a09ea9.cc3e01","type":"filebrowser","z":"","repositoryType":"SMB","share":"\\\\SHARE1\\public","port":"445","domain":"","username":"MyUsername","password":"MyPassword","workdir":"","name":"SHARE1","sshKeyPath":"","additionalLftpCommands":""},{"id":"5b32f6a8.7ccd18","type":"ui_group","z":"","name":"control","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5b337905.08f118","type":"ui_group","z":"","name":"log in","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddcf9fbb.be507","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7d0769f8.7a9098","type":"ui_group","z":"","name":"monitoring","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"cca69ad9.0fd338","type":"ui_group","z":"","name":"Chart","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"66ccba97.13e1f4","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":null,"order":4,"disp":true,"width":6,"collapse":false},{"id":"f1ba7d8.050878","type":"ui_group","z":"","name":"link","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d1a5aa.9db74a6","type":"ui_group","z":"","name":"login download","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"76edca7a.fd0734","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN1","icon":"dashboard","order":2,"disabled":true,"hidden":true},{"id":"71e0027c.5a5afc","type":"arduino-board","z":"e715dbbb.2d5808","device":"COM5"},{"id":"a0a2d061.a1a4d","type":"serial-port","z":"","serialport":"COM12","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"60b28f1d.34bc7","type":"serial-port","z":"","serialport":"COM10","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"64e64cf.f0398b4","type":"ui_group","z":"","name":"Tải Về Dữ Liệu","tab":null,"order":3,"disp":true,"width":6,"collapse":false},{"id":"c6aabc3a.6ec46","type":"ui_group","z":"","name":"☰ Danh Mục","tab":"76edca7a.fd0734","order":1,"disp":true,"width":6,"collapse":false},{"id":"b28d38f7.71ce08","type":"ui_group","z":"","name":"Signin","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8e7a48.aa7dd58","type":"ui_group","z":"","name":"SensorData","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"9aaef44f.c121f8","type":"ui_group","z":"","name":"History","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"77656d93.93e2a4","type":"ui_group","z":"","name":"Thông Số Trạng Thái","tab":null,"order":2,"disp":true,"width":6,"collapse":false},{"id":"63c6482d.1ef448","type":"ui_group","z":"","name":"Google sheets","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2c64459a.28332a","type":"google-service-account","z":"3c8f9228.949c9e","name":"","scope":["https://www.googleapis.com/auth/spreadsheets"],"way":"json","check_dialogflow":"","check_speech":""},{"id":"1794bc9c.0e09f3","type":"ui_group","z":"","name":"ĐĂNG NHẬP","tab":"4d9f5132.d888c","order":1,"disp":true,"width":"6","collapse":false},{"id":"1c1bce4e.9751a2","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":2,"width":3,"height":1},{"id":"57ef999f.fd5a18","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":4,"width":3,"height":1},{"id":"5aa01c23.4e3c14","type":"ui_spacer","name":"spacer","group":"dae96f94.bd5cb","order":6,"width":3,"height":1},{"id":"bc235f0d.8d64c","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN2","icon":"dashboard","order":3,"disabled":true,"hidden":true},{"id":"982c56d6.e40588","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN3","icon":"dashboard","order":4,"disabled":true,"hidden":true},{"id":"3e9b0c9.afc4df4","type":"ui_tab","z":"","name":"GIAO DIỆN & ĐIỀU KHIỂN4","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"bc750392.96a02","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":"76edca7a.fd0734","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a030af9.5d0166","type":"ui_group","z":"","name":"Danh Mục","tab":"bc235f0d.8d64c","order":1,"disp":true,"width":"6","collapse":false},{"id":"d165075a.6f6b38","type":"ui_group","z":"","name":"Danh Mục","tab":"982c56d6.e40588","order":1,"disp":true,"width":"6","collapse":false},{"id":"3595bbbe.b1f174","type":"ui_group","z":"","name":"Danh Mục","tab":"3e9b0c9.afc4df4","order":1,"disp":true,"width":"6","collapse":true},{"id":"bcab381b.17d788","type":"ui_group","z":"","name":"Tải về dữ liệu","tab":"3e9b0c9.afc4df4","order":2,"disp":true,"width":"6","collapse":true},{"id":"74220ceb.72af34","type":"ui_group","z":"","name":"Điều Khiển Thiết Bị","tab":"bc235f0d.8d64c","order":2,"disp":true,"width":"6","collapse":false},{"id":"2df4200b.89e3d","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":"982c56d6.e40588","order":2,"disp":true,"width":"6","collapse":false},{"id":"3425c205.ad6cfe","type":"ui_group","z":"","name":"Danh Mục","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"5985c82a.33a9a8","type":"ui_group","z":"","name":"no phan loai","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e9281164.d5cd1","type":"ui_tab","z":"","name":"Media_File","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"f945a871.382238","type":"ui_group","z":"","name":"Group 1","tab":"e9281164.d5cd1","order":1,"disp":true,"width":"6","collapse":true},{"id":"ec29368.c43c9c8","type":"ui_spacer","name":"spacer","group":"2df4200b.89e3d","order":5,"width":5,"height":1},{"id":"503032ba.57486c","type":"ui_tab","z":"","name":"add","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"d0283bc1.905b28","type":"ui_group","z":"","name":"Nhiệt Độ","tab":"503032ba.57486c","order":2,"disp":true,"width":"6","collapse":true},{"id":"a618bd14.a9d4c","type":"ui_group","z":"","name":"Công Tắc","tab":"503032ba.57486c","order":3,"disp":true,"width":"6","collapse":true},{"id":"1eda1cde.6629a3","type":"ui_group","z":"","name":"Example","tab":"503032ba.57486c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c424f68.5225a","type":"ui_spacer","name":"spacer","group":"a618bd14.a9d4c","order":7,"width":1,"height":1},{"id":"8d48cd61.fa465","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2030,"y":240,"wires":[["e555635e.4ad72"]],"info":"`var date = getDate();`"},{"id":"fa59a3d4.f8d1b","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1890,"y":240,"wires":[["8d48cd61.fa465"]]},{"id":"625e1fce.4f9fd","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":1690,"y":200,"wires":[["fa59a3d4.f8d1b","c73da3a0.fda82"]]},{"id":"79da7e93.2a472","type":"function","z":"5575f0cf.3f08e","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"temperature\"               //topic\nvar save = global.get('find3');\n\nvar str = \"\";\n var basePath = str.concat(\"D:\\\\DATA\\\\\",save,\"\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month+1,\"\\\\\");\n// var basepath1 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week1);\n// var basepath2 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week2);\n// var basepath3 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week3);\n// var basepath4 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week4);\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\n// if(1<=day<=6)\n// {\n    \n//     var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month,\"\\\\\");\n// }\n// if(8<=day<=15)\n// {\n//     basePath = basepath2;\n// }\n// if(16<=day<=23)\n// {\n//     basePath = basepath3;\n// }\n// if(24<=day<=31)\n// {\n//     basePath = basepath4;\n// }\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["900be292.530eb"],["a1207d1b.7ea99"]]},{"id":"a1207d1b.7ea99","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"900be292.530eb","type":"file in","z":"5575f0cf.3f08e","name":"out file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":530,"y":100,"wires":[["a1207d1b.7ea99"]]},{"id":"c3c4dde6.1af0d","type":"catch","z":"5575f0cf.3f08e","name":"","scope":null,"uncaught":true,"x":120,"y":200,"wires":[["7d2a325e.4d1fbc","e3c57cba.73d35"]]},{"id":"7d2a325e.4d1fbc","type":"function","z":"5575f0cf.3f08e","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":200,"wires":[["a1207d1b.7ea99"]]},{"id":"e3c57cba.73d35","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":260,"wires":[]},{"id":"d6d92c90.95814","type":"ui_template","z":"5575f0cf.3f08e","group":"bcab381b.17d788","name":"link down temperature","order":1,"width":6,"height":3,"format":"\n<!DOCTYPE html>\n<body>\n    \n<h2> Dữ Liệu gần đây: nhiệt độ  </h2>\n<div >\n    Tuần 1 :   <a href=http://192.168.1.111:1880/load1/> week1 </a> <br>\n    Tuần 2 :   <a href=http://192.168.1.111:1880/load2/> week2 </a> <br>\n    Tuần 3 :   <a href=http://192.168.1.111:1880/load3/> week3 </a> <br>\n    Tuần 4 :   <a href=http://192.168.1.111:1880/load4/> week4 </a> <br>\n    \n</div>\n</body>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":540,"y":260,"wires":[[]]},{"id":"ac3d5ea.3e951a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["79da7e93.2a472","bed8bcee.52725"]],"info":"fn: file name\nfiles : nhung tap tin\n\n"},{"id":"644600de.f7f2f","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load1","method":"get","upload":false,"swaggerDoc":"","x":240,"y":360,"wires":[["da20bade.db90b8"]]},{"id":"da20bade.db90b8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 1</h1>\n            FILE 1 :   <a href=\"/files/day-1.csv\"> download day-1.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-2.csv\"> download day-2.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-3.csv\"> download day-3.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-4.csv\"> download day-4.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-5.csv\"> download day-5.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-6.csv\"> download day-6.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-7.csv\"> download day-7.csv </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":360,"wires":[["53f937db.ebac78"]]},{"id":"53f937db.ebac78","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":360,"wires":[]},{"id":"b88de757.378a08","type":"comment","z":"5575f0cf.3f08e","name":"week ->","info":"","x":110,"y":360,"wires":[]},{"id":"454f81f.0b1e48","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load2","method":"get","upload":false,"swaggerDoc":"","x":240,"y":400,"wires":[["7716492d.5460f8"]]},{"id":"7716492d.5460f8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 2</h1>\n            FILE 1 :   <a href=\"/files/day-8.csv\"> download day-8.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-9.csv\"> download day-9.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-10.csv\"> download day-10.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-11.csv\"> download day-11.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-12.csv\"> download day-12.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-13.csv\"> download day-13.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-14.csv\"> download day-14.csv </a> <br>\n            FILE 8 :   <a href=\"/files/day-15.csv\"> download day-15.csv </a> <br>\n            FILE 9 :   <a href=\"/files/day-16.csv\"> download day-16.csv </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":400,"wires":[["6e30e03b.76a08"]]},{"id":"6e30e03b.76a08","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":400,"wires":[]},{"id":"82564d37.5f7b","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load3","method":"get","upload":false,"swaggerDoc":"","x":240,"y":440,"wires":[["410d155b.968f6c"]]},{"id":"410d155b.968f6c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 3</h1>\n            FILE 1 :   <a href=\"/files/day-17.csv\"> download day-17.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-18.csv\"> download day-18.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-19.csv\"> download day-19.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-20.csv\"> download day-20.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-21.csv\"> download day-21.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-22.csv\"> download day-22.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-23.csv\"> download day-23.csv </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":440,"wires":[["35a389ee.bbbce6"]]},{"id":"35a389ee.bbbce6","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"3cb12ef.c79ced2","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/load4","method":"get","upload":false,"swaggerDoc":"","x":240,"y":480,"wires":[["edbdebb7.bd1918"]]},{"id":"edbdebb7.bd1918","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 4</h1>\n            FILE 1 :   <a href=\"/files/day-23.csv\"> download day-23.csv </a> \n                <script>\n        document.write(\"&emsp; &ensp; --> no problem\");\n        document.writeln(a);\n    </script>\n    <br> \n            FILE 1 :   <a href=\"/files/day-24.csv\"> download day-24.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-25.csv\"> download day-25.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-26.csv\"> download day-26.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-27.csv\"> download day-27.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-28.csv\"> download day-28.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-29.csv\"> download day-29.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-30.csv\"> download day-30.csv </a> <br>\n            FILE 8 :   <a href=\"/files/day-31.csv\"> download day-31.csv </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":480,"wires":[["916ffafe.a17948"]]},{"id":"916ffafe.a17948","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":480,"wires":[]},{"id":"fd1e2178.dbdc1","type":"comment","z":"ea563ac1.aaa738","name":"send data esp8266 -> t","info":"","x":1640,"y":100,"wires":[]},{"id":"9d42f116.18505","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":510,"y":300,"wires":[["42cb2bb7.aabb84"]],"info":"`var date = getDate();`"},{"id":"513ce0d5.113c1","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp32v1","topic":"esp32v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":180,"y":240,"wires":[["5bb1982e.9c1498","f74dd3a5.8880d"]]},{"id":"510f4460.504aac","type":"comment","z":"ea563ac1.aaa738","name":"send data esp32 -> h","info":"","x":140,"y":180,"wires":[]},{"id":"4b2519d8.7eff48","type":"comment","z":"ea563ac1.aaa738","name":"send data mega1 ->","info":"","x":130,"y":620,"wires":[]},{"id":"b91816c0.ea6478","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":590,"y":760,"wires":[["c28b3aff.3e6ec8"]],"info":"`var date = getDate();`"},{"id":"7e151c3e.4b1404","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":760,"wires":[["b91816c0.ea6478"]]},{"id":"afb0bce4.27e6c","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send mega1","topic":"mega1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":260,"y":720,"wires":[["7e151c3e.4b1404","77ab477b.a33cd8","f0085d84.39add"]]},{"id":"968bdd8.28c6c2","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp8266v1","topic":"esp8266v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":1940,"y":320,"wires":[]},{"id":"490ec91e.eb4d08","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp32v1","topic":"esp32v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":410,"y":380,"wires":[]},{"id":"e04bc4ff.78fcd8","type":"mqtt out","z":"ea563ac1.aaa738","name":"subscribe mega1","topic":"mega1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":470,"y":860,"wires":[]},{"id":"bed8bcee.52725","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"390db13f.54356e","type":"comment","z":"5575f0cf.3f08e","name":"link download at here","info":"","x":140,"y":60,"wires":[]},{"id":"c73da3a0.fda82","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":280,"wires":[["e6a1da27.3c9238"]]},{"id":"e6a1da27.3c9238","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":2050,"y":280,"wires":[["bb407d37.f676e"]]},{"id":"1dc92a5d.7a5236","type":"function","z":"5575f0cf.3f08e","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"humidity\"               //topic\n\nvar str = \"\";\n var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month+1,\"\\\\\");\n// var basepath1 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week1);\n// var basepath2 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week2);\n// var basepath3 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week3);\n// var basepath4 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week4);\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\n// if(1<=day<=6)\n// {\n    \n//     var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-\",year,\"\\\\month-\",month,\"\\\\\");\n// }\n// if(8<=day<=15)\n// {\n//     basePath = basepath2;\n// }\n// if(16<=day<=23)\n// {\n//     basePath = basepath3;\n// }\n// if(24<=day<=31)\n// {\n//     basePath = basepath4;\n// }\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1210,"y":120,"wires":[["74ac0f1c.7ff51"],["e49f0946.e49d28"]]},{"id":"e49f0946.e49d28","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1550,"y":140,"wires":[]},{"id":"74ac0f1c.7ff51","type":"file in","z":"5575f0cf.3f08e","name":"out file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":1410,"y":80,"wires":[["e49f0946.e49d28"]]},{"id":"3db3d75b.c37e28","type":"catch","z":"5575f0cf.3f08e","name":"","scope":null,"uncaught":false,"x":1000,"y":180,"wires":[["98f23fa4.42948","97873865.f57cf8"]]},{"id":"98f23fa4.42948","type":"function","z":"5575f0cf.3f08e","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":180,"wires":[["e49f0946.e49d28"]]},{"id":"97873865.f57cf8","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":240,"wires":[]},{"id":"3f5f3061.15014","type":"ui_template","z":"5575f0cf.3f08e","group":"bcab381b.17d788","name":"link down humidity","order":3,"width":6,"height":3,"format":"\n<!DOCTYPE html>\n<body>\n    \n<h2> Dữ Liệu gần đây: độ ẩm </h2>\n<div >\n    Tuần 1 :   <a href=http://192.168.1.111:1880/loadh1/> week1 </a> <br>\n    Tuần 2 :   <a href=http://192.168.1.111:1880/loadh2/> week2 </a> <br>\n    Tuần 3 :   <a href=http://192.168.1.111:1880/loadh3/> week3 </a> <br>\n    Tuần 4 :   <a href=http://192.168.1.111:1880/loadh4/> week4 </a> <br>\n    \n</div>\n    <script>\n            var a=\"FILE 10\";\n            document.writeln(a);\n            var abc = \"/files/day-30.txt\";\n            document.writeln(<a href= abc> click me </a>);\n    </script> \n</body>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1410,"y":240,"wires":[[]]},{"id":"48b491c1.90e6b","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":1010,"y":120,"wires":[["1dc92a5d.7a5236","6a22643c.29da8c"]],"info":"fn: file name\nfiles : nhung tap tin\n\n"},{"id":"6a22643c.29da8c","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":80,"wires":[]},{"id":"8f61715c.5fca7","type":"comment","z":"5575f0cf.3f08e","name":"link download at here","info":"","x":1020,"y":40,"wires":[]},{"id":"85c99ac1.9030a8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh1","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":360,"wires":[["4790ce9b.28b01"]]},{"id":"4790ce9b.28b01","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 1</h1>\n            FILE 1 :   <a href=\"/files/day-1.csv\"> download day-1.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-2.csv\"> download day-2.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-3.csv\"> download day-3.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-4.csv\"> download day-4.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-5.csv\"> download day-5.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-6.csv\"> download day-6.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-7.csv\"> download day-7.csv </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":360,"wires":[["f0d26865.25e798"]]},{"id":"f0d26865.25e798","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":360,"wires":[]},{"id":"7eded593.b9730c","type":"comment","z":"5575f0cf.3f08e","name":"week ->","info":"","x":970,"y":360,"wires":[]},{"id":"a544ee56.eae48","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh2","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":400,"wires":[["30607fd8.c3f36"]]},{"id":"30607fd8.c3f36","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 2</h1>\n            FILE 1 :   <a href=\"/files/day-8.csv\"> download day-8.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-9.csv\"> download day-9.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-10.csv\"> download day-10.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-11.csv\"> download day-11.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-12.csv\"> download day-12.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-13.csv\"> download day-13.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-14.csv\"> download day-14.csv </a> <br>\n            FILE 8 :   <a href=\"/files/day-15.csv\"> download day-15.csv </a> <br>\n            FILE 9 :   <a href=\"/files/day-16.csv\"> download day-16.csv </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":400,"wires":[["a2472e6f.25a3b"]]},{"id":"a2472e6f.25a3b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":400,"wires":[]},{"id":"33e20144.56517e","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh3","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":440,"wires":[["44f3b7ab.68acf8"]]},{"id":"44f3b7ab.68acf8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 3</h1>\n            FILE 1 :   <a href=\"/files/day-17.csv\"> download day-17.csv </a> <br>\n            FILE 2 :   <a href=\"/files/day-18.csv\"> download day-18.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-19.csv\"> download day-19.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-20.csv\"> download day-20.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-21.csv\"> download day-21.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-22.csv\"> download day-22.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-23.csv\"> download day-23.csv </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":440,"wires":[["626aee2b.945bc"]]},{"id":"626aee2b.945bc","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":440,"wires":[]},{"id":"a352910b.f4652","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/loadh4","method":"get","upload":false,"swaggerDoc":"","x":1110,"y":480,"wires":[["eef3905f.a82c"]]},{"id":"eef3905f.a82c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TUẦN 4</h1>\n            FILE 1 :   <a href=\"/files/day-23.csv\"> download day-23.csv </a> \n                <script>\n        var a= \"______ no problem\";\n        document.writeln(a);\n    </script>\n    <br> \n            FILE 2 :   <a href=\"/files/day-24.csv\"> download day-24.csv </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.csv\"> download day-25.csv </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.csv\"> download day-26.csv </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.csv\"> download day-27.csv </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.csv\"> download day-28.csv </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.csv\"> download day-29.csv </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.csv\"> download day-30.csv </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.csv\"> download day-31.csv </a> <br>\n    </body>\n</html>","output":"str","x":1380,"y":480,"wires":[["78d2ee6b.6ec0b"]]},{"id":"78d2ee6b.6ec0b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1530,"y":480,"wires":[]},{"id":"c2edce43.825ca","type":"serial out","z":"e715dbbb.2d5808","name":"","serial":"60b28f1d.34bc7","x":440,"y":220,"wires":[]},{"id":"2fe16f20.5eda","type":"mqtt in","z":"e715dbbb.2d5808","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":250,"y":220,"wires":[["c2edce43.825ca"]]},{"id":"1b419815.7642f8","type":"serial in","z":"e715dbbb.2d5808","name":"","serial":"60b28f1d.34bc7","x":650,"y":220,"wires":[["3eab9521.a4060a"]]},{"id":"3eab9521.a4060a","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"738020bb.f2c0b","type":"function","z":"3c8f9228.949c9e","name":"Processing log in","func":"if(msg.payload.user==\"sensor\" && msg.payload.pass==\"sensor\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":180,"wires":[["952d44c6.dfc468"]]},{"id":"ef6ddb2f.3fbdc8","type":"function","z":"3c8f9228.949c9e","name":"wrong","func":"if(msg.payload.user!=\"sensor\"){\n    msg.payload=\"Bạn nhập sai Tên Đăng Nhập !\"\n}\nelse if (msg.payload.pass!=\"sensor\"){\n    msg.payload=\"Bạn nhập sai Mật Khẩu !\"\n}\nelse { msg.payload=0; }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":260,"wires":[["3686cd55.a06a42"]]},{"id":"3686cd55.a06a42","type":"switch","z":"3c8f9228.949c9e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":260,"wires":[["6813a981.bba8c8"]]},{"id":"9e04ee90.41232","type":"ui_form","z":"3c8f9228.949c9e","name":"login control","label":"","group":"1794bc9c.0e09f3","order":1,"width":"0","height":"0","options":[{"label":"Tên Đăng Nhập","value":"user","type":"text","required":true,"rows":null},{"label":"Mật khẩu","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"Đăng Nhập","cancel":"Huỷ","topic":"","x":110,"y":220,"wires":[["738020bb.f2c0b","ef6ddb2f.3fbdc8"]]},{"id":"6813a981.bba8c8","type":"ui_toast","z":"3c8f9228.949c9e","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":550,"y":260,"wires":[[]]},{"id":"952d44c6.dfc468","type":"ui_ui_control","z":"3c8f9228.949c9e","name":"","events":"connect","x":480,"y":180,"wires":[[]]},{"id":"6be66c7a.a900b4","type":"function","z":"e715dbbb.2d5808","name":"","func":"\nvar caytrongmy = msg.payload;\nmsg.payload = caytrongmy;\nglobal.set('caytrongmy',caytrongmy);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":620,"wires":[[]]},{"id":"2118f53a.36502a","type":"file in","z":"e715dbbb.2d5808","name":"read","filename":"D:/DATA/strees.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":330,"y":500,"wires":[["a0d6882.dd9bf78","dfd252a5.e2bab","6be66c7a.a900b4"]]},{"id":"a0d6882.dd9bf78","type":"ui_text_input","z":"e715dbbb.2d5808","name":"cay trong","label":"<b >NHẬP TÊN CÂY TRỒNG TẠI ĐÂY:  </b> <br/>","tooltip":"","group":"1eda1cde.6629a3","order":2,"width":6,"height":1,"passthru":true,"mode":"text","delay":"1000","topic":"","x":500,"y":500,"wires":[["b5ff893e.1e0288","c8c7b97b.1c7aa8"]]},{"id":"b5ff893e.1e0288","type":"function","z":"e715dbbb.2d5808","name":"","func":"var count = msg.payload;\n\nvar strfind = \"chuoi so 1\";\nvar find = count.trim();\nvar find1 = find.replace(\" \",\"_\");\nvar find2 = find1.replace(\" \",\"_\");\nvar find3 = find2.replace(\" \",\"_\");\nmsg.payload = find3;\nglobal.set('find3',find3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":500,"wires":[["40c5829e.ae70dc"]]},{"id":"40c5829e.ae70dc","type":"file","z":"e715dbbb.2d5808","name":"","filename":"D:/DATA/strees.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":870,"y":500,"wires":[[]]},{"id":"92c09c06.add1d","type":"debug","z":"e715dbbb.2d5808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":460,"wires":[]},{"id":"c8c7b97b.1c7aa8","type":"ui_text","z":"e715dbbb.2d5808","group":"1eda1cde.6629a3","order":3,"width":6,"height":1,"name":"","label":"Cây Trồng Đã Nhập: ","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":540,"wires":[]},{"id":"dfd252a5.e2bab","type":"function","z":"e715dbbb.2d5808","name":"","func":"var caytrong = msg.payload;\n\nvar caytrong_r1 = caytrong.replace(\"_\",\" \");\nvar caytrong_r2 = caytrong_r1.replace(\"_\",\" \");\nvar caytrong_r3 = caytrong_r2.replace(\"_\",\" \");\nvar caytrong_r4 = caytrong_r3.replace(\"_\",\" \");\nvar caytrong2 = \"\";\nvar caytrong3 = caytrong2.concat(\"\",caytrong_r4);\nmsg.payload = caytrong3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":540,"wires":[["c8c7b97b.1c7aa8"]]},{"id":"e555635e.4ad72","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2170,"y":240,"wires":[[]]},{"id":"bb407d37.f676e","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":2190,"y":280,"wires":[[]]},{"id":"42cb2bb7.aabb84","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":650,"y":300,"wires":[[]]},{"id":"6a59899e.e72288","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":340,"wires":[["fd198efc.c361e"]]},{"id":"fd198efc.c361e","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":340,"wires":[[]]},{"id":"f0085d84.39add","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[["62c902ae.f3ae2c"]]},{"id":"62c902ae.f3ae2c","type":"file","z":"ea563ac1.aaa738","name":"backup save","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":590,"y":820,"wires":[["9a280212.38008"]]},{"id":"9a280212.38008","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":820,"wires":[[]]},{"id":"c28b3aff.3e6ec8","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":730,"y":760,"wires":[[]]},{"id":"5bb1982e.9c1498","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"humidity\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["9d42f116.18505"]]},{"id":"f74dd3a5.8880d","type":"function","z":"ea563ac1.aaa738","name":"F backup","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"humidity\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/BACKUP_DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":340,"wires":[["6a59899e.e72288"]]},{"id":"cb12bede.7c275","type":"ui_template","z":"ecca26e7.711f58","group":"c6aabc3a.6ec46","name":"Danh Mục","order":1,"width":6,"height":6,"format":"<span style=\" color: blue;\"> \n    <a href=http://192.168.1.111:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/><img src=\"http://192.168.1.4:1880/uimedia/qww/123.jpg\"  width=\"200\" height=\"100\"></a> <br/>\n    <a href=http://192.168.1.111:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/><img src=\"http://192.168.1.111:1880/uimedia/giot%20nuoc/giotnuoc.jpg\"  width=\"100\" height=\"80\"></a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":160,"wires":[[]]},{"id":"4c42f896.ee3648","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua trang thai thiet bi","info":"","x":330,"y":160,"wires":[]},{"id":"77db336f.7920cc","type":"ui_template","z":"ecca26e7.711f58","group":"3a030af9.5d0166","name":"Danh Mục","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n <a href=http://192.168.1.111:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/><img src=\"http://192.168.1.4:1880/uimedia/giot%20nuoc/giotnuoc.jpg\"  width=\"200\" height=\"100\"></a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":220,"wires":[[]]},{"id":"b92186f7.2036f8","type":"ui_template","z":"ecca26e7.711f58","group":"d165075a.6f6b38","name":"Danh Mục","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":280,"wires":[[]]},{"id":"87ec8292.a4b43","type":"ui_template","z":"ecca26e7.711f58","group":"3595bbbe.b1f174","name":"Danh Mục","order":1,"width":6,"height":3,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/control/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/control/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/control/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/control/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n        <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/control/#!/5?socketid=3nmR0nGHgkHMns-lAAAG/>chưa phân loại</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":340,"wires":[[]]},{"id":"fac67f88.1c02d","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Điều Khiển","info":"","x":310,"y":220,"wires":[]},{"id":"194394c9.b96b5b","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Thông sô trạng thái","info":"","x":340,"y":280,"wires":[]},{"id":"8f4afada.0f75b8","type":"comment","z":"ecca26e7.711f58","name":"danh muc cua Dữ Liệu","info":"","x":300,"y":340,"wires":[]},{"id":"5886328f.31cb0c","type":"ui_template","z":"ecca26e7.711f58","group":"1eda1cde.6629a3","name":"Danh Mục","order":1,"width":6,"height":3,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/3?socketid=CKQCMWDq5oXqWCgLAAAG/>Thông Số Trạng Thái</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/1?socketid=CKQCMWDq5oXqWCgLAAAG/>Trạng Thái Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/2?socketid=CKQCMWDq5oXqWCgLAAAG/>Điều Khiển Thiết Bị</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/4?socketid=CKQCMWDq5oXqWCgLAAAG/>Tải Về Dữ Liệu</a> <br/>\n    <b style=\"color : red;\"> <b/>\n    <a href=http://192.168.1.111:1880/ui/#!/5?socketid=3nmR0nGHgkHMns-lAAAG/>chưa phân loại</a> <br/>\n</span>\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":610,"y":400,"wires":[[]]},{"id":"9f59b509.b087a8","type":"comment","z":"ecca26e7.711f58","name":"danh muc chưa phân loại","info":"","x":310,"y":400,"wires":[]},{"id":"d2307bba.01b868","type":"ui_media","z":"957b1122.847d5","group":"f945a871.382238","name":"media 2","width":0,"height":0,"order":1,"category":"new1","file":"1234.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":220,"wires":[[]]},{"id":"f8765ec0.e1fd8","type":"ui_media","z":"957b1122.847d5","group":"f945a871.382238","name":"giot nuoc","width":0,"height":0,"order":2,"category":"giot nuoc","file":"giotnuoc.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":260,"wires":[[]]},{"id":"9eeda4cc.046348","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_1","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1080,"wires":[["2a3e6da2.938f32","bd1c6ff2.085b5","cf3b773b.658de8"]]},{"id":"800a4546.a6d618","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_2","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1160,"wires":[["3f4c6a27.0d1d26","25e56fc.f68759"]]},{"id":"cfb649a2.d398a8","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_3","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1240,"wires":[["7a11e26.9e8501c","46861f6b.a3345"]]},{"id":"d936b72d.3c0188","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_4","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1320,"wires":[["9a40b145.c171b","ddbd3315.f16b1"]]},{"id":"4e82625.ccbf89c","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_5","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1400,"wires":[["93e1501c.6d82","a282d96c.638e28"]]},{"id":"40e3cd3b.3981e4","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_6","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1480,"wires":[["397b4c62.7bd844","86b2507a.b4055"]]},{"id":"fcb4d371.81802","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_7","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1560,"wires":[["19153768.05e779","63b32029.29064"]]},{"id":"6542575.00762a8","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"ds18b20_8","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":220,"y":1640,"wires":[["fc07d7b8.d77138","87536ecc.050c8"]]},{"id":"2a3e6da2.938f32","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":1,"width":0,"height":0,"name":"","label":"nhiệt độ 1","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1080,"wires":[]},{"id":"3f4c6a27.0d1d26","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":2,"width":0,"height":0,"name":"","label":"nhiệt độ 2","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1160,"wires":[]},{"id":"7a11e26.9e8501c","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":3,"width":0,"height":0,"name":"","label":"nhiệt độ 3","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1240,"wires":[]},{"id":"9a40b145.c171b","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":4,"width":0,"height":0,"name":"","label":"nhiệt độ 4","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1320,"wires":[]},{"id":"93e1501c.6d82","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":5,"width":0,"height":0,"name":"","label":"nhiệt độ 5","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1400,"wires":[]},{"id":"397b4c62.7bd844","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":6,"width":0,"height":0,"name":"","label":"nhiệt độ 6","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1480,"wires":[]},{"id":"19153768.05e779","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":7,"width":0,"height":0,"name":"","label":"nhiệt độ 7","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1560,"wires":[]},{"id":"fc07d7b8.d77138","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":8,"width":0,"height":0,"name":"","label":"nhiệt độ 8","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":1640,"wires":[]},{"id":"ca328ca8.d22d8","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"van1","tooltip":"","group":"a618bd14.a9d4c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_van1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_van1","offvalueType":"str","officon":"","offcolor":"","x":670,"y":1080,"wires":[["9e4d1c4e.ae462","9c5fbe8f.4955d"]]},{"id":"ea58df36.8682d","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"van2","tooltip":"","group":"a618bd14.a9d4c","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_van2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_van2","offvalueType":"str","officon":"","offcolor":"","x":670,"y":1160,"wires":[["e2f37641.f4a278","df248990.dc6a08"]]},{"id":"db5ae1f6.85e9e","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"motor DC1","tooltip":"","group":"a618bd14.a9d4c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_dc1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_dc1","offvalueType":"str","officon":"","offcolor":"","x":690,"y":1240,"wires":[["81c263fb.76acc","e34375e8.66cde8"]]},{"id":"5613deec.fabb","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"motor DC2","tooltip":"","group":"a618bd14.a9d4c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_dc2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_dc2","offvalueType":"str","officon":"","offcolor":"","x":690,"y":1320,"wires":[["90fd15e8.0766a8","fd23231e.d409e"]]},{"id":"e53ec891.2c4ab8","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"AC1","tooltip":"","group":"a618bd14.a9d4c","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_ac1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_ac1","offvalueType":"str","officon":"","offcolor":"","x":670,"y":1400,"wires":[["fb65f3d4.b9b4f","19be99c4.419d66"]]},{"id":"5c55c1df.94c65","type":"ui_switch","z":"ea563ac1.aaa738","name":"","label":"AC2","tooltip":"","group":"a618bd14.a9d4c","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_ac2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off_ac2","offvalueType":"str","officon":"","offcolor":"","x":670,"y":1480,"wires":[["cea1e14a.a3c33","d2678c49.aae72"]]},{"id":"9e4d1c4e.ae462","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"van1","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1080,"wires":[]},{"id":"e2f37641.f4a278","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"van2","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1160,"wires":[]},{"id":"81c263fb.76acc","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"dc1","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1240,"wires":[]},{"id":"90fd15e8.0766a8","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"dc2","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1320,"wires":[]},{"id":"fb65f3d4.b9b4f","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"ac1","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1400,"wires":[]},{"id":"cea1e14a.a3c33","type":"mqtt out","z":"ea563ac1.aaa738","name":"","topic":"ac2","qos":"","retain":"","broker":"d503915.1d5ad7","x":890,"y":1480,"wires":[]},{"id":"bd1c6ff2.085b5","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature1\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1040,"wires":[["db6aa495.3848e8"]]},{"id":"db6aa495.3848e8","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1040,"wires":[["233dd48b.731bec"]],"info":"`var date = getDate();`"},{"id":"233dd48b.731bec","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1040,"wires":[[]]},{"id":"25e56fc.f68759","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature2\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1120,"wires":[["905d986f.e1e478"]]},{"id":"905d986f.e1e478","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1120,"wires":[["ff0cb3c.d6a845"]],"info":"`var date = getDate();`"},{"id":"ff0cb3c.d6a845","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1120,"wires":[[]]},{"id":"46861f6b.a3345","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature3\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1200,"wires":[["852cad7a.7a9de"]]},{"id":"852cad7a.7a9de","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1200,"wires":[["391707f6.429118"]],"info":"`var date = getDate();`"},{"id":"391707f6.429118","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1200,"wires":[[]]},{"id":"ddbd3315.f16b1","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature4\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1280,"wires":[["616f9699.714348"]]},{"id":"616f9699.714348","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1280,"wires":[["69fbb75.93e1548"]],"info":"`var date = getDate();`"},{"id":"69fbb75.93e1548","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1280,"wires":[[]]},{"id":"a282d96c.638e28","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature5\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1360,"wires":[["8b69d98d.0dfaa8"]]},{"id":"8b69d98d.0dfaa8","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1360,"wires":[["30261834.69f1e8"]],"info":"`var date = getDate();`"},{"id":"30261834.69f1e8","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1360,"wires":[[]]},{"id":"86b2507a.b4055","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature6\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1440,"wires":[["cda31b3.090a5e8"]]},{"id":"cda31b3.090a5e8","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1440,"wires":[["c29df492.2902d8"]],"info":"`var date = getDate();`"},{"id":"c29df492.2902d8","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1440,"wires":[[]]},{"id":"63b32029.29064","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature7\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1520,"wires":[["968f26e6.a5c548"]]},{"id":"968f26e6.a5c548","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1520,"wires":[["40bb336b.cde2fc"]],"info":"`var date = getDate();`"},{"id":"40bb336b.cde2fc","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1520,"wires":[[]]},{"id":"87536ecc.050c8","type":"function","z":"ea563ac1.aaa738","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\n\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:/DATA/\",save,\"/\",topic,\"/temperature8\",\"/year-\",year,\"/month-\",month+1,\"/\",day,\"_\",month,\"_\",year,\" .csv\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",t);\n    msg.payload = time1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":1600,"wires":[["61607b6.d03ea84"]]},{"id":"61607b6.d03ea84","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":530,"y":1600,"wires":[["6caa1bdc.71b9e4"]],"info":"`var date = getDate();`"},{"id":"6caa1bdc.71b9e4","type":"csv","z":"ea563ac1.aaa738","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1600,"wires":[[]]},{"id":"dd4679de.5cdac8","type":"mqtt in","z":"e715dbbb.2d5808","name":"","topic":"caytrong","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":180,"y":500,"wires":[["2118f53a.36502a","92c09c06.add1d"]]},{"id":"9d6bd6e.e250a28","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":1060,"y":1040,"wires":[]},{"id":"9c5fbe8f.4955d","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_van1\")\n{\n    msg.payload = \"Bật Van 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Van 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1040,"wires":[["9d6bd6e.e250a28"]]},{"id":"b3a406ba.94ea58","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":1120,"wires":[]},{"id":"df248990.dc6a08","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_van2\")\n{\n    msg.payload = \"Bật Van 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Van 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1120,"wires":[["b3a406ba.94ea58"]]},{"id":"c842ff49.bc492","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":1200,"wires":[]},{"id":"e34375e8.66cde8","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_dc1\")\n{\n    msg.payload = \"Bật Động Cơ DC 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ DC 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1200,"wires":[["c842ff49.bc492"]]},{"id":"9108f974.81c3d8","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":1280,"wires":[]},{"id":"fd23231e.d409e","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_dc2\")\n{\n    msg.payload = \"Bật Động Cơ DC 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ DC 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1280,"wires":[["9108f974.81c3d8"]]},{"id":"53068d3.31d8b74","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":1360,"wires":[]},{"id":"19be99c4.419d66","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_ac1\")\n{\n    msg.payload = \"Bật Động Cơ AC 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ AC 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1360,"wires":[["53068d3.31d8b74"]]},{"id":"6643994c.f9b548","type":"ui_toast","z":"ea563ac1.aaa738","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1060,"y":1440,"wires":[]},{"id":"d2678c49.aae72","type":"function","z":"ea563ac1.aaa738","name":"","func":"if(msg.payload == \"on_ac2\")\n{\n    msg.payload = \"Bật Động Cơ AC 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ AC 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1440,"wires":[["6643994c.f9b548"]]},{"id":"77ab477b.a33cd8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":720,"wires":[]},{"id":"dced490f.f127a8","type":"mqtt in","z":"ea563ac1.aaa738","name":"","topic":"TDS_sensor1","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":210,"y":1720,"wires":[["a83711f0.ce3a8"]]},{"id":"a83711f0.ce3a8","type":"ui_text","z":"ea563ac1.aaa738","group":"d0283bc1.905b28","order":9,"width":0,"height":0,"name":"","label":"TDS : ","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":1720,"wires":[]},{"id":"cf3b773b.658de8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":980,"wires":[]}]