note/flows_backup .json
[{"id":"b546a179.d4edf","type":"tab","label":"đăng nhập","disabled":false,"info":""},{"id":"d68d93c2.6d6b2","type":"tab","label":"dữ liệu _điều khiển","disabled":false,"info":""},{"id":"9e8b4dfa.e211d","type":"tab","label":"Tải về","disabled":false,"info":""},{"id":"7f1d266e.b89bb8","type":"tab","label":"COM + caytrong","disabled":false,"info":""},{"id":"59527d72.2f79e4","type":"tab","label":"Danh Mục","disabled":false,"info":""},{"id":"e60b651.519c398","type":"tab","label":"Media","disabled":false,"info":""},{"id":"2fb200f1.d20e9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"custom1","default":"#4B7930","baseColor":"#0094ce","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Server","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":50,"sy":50,"gx":7,"gy":7,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6916a892.1f06f8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ffad0a23.23f6d8","type":"ui_tab","z":"","name":"Đăng Nhập","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"c41de0c4.02f7a","type":"ui_group","z":"","name":"ĐIỀU KHIỂN THIẾT BỊ","tab":null,"order":5,"disp":true,"width":6,"collapse":false},{"id":"34257eb9.8f2c02","type":"serial-port","z":"","serialport":"COM10","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"dd404600.c1c808","type":"ui_group","z":"","name":"ĐĂNG NHẬP","tab":"ffad0a23.23f6d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c20b865a.d4cae8","type":"ui_spacer","name":"spacer","group":"c41de0c4.02f7a","order":2,"width":3,"height":1},{"id":"f87c63ce.76dba","type":"ui_spacer","name":"spacer","group":"c41de0c4.02f7a","order":4,"width":3,"height":1},{"id":"f3e4d793.327928","type":"ui_spacer","name":"spacer","group":"c41de0c4.02f7a","order":6,"width":3,"height":1},{"id":"d8ca477e.362708","type":"ui_tab","z":"","name":"TẢI DỮ LIỆU","icon":"dashboard","order":8,"disabled":true,"hidden":true},{"id":"ae23aa0c.c40d78","type":"ui_group","z":"","name":"Danh Mục","tab":"d8ca477e.362708","order":1,"disp":true,"width":"6","collapse":true},{"id":"ad8c1103.563d1","type":"ui_group","z":"","name":"Tải về dữ liệu","tab":"d8ca477e.362708","order":2,"disp":true,"width":"6","collapse":true},{"id":"b69ff214.bdead","type":"ui_group","z":"","name":"Trạng Thái Thiết Bị","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6513b82.0b40b8","type":"ui_tab","z":"","name":"Media_File","icon":"dashboard","order":9,"disabled":true,"hidden":true},{"id":"f2230ce2.c8fcb","type":"ui_group","z":"","name":"Group 1","tab":"f6513b82.0b40b8","order":2,"disp":true,"width":"6","collapse":true},{"id":"52f40aad.b98b84","type":"ui_spacer","name":"spacer","group":"b69ff214.bdead","order":5,"width":5,"height":1},{"id":"1293eb65.76e6b5","type":"ui_tab","z":"","name":"GIAO DIỆN","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"9f6981be.7d17","type":"ui_group","z":"","name":"Thông Số Môi Trường","tab":"1293eb65.76e6b5","order":4,"disp":true,"width":"6","collapse":true},{"id":"177ea135.f19bbf","type":"ui_group","z":"","name":"Kênh Điều Khiển","tab":"1293eb65.76e6b5","order":6,"disp":true,"width":"6","collapse":true},{"id":"cc335c88.7c3cb","type":"ui_group","z":"","name":"Thời Gian","tab":"1293eb65.76e6b5","order":2,"disp":true,"width":"6","collapse":false},{"id":"5c0f94af.3a821c","type":"ui_group","z":"","name":"DANH MỤC","tab":"1293eb65.76e6b5","order":1,"disp":true,"width":6,"collapse":false},{"id":"ce322d1.e782fd","type":"ui_group","z":"","name":"DANH MỤC","tab":"f6513b82.0b40b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"187b4b89.337de4","type":"ui_tab","z":"","name":"BIỂU ĐỒ","icon":"dashboard","order":5,"disabled":false,"hidden":true},{"id":"460c5849.8c92a8","type":"ui_group","z":"","name":"Biểu Đồ Nhiệt Độ","tab":"187b4b89.337de4","order":2,"disp":true,"width":"6","collapse":false},{"id":"4af98176.dfe4e","type":"ui_group","z":"","name":"DANH MỤC","tab":"187b4b89.337de4","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e4dd500.4a4e9c","type":"ui_group","z":"","name":"SCAN","tab":"1293eb65.76e6b5","order":7,"disp":true,"width":"6","collapse":true},{"id":"1ea3021a.a6397e","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"bab566d8.6b3408","type":"ui_spacer","name":"spacer","group":"1ea3021a.a6397e","order":1,"width":1,"height":1},{"id":"97a43823.2d7318","type":"ui_group","z":"","name":"Thông Số dung dịch dinh dưỡng","tab":"1293eb65.76e6b5","order":5,"disp":true,"width":"6","collapse":false},{"id":"e0c79911.d07cb8","type":"ui_group","z":"","name":"______ Cây Trồng","tab":"1293eb65.76e6b5","order":3,"disp":true,"width":"6","collapse":false},{"id":"23502a5e.08ab76","type":"ui_spacer","name":"spacer","group":"cc335c88.7c3cb","order":2,"width":1,"height":1},{"id":"69840797.a6ab88","type":"ui_tab","z":"","name":"DOWNLOAD","icon":"dashboard","order":6,"disabled":false,"hidden":true},{"id":"c0baa6d9.99bf78","type":"ui_group","z":"","name":"NHIỆT ĐỘ","tab":"69840797.a6ab88","order":1,"disp":true,"width":"6","collapse":false},{"id":"8bf30eb9.e1494","type":"ui_tab","z":"","name":"DOWNLOAD2","icon":"dashboard","order":7,"disabled":false,"hidden":true},{"id":"17899858.aba6a8","type":"ui_group","z":"","name":"Nhiệt Độ 2","tab":"8bf30eb9.e1494","order":1,"disp":true,"width":"6","collapse":false},{"id":"974e9c40.85de9","type":"ui_tab","z":"","name":"DOWNLOAD3","icon":"dashboard","order":8,"disabled":false,"hidden":true},{"id":"279a205.34b88e","type":"ui_group","z":"","name":"TDS","tab":"974e9c40.85de9","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4d6ecbe.baa3c","type":"ui_tab","z":"","name":"DOWNLOAD4","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"4557760b.935b78","type":"ui_group","z":"","name":"Ánh Sáng","tab":"f4d6ecbe.baa3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc0e45cd.c08d98","type":"ui_tab","z":"","name":"DOWNLOAD5","icon":"dashboard","order":10,"disabled":false,"hidden":true},{"id":"a5c4e57d.6ed998","type":"ui_group","z":"","name":"CẢM BIẾN DÒNG","tab":"fc0e45cd.c08d98","order":1,"disp":true,"width":"6","collapse":false},{"id":"c338e24f.e715d","type":"ui_tab","z":"","name":"DOWNLOAD6","icon":"dashboard","order":11,"disabled":false,"hidden":true},{"id":"bb39581f.270ab8","type":"ui_group","z":"","name":"NHIỆT ĐỘ KHÔNG KHÍ","tab":"c338e24f.e715d","order":1,"disp":true,"width":"6","collapse":false},{"id":"1690efe.03b7d1","type":"ui_tab","z":"","name":"DOWNLOAD7","icon":"dashboard","order":12,"disabled":false,"hidden":true},{"id":"ffd60c71.4b3de","type":"ui_group","z":"","name":"ĐỘ ẨM KHÔNG KHÍ","tab":"1690efe.03b7d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfcd1ff9.ee3c","type":"function","z":"9e8b4dfa.e211d","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"temperature\"               //topic\nvar save = global.get('find3');\n    var str = \"\";\n    var basePath = str.concat(\"D:\\\\D\\\\DATA\\\\COMMON\\\\DAY\\\\day_\",day,\"\\\\\");\n    var filename = msg.req.params.fn; \n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n}\n//TODO: add more checks\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":290,"y":80,"wires":[["d18721f6.5ee3f"],["e5521ef1.de88b"]]},{"id":"e5521ef1.de88b","type":"http response","z":"9e8b4dfa.e211d","name":"","statusCode":"","headers":{},"x":570,"y":60,"wires":[]},{"id":"d18721f6.5ee3f","type":"file in","z":"9e8b4dfa.e211d","name":"out file","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":60,"wires":[["e5521ef1.de88b"]]},{"id":"d4430fc1.58122","type":"catch","z":"9e8b4dfa.e211d","name":"","scope":null,"uncaught":false,"x":120,"y":120,"wires":[["2d5ea0f.20b7e6"]]},{"id":"2d5ea0f.20b7e6","type":"function","z":"9e8b4dfa.e211d","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["e5521ef1.de88b"]]},{"id":"d0016db6.171b7","type":"http in","z":"9e8b4dfa.e211d","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["cfcd1ff9.ee3c"]],"info":"fn: file name\nfiles : nhung tap tin\n\n"},{"id":"6b5d9ed8.9232d","type":"comment","z":"d68d93c2.6d6b2","name":"send data esp8266 -> t","info":"","x":1640,"y":100,"wires":[]},{"id":"2462756c.490c7a","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"esp32v1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":440,"y":340,"wires":[["d0227f15.83175"]]},{"id":"4fdeaf23.1b639","type":"comment","z":"d68d93c2.6d6b2","name":"send data esp32 -> h","info":"","x":440,"y":280,"wires":[]},{"id":"66c26455.d0b6ac","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"esp32v2","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":440,"y":400,"wires":[["a68b7e4f.40dbd"]]},{"id":"a7777727.832f68","type":"comment","z":"9e8b4dfa.e211d","name":"tải về temperature 1","info":"","x":90,"y":20,"wires":[]},{"id":"8b696acc.1ac848","type":"serial out","z":"7f1d266e.b89bb8","name":"","serial":"34257eb9.8f2c02","x":420,"y":560,"wires":[]},{"id":"8489bf86.fbcde","type":"mqtt in","z":"7f1d266e.b89bb8","name":"mqtt","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":250,"y":560,"wires":[["8b696acc.1ac848"]]},{"id":"795828c2.0eb918","type":"serial in","z":"7f1d266e.b89bb8","name":"","serial":"34257eb9.8f2c02","x":590,"y":560,"wires":[["26c6e3b7.074d1c"]]},{"id":"26c6e3b7.074d1c","type":"debug","z":"7f1d266e.b89bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":560,"wires":[]},{"id":"41f7563d.916db8","type":"function","z":"b546a179.d4edf","name":"Processing log in","func":"if(msg.payload.user==\"sensor\" && msg.payload.pass==\"sensor\"){\nmsg.payload=1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":140,"wires":[["e40974ad.709b78"]]},{"id":"8b0d4df.f9f4db","type":"function","z":"b546a179.d4edf","name":"wrong","func":"if(msg.payload.user!=\"sensor\"){\n    msg.payload=\"Bạn nhập sai Tên Đăng Nhập !\"\n}\nelse if (msg.payload.pass!=\"sensor\"){\n    msg.payload=\"Bạn nhập sai Mật Khẩu !\"\n}\nelse { msg.payload=0; }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":180,"wires":[["48018c03.4452f4"]]},{"id":"48018c03.4452f4","type":"switch","z":"b546a179.d4edf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":180,"wires":[["d1096bf5.74c388"]]},{"id":"63aa1446.d32f8c","type":"ui_form","z":"b546a179.d4edf","name":"login control","label":"","group":"dd404600.c1c808","order":1,"width":"0","height":"0","options":[{"label":"Tên Đăng Nhập","value":"user","type":"text","required":true,"rows":null},{"label":"Mật khẩu","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"user":"","pass":""},"payload":"","submit":"Đăng Nhập","cancel":"Huỷ","topic":"","x":330,"y":180,"wires":[["41f7563d.916db8","8b0d4df.f9f4db","1fdef715.baf989"]]},{"id":"d1096bf5.74c388","type":"ui_toast","z":"b546a179.d4edf","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":750,"y":180,"wires":[[]]},{"id":"e40974ad.709b78","type":"ui_ui_control","z":"b546a179.d4edf","name":"","events":"connect","x":700,"y":140,"wires":[[]]},{"id":"c3950913.13eaa8","type":"file in","z":"7f1d266e.b89bb8","name":"read cay trong","filename":"D:/D/DATA/strees.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":140,"wires":[["bd184da1.3811b","224cde49.da83c2"]]},{"id":"bd184da1.3811b","type":"ui_text_input","z":"7f1d266e.b89bb8","name":"cay trong","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/la_cay/la_cay.png\"  width=\"60\" height=\"60\"> <b>NHẬP TÊN CÂY TRỒNG TẠI ĐÂY: </b> <br/>","tooltip":"","group":"e0c79911.d07cb8","order":1,"width":6,"height":1,"passthru":true,"mode":"text","delay":"1000","topic":"","x":540,"y":140,"wires":[["5e3cae42.056e8","c47447ec.c3f028"]]},{"id":"5e3cae42.056e8","type":"function","z":"7f1d266e.b89bb8","name":"","func":"var count = msg.payload;\n\nvar strfind = \"chuoi so 1\";\nvar find = count.trim();\nvar find1 = find.replace(\" \",\"_\");\nvar find2 = find1.replace(\" \",\"_\");\nvar find3 = find2.replace(\" \",\"_\");\nmsg.payload = find3;\nglobal.set('find3',find3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":140,"wires":[["f0769e26.b3a1e"]]},{"id":"f0769e26.b3a1e","type":"file","z":"7f1d266e.b89bb8","name":"save cay trong","filename":"D:/D/DATA/strees.txt","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":900,"y":140,"wires":[[]]},{"id":"c47447ec.c3f028","type":"ui_text","z":"7f1d266e.b89bb8","group":"e0c79911.d07cb8","order":2,"width":6,"height":1,"name":"cây trồng đã nhập","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/la_cay/la_cay.png\"  width=\"50\" height=\"50\">Cây Đã Nhập: ","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":180,"wires":[]},{"id":"224cde49.da83c2","type":"function","z":"7f1d266e.b89bb8","name":"","func":"var caytrong = msg.payload;\n\nvar caytrong_r1 = caytrong.replace(\"_\",\" \");\nvar caytrong_r2 = caytrong_r1.replace(\"_\",\" \");\nvar caytrong_r3 = caytrong_r2.replace(\"_\",\" \");\nvar caytrong_r4 = caytrong_r3.replace(\"_\",\" \");\nvar caytrong2 = \"\";\nvar caytrong3 = caytrong2.concat(\"\",caytrong_r4);\nmsg.payload = caytrong3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["c47447ec.c3f028"]]},{"id":"4f77cc1e.c05e94","type":"ui_template","z":"59527d72.2f79e4","group":"c0baa6d9.99bf78","name":"link download_nhiệt độ 1","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":220,"wires":[[]]},{"id":"9625c6f5.ebebb8","type":"comment","z":"59527d72.2f79e4","name":"danh muc cua GIAO DIEN","info":"","x":170,"y":280,"wires":[]},{"id":"429006ef.0acd18","type":"comment","z":"59527d72.2f79e4","name":"danh muc cua Tải Dữ Liệu","info":"","x":170,"y":340,"wires":[]},{"id":"b23a1b00.1b0ab8","type":"comment","z":"59527d72.2f79e4","name":"danh muc chưa media","info":"","x":160,"y":400,"wires":[]},{"id":"405438fb.057408","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"lich","width":0,"height":0,"order":1,"category":"lich","file":"lich.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":470,"y":360,"wires":[[]]},{"id":"9da3d2df.fd702","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"giot nuoc","width":0,"height":0,"order":2,"category":"giot nuoc","file":"giotnuoc.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":400,"wires":[[]]},{"id":"4e66ad27.d3ed04","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"ds18b20_1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":480,"y":960,"wires":[["13a9c88.fef7337","a87824aa.2df388","e5c9c7de.872298"]]},{"id":"21a1a1e5.a7ce2e","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"ds18b20_2","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":480,"y":1080,"wires":[["ea4546e.6c0c9b8","7aff7a77.426af4","e5c9c7de.872298"]]},{"id":"ffc69b20.037978","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"ds18b20_3","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":480,"y":1200,"wires":[["a24e4f5b.feb29","c5833d4d.23575","e5c9c7de.872298"]]},{"id":"68bde36e.4caf5c","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"ds18b20_4","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":480,"y":1320,"wires":[["87ec4656.842a28","805ceef5.316d1","e5c9c7de.872298"]]},{"id":"13a9c88.fef7337","type":"ui_text","z":"d68d93c2.6d6b2","group":"97a43823.2d7318","order":1,"width":6,"height":1,"name":"Nhiệt độ dd:","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/nhietke3/nhietke2.jpg\"  width=\"40\" height=\"40\">Nhiệt độ dd:","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":920,"wires":[]},{"id":"ea4546e.6c0c9b8","type":"ui_text","z":"d68d93c2.6d6b2","group":"97a43823.2d7318","order":2,"width":6,"height":1,"name":"nhiệt độ nước:","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/nhietke3/nhietke2.jpg\"  width=\"40\" height=\"40\">Nhiệt Độ Nước:","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":1040,"wires":[]},{"id":"a24e4f5b.feb29","type":"ui_text","z":"d68d93c2.6d6b2","group":"1ea3021a.a6397e","order":7,"width":6,"height":1,"name":"nhiệt độ 3","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/nhietke3/nhietke2.jpg\"  width=\"40\" height=\"40\">Nhiệt Độ 3","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":1160,"wires":[]},{"id":"87ec4656.842a28","type":"ui_text","z":"d68d93c2.6d6b2","group":"1ea3021a.a6397e","order":8,"width":6,"height":1,"name":"nhiệt độ 4","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/nhietke3/nhietke2.jpg\"  width=\"40\" height=\"40\">Nhiệt Độ 4","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":1280,"wires":[]},{"id":"59a382fe.25703c","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"Máy bơm:","tooltip":"","group":"177ea135.f19bbf","order":3,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"p-on_van1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"l-off_van1","offvalueType":"str","officon":"","offcolor":"","x":1240,"y":960,"wires":[["b83eb835.834968","fe764f56.5ebd3"]]},{"id":"625cd5b9.5b6dcc","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"van2","tooltip":"","group":"1ea3021a.a6397e","order":5,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on_van2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"k-off_van2","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":1080,"wires":[["c2c719cc.a16dc8","3ada862b.4f30ea"]]},{"id":"3707141a.b9b65c","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"motor DC1","tooltip":"","group":"1ea3021a.a6397e","order":7,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"i-on_dc1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"j-off_dc1","offvalueType":"str","officon":"","offcolor":"","x":1250,"y":1200,"wires":[["19a83073.81285","3f39b530.59399a"]]},{"id":"4e813238.67312c","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"motor DC2","tooltip":"","group":"1ea3021a.a6397e","order":9,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"u-on_dc2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"h-off_dc2","offvalueType":"str","officon":"","offcolor":"","x":1250,"y":1320,"wires":[["ac2fd50.59d3328","d0beaeeb.4cf77"]]},{"id":"3e688490.9ed45c","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"AC1","tooltip":"","group":"1ea3021a.a6397e","order":11,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"y-on_ac1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"g-off_ac1","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":1440,"wires":[["6b7f1af0.c03dd4","4420f89.4fc5b08"]]},{"id":"9ccba9d8.a78288","type":"ui_switch","z":"d68d93c2.6d6b2","name":"","label":"AC2","tooltip":"","group":"1ea3021a.a6397e","order":13,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"t-on_ac2","onvalueType":"str","onicon":"","oncolor":"","offvalue":"f-off_ac2","offvalueType":"str","officon":"","offcolor":"","x":1230,"y":1560,"wires":[["ad483f9a.3e898","15227e6.3e52b82"]]},{"id":"b83eb835.834968","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"van1","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":960,"wires":[]},{"id":"c2c719cc.a16dc8","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"van2","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":1080,"wires":[]},{"id":"19a83073.81285","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"dc1","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":1200,"wires":[]},{"id":"ac2fd50.59d3328","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"dc2","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":1320,"wires":[]},{"id":"6b7f1af0.c03dd4","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"ac1","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":1440,"wires":[]},{"id":"ad483f9a.3e898","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"ac2","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1450,"y":1560,"wires":[]},{"id":"7953617f.4efae","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(nd1_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/temperature1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_ds18b20_1.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",nd1_s);\n        msg.payload = time1;\n        global.set('nd1',\"\");\n        return msg;\n    }\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":960,"wires":[["c6926a25.4c2b38","b498db37.411b78"]]},{"id":"c6926a25.4c2b38","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":960,"wires":[["f97c828d.822f8"]],"info":"`var date = getDate();`"},{"id":"f97c828d.822f8","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":960,"wires":[[]]},{"id":"e507b7b5.ed79e8","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar nd2_s = global.get('nd2')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(nd2_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/temperature1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_ds18b20_2.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",nd2_s);\n        msg.payload = time1;\n        global.set('nd2',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1080,"wires":[["1e2f1405.8a2f5c","23cfa362.39b01c"]]},{"id":"1e2f1405.8a2f5c","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1080,"wires":[["fcd1bea.bbbe74"]],"info":"`var date = getDate();`"},{"id":"fcd1bea.bbbe74","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1080,"wires":[[]]},{"id":"ab10c976.3a8c08","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar nd3_s = global.get('nd3')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(nd3_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/temperature1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_ds18b20_3.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",nd3_s);\n        msg.payload = time1;\n        global.set('nd3',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1200,"wires":[["8a4e645d.9d7a98","f72c5581.922e98"]]},{"id":"8a4e645d.9d7a98","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1200,"wires":[["60553282.b6c90c"]],"info":"`var date = getDate();`"},{"id":"60553282.b6c90c","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1200,"wires":[[]]},{"id":"a0e55c96.5c195","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find4');\nvar nd4_s = global.get('nd4')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(nd4_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/temperature1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_ds18b20_4.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",nd4_s);\n        msg.payload = time1;\n        global.set('nd4',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1320,"wires":[["fc9dcc78.5ee66","526b7771.2d4aa8"]]},{"id":"fc9dcc78.5ee66","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1320,"wires":[["971e0197.3660f"]],"info":"`var date = getDate();`"},{"id":"971e0197.3660f","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1320,"wires":[[]]},{"id":"e6c98cd2.4ce5c","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"caytrong","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":180,"y":140,"wires":[["c3950913.13eaa8"]]},{"id":"b39170c2.f3777","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":1620,"y":920,"wires":[]},{"id":"fe764f56.5ebd3","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_van1\")\n{\n    msg.payload = \"Bật Van 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Van 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":920,"wires":[["b39170c2.f3777"]]},{"id":"d1e9db38.4b9ae8","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":1040,"wires":[]},{"id":"3ada862b.4f30ea","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_van2\")\n{\n    msg.payload = \"Bật Van 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Van 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1040,"wires":[["d1e9db38.4b9ae8"]]},{"id":"922f5ef2.a6bd8","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":1160,"wires":[]},{"id":"3f39b530.59399a","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_dc1\")\n{\n    msg.payload = \"Bật Động Cơ DC 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ DC 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1160,"wires":[["922f5ef2.a6bd8"]]},{"id":"9a09926e.a454d","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":1280,"wires":[]},{"id":"d0beaeeb.4cf77","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_dc2\")\n{\n    msg.payload = \"Bật Động Cơ DC 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ DC 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1280,"wires":[["9a09926e.a454d"]]},{"id":"10d6c2b5.b2dfed","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":1400,"wires":[]},{"id":"4420f89.4fc5b08","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_ac1\")\n{\n    msg.payload = \"Bật Động Cơ AC 1\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ AC 1\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1400,"wires":[["10d6c2b5.b2dfed"]]},{"id":"f78f83c6.3ef9e","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"0.5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1620,"y":1520,"wires":[]},{"id":"15227e6.3e52b82","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"on_ac2\")\n{\n    msg.payload = \"Bật Động Cơ AC 2\";\n}\nelse\n{\n    msg.payload = \"Tắt Động Cơ AC 2\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":1520,"wires":[["f78f83c6.3ef9e"]]},{"id":"9961de1.269ba2","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"TDS_sensor1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":150,"y":2140,"wires":[["334bb784.cfcdf8","dc72383d.778d98"]]},{"id":"334bb784.cfcdf8","type":"ui_text","z":"d68d93c2.6d6b2","group":"97a43823.2d7318","order":4,"width":6,"height":1,"name":"","label":"TDS : ","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":2140,"wires":[]},{"id":"544445c2.61f5bc","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"arduino","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":330,"y":2360,"wires":[["f20ba0ad.631f5"]]},{"id":"f20ba0ad.631f5","type":"ui_text","z":"d68d93c2.6d6b2","group":"4e4dd500.4a4e9c","order":3,"width":0,"height":0,"name":"","label":"Arduino: ","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":2360,"wires":[]},{"id":"65fb2b06.9a5c64","type":"ui_text","z":"d68d93c2.6d6b2","group":"cc335c88.7c3cb","order":1,"width":5,"height":1,"name":"lịch","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/lich/lich.png\"  width=\"40\" height=\"40\"&ensp;> ","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":2420,"wires":[]},{"id":"62e8ffd2.90e93","type":"ui_text","z":"d68d93c2.6d6b2","group":"cc335c88.7c3cb","order":3,"width":4,"height":1,"name":"dong ho","label":"<img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/alarm/alarm.jpg\"  width=\"40\" height=\"40\"> ","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":2480,"wires":[]},{"id":"282d89a.9840476","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"tds_sub","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1140,"y":2100,"wires":[]},{"id":"ff9d873d.bc4f68","type":"ui_button","z":"d68d93c2.6d6b2","name":"","group":"1ea3021a.a6397e","order":11,"width":1,"height":1,"passthru":true,"label":"TDS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"click_tds","payloadType":"str","topic":"","x":950,"y":2100,"wires":[["282d89a.9840476"]]},{"id":"889d8136.9bf7d","type":"ui_button","z":"d68d93c2.6d6b2","name":"","group":"1ea3021a.a6397e","order":9,"width":1,"height":1,"passthru":true,"label":"YHDC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"click_YHDC","payloadType":"str","topic":"","x":950,"y":2200,"wires":[["c1dbd790.fdb798"]]},{"id":"c1dbd790.fdb798","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"yhdc_sub","qos":"2","retain":"","broker":"6916a892.1f06f8","x":1140,"y":2200,"wires":[]},{"id":"c06e5a51.e2be98","type":"mqtt out","z":"d68d93c2.6d6b2","name":"","topic":"ds18b20_sub","qos":"2","retain":"","broker":"6916a892.1f06f8","x":680,"y":820,"wires":[]},{"id":"2df06cea.991c04","type":"ui_button","z":"d68d93c2.6d6b2","name":"","group":"1ea3021a.a6397e","order":3,"width":4,"height":1,"passthru":true,"label":"Cập nhật nhiệt độ","tooltip":"","color":"","bgcolor":"style=\"background-color:#333333\"","icon":"","payload":"b-ds18b20_on","payloadType":"str","topic":"","x":450,"y":820,"wires":[["c06e5a51.e2be98","aa922558.23c0d8"]]},{"id":"aa922558.23c0d8","type":"function","z":"d68d93c2.6d6b2","name":"","func":"if(msg.payload == \"ds18b20_on\")\n{\n    msg.payload = \"Đã yêu cầu gửi nhiệt độ \"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":780,"wires":[["5b48c760.2a87d8"]]},{"id":"5b48c760.2a87d8","type":"ui_toast","z":"d68d93c2.6d6b2","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":860,"y":780,"wires":[]},{"id":"c4c04ab3.a92808","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"status","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":490,"y":740,"wires":[["c45f5a9c.3b1f48","65bfd10e.09d61"]]},{"id":"65bfd10e.09d61","type":"ui_text","z":"d68d93c2.6d6b2","group":"1ea3021a.a6397e","order":1,"width":6,"height":1,"name":"tin nhan","label":"<img src=\"http://mohinhrauthuycanh.ddns.net:1880/admin/uimedia/tin_nhan/tin_nhan.jpg\"  width=\"30\" height=\"30\">notification","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":700,"wires":[]},{"id":"372a3981.d77566","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"nhiet ke","width":0,"height":0,"order":3,"category":"nhietke3","file":"nhietke2.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":460,"y":320,"wires":[[]]},{"id":"c1fcce61.a9116","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"tin nhan","width":0,"height":0,"order":4,"category":"tin_nhan","file":"tin_nhan.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":280,"wires":[[]]},{"id":"e5c9c7de.872298","type":"ui_chart","z":"d68d93c2.6d6b2","name":"Nhiệt độ","group":"460c5849.8c92a8","order":1,"width":6,"height":5,"label":"","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":200,"y":1360,"wires":[[]]},{"id":"c267d043.a27fb","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"thu muc","width":0,"height":0,"order":4,"category":"thu_muc","file":"thumuc.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":240,"wires":[[]]},{"id":"8c5adacb.869d48","type":"ui_media","z":"e60b651.519c398","group":"f2230ce2.c8fcb","name":"cay xanh","width":0,"height":0,"order":5,"category":"la_cay","file":"la_cay.png","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":460,"y":200,"wires":[[]]},{"id":"1fdef715.baf989","type":"function","z":"b546a179.d4edf","name":"","func":"if(msg.payload.user==\"sensor\" && msg.payload.pass==\"sensor\")\n{\n    msg.payload.user=\"\";\n    msg.payload.pass=\"\";\n}\nelse if(msg.payload.user!=\"sensor\" && msg.payload.pass!=\"sensor\")\n{\n    msg.payload.user=\"\";\n    msg.payload.pass=\"\"; \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":220,"wires":[["63aa1446.d32f8c"]]},{"id":"a87824aa.2df388","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var nd1=msg.payload;\nglobal.set(\"nd1\",nd1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":960,"wires":[["7953617f.4efae"]]},{"id":"92d089af.3ce4f8","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"110","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":920,"wires":[["7953617f.4efae"]]},{"id":"7aff7a77.426af4","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var nd2=msg.payload;\nglobal.set(\"nd2\",nd2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1080,"wires":[["e507b7b5.ed79e8"]]},{"id":"2d777b4a.3e8d24","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1040,"wires":[["e507b7b5.ed79e8"]]},{"id":"c5833d4d.23575","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var nd3=msg.payload;\nglobal.set(\"nd3\",nd3);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1200,"wires":[["ab10c976.3a8c08"]]},{"id":"f77dad85.cb6fa","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"130","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1160,"wires":[["ab10c976.3a8c08"]]},{"id":"805ceef5.316d1","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var nd4=msg.payload;\nglobal.set(\"nd4\",nd4);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1320,"wires":[["a0e55c96.5c195"]]},{"id":"24fe4a05.a97326","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1280,"wires":[["a0e55c96.5c195"]]},{"id":"5a8e38c1.bd4548","type":"comment","z":"d68d93c2.6d6b2","name":"cảm biến dòng và tds","info":"","x":100,"y":1840,"wires":[]},{"id":"7bdb615f.137d8","type":"comment","z":"d68d93c2.6d6b2","name":"ngày giờ và trạng thái arduino","info":"","x":220,"y":2320,"wires":[]},{"id":"c77e69b3.327338","type":"comment","z":"d68d93c2.6d6b2","name":"danh sách đo nhiệt độ ds18b20","info":"","x":410,"y":660,"wires":[]},{"id":"31d4aa64.cb2446","type":"ui_text","z":"d68d93c2.6d6b2","group":"177ea135.f19bbf","order":2,"width":2,"height":1,"name":"","label":"<b>☑ / ☒</b>","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":880,"wires":[]},{"id":"b0d174f9.753f88","type":"ui_text","z":"d68d93c2.6d6b2","group":"177ea135.f19bbf","order":1,"width":4,"height":1,"name":"","label":"<b>ON/OFF    ✓ / ✕</b>","format":"{{msg.payload}}","layout":"row-spread","x":1850,"y":880,"wires":[]},{"id":"4c34aa6a.7ef444","type":"inject","z":"7f1d266e.b89bb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["c3950913.13eaa8"]]},{"id":"76bfbc92.53cc94","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar time = \"\";\nvar time_f = time.concat(hour,\"h:\",minute,\"m:\",second,\"s\");\nmsg.payload = time_f;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2480,"wires":[["62e8ffd2.90e93"]]},{"id":"ad66e515.6a7848","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2480,"wires":[["76bfbc92.53cc94"]]},{"id":"26b38621.54160a","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day_w = now.getDay();\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar time = \"\";\nvar dayofweek='';\nswitch (day_w) {\n    case 0:\n        dayofweek = \"Sunday\";\n        break;\n    case 1:\n        dayofweek = \"Monday\";\n        break;\n    case 2:\n        dayofweek = \"Tuesday\";\n        break;\n    case 3:\n        dayofweek = \"Wednesday\";\n        break;\n    case 4:\n        dayofweek = \"Thursday\";\n        break;\n    case 5:\n        dayofweek = \"Friday\";\n        break;\n    case 6:\n        dayofweek = \"Saturday\";\n}\n\nvar time_f = time.concat(dayofweek,\", \",day,\"/\",month+1,\"/\",year);\nmsg.payload = time_f;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2420,"wires":[["65fb2b06.9a5c64"]]},{"id":"541bd331.9b749c","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2420,"wires":[["26b38621.54160a"]]},{"id":"ceb0f7d7.fe0b58","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":700,"wires":[["c45f5a9c.3b1f48"]]},{"id":"c45f5a9c.3b1f48","type":"function","z":"d68d93c2.6d6b2","name":"","func":"\nvar day_tt1;\n\n    if(!status1)\n    {\n        msg.payload=\"không có client kết nối\";\n    }\n    else\n    {\n        var status1=msg.payload;\n        global.set('status1',status1);\n    }\n    day_tt1 = Date.now();\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":740,"wires":[[]]},{"id":"fe2be961.9324b8","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":360,"y":2040,"wires":[["bae5c131.bd1d2"]]},{"id":"dc72383d.778d98","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var tds1=msg.payload;\nglobal.set(\"tds1\",tds1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2100,"wires":[["bae5c131.bd1d2"]]},{"id":"bae5c131.bd1d2","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"TDS\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar tds1_s = global.get('tds1')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(tds1_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/tds_1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_tds_1.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",tds1_s);\n        msg.payload = time1;\n        global.set('tds1',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2100,"wires":[["21b4d68f.2484ea","6d979787.898d58"]]},{"id":"21b4d68f.2484ea","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":650,"y":2100,"wires":[["cb31daa0.f5cf98"]],"info":"`var date = getDate();`"},{"id":"cb31daa0.f5cf98","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":2100,"wires":[[]]},{"id":"779c01e1.7214b","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2080,"wires":[["dc72383d.778d98","79d1c556.2463dc"]]},{"id":"129474a9.26f5ab","type":"mqtt in","z":"e60b651.519c398","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":490,"y":120,"wires":[["4ca2297b.d07db8"]]},{"id":"4ca2297b.d07db8","type":"mqtt out","z":"e60b651.519c398","name":"","topic":"inTopic","qos":"","retain":"","broker":"6916a892.1f06f8","x":670,"y":120,"wires":[]},{"id":"b498db37.411b78","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_ds18b20_1.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1000,"wires":[["d3d558a0.40fc38"]]},{"id":"d3d558a0.40fc38","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1000,"wires":[["568e8c5.4548974"]],"info":"`var date = getDate();`"},{"id":"568e8c5.4548974","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1000,"wires":[[]]},{"id":"a735e02e.66d25","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":920,"wires":[["a87824aa.2df388","7aff7a77.426af4","805ceef5.316d1"]]},{"id":"23cfa362.39b01c","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_ds18b20_2.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1120,"wires":[["b7517219.11fa6"]]},{"id":"b7517219.11fa6","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1120,"wires":[["5f34e997.f5b028"]],"info":"`var date = getDate();`"},{"id":"5f34e997.f5b028","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1120,"wires":[[]]},{"id":"f72c5581.922e98","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_ds18b20_3.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1240,"wires":[["2f1b3603.8eee9a"]]},{"id":"2f1b3603.8eee9a","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1240,"wires":[["d799a41f.85bd68"]],"info":"`var date = getDate();`"},{"id":"d799a41f.85bd68","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1240,"wires":[[]]},{"id":"526b7771.2d4aa8","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_ds18b20_4.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1360,"wires":[["cb2a1cfe.23a13"]]},{"id":"cb2a1cfe.23a13","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1360,"wires":[["7d7a1dc8.f8fb84"]],"info":"`var date = getDate();`"},{"id":"7d7a1dc8.f8fb84","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1360,"wires":[[]]},{"id":"a8efdb34.4a8f68","type":"ui_template","z":"59527d72.2f79e4","group":"4af98176.dfe4e","name":"link liên kết _ biểu đồ","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/1?socketid=XIacMnBcOIRLRELiAAA4>Biểu Đồ</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/3?socketid=XIacMnBcOIRLRELiAAA4>Giao Diện</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>Tải Dữ Liệu</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/8?socketid=XIacMnBcOIRLRELiAAA4>Media Group</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":220,"wires":[[]]},{"id":"bbc90dce.55198","type":"comment","z":"59527d72.2f79e4","name":"danh muc cua BIEU DO","info":"","x":160,"y":220,"wires":[]},{"id":"6d979787.898d58","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar tds1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_tds_1.csv\");\n        msg.filename = str_1;\n        msg.payload = tds1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2140,"wires":[["6f20789d.b83e58"]]},{"id":"6f20789d.b83e58","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":650,"y":2140,"wires":[["50f30aa5.38d6e4"]],"info":"`var date = getDate();`"},{"id":"50f30aa5.38d6e4","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":2140,"wires":[[]]},{"id":"2dfe99ac.f3bb86","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_1_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":520,"wires":[["8b696acc.1ac848"]]},{"id":"d42a4b41.62ab78","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_2_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":480,"wires":[["8b696acc.1ac848"]]},{"id":"621024a2.c2c49c","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_3_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":440,"wires":[["8b696acc.1ac848"]]},{"id":"9ae42040.1dd02","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_4_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":400,"wires":[["8b696acc.1ac848"]]},{"id":"99cf7cc2.dc388","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_5_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":360,"wires":[["8b696acc.1ac848"]]},{"id":"b9a4ff75.659f7","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_6_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":320,"wires":[["8b696acc.1ac848"]]},{"id":"815d2dfb.927dc","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_7_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":280,"wires":[["8b696acc.1ac848"]]},{"id":"23d571a0.835e7e","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"ds18b20_8_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":220,"y":240,"wires":[["8b696acc.1ac848"]]},{"id":"2cd0bded.e22772","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"tds_1_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":240,"y":600,"wires":[["8b696acc.1ac848"]]},{"id":"f34bd6d8.019df8","type":"mqtt in","z":"7f1d266e.b89bb8","name":"","topic":"yhdc_1_com","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":230,"y":640,"wires":[["8b696acc.1ac848"]]},{"id":"d0227f15.83175","type":"ui_text","z":"d68d93c2.6d6b2","group":"4e4dd500.4a4e9c","order":1,"width":0,"height":0,"name":"","label":"YES/NO:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":340,"wires":[]},{"id":"a68b7e4f.40dbd","type":"ui_text","z":"d68d93c2.6d6b2","group":"4e4dd500.4a4e9c","order":2,"width":0,"height":0,"name":"","label":"BAT/TAT:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":400,"wires":[]},{"id":"869fdaf9.1ee658","type":"mqtt in","z":"d68d93c2.6d6b2","name":"ánh sáng","topic":"BH1750_1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":480,"y":1440,"wires":[["b976a9b9.5087a8","e5c9c7de.872298","22fe7ec2.b01d92"]]},{"id":"f2e1f4e4.8b5368","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"DHT_1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":490,"y":1500,"wires":[["e5c9c7de.872298"]]},{"id":"b976a9b9.5087a8","type":"ui_text","z":"d68d93c2.6d6b2","group":"9f6981be.7d17","order":1,"width":0,"height":0,"name":"","label":"Ánh Sáng:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1400,"wires":[]},{"id":"51f483cc.9eb50c","type":"ui_text","z":"d68d93c2.6d6b2","group":"177ea135.f19bbf","order":4,"width":2,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":940,"wires":[]},{"id":"fcd07377.c8c1c","type":"ui_text","z":"d68d93c2.6d6b2","group":"9f6981be.7d17","order":3,"width":0,"height":0,"name":"","label":"Độ ẩm không khí:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1560,"wires":[]},{"id":"50c82b53.dc6ae4","type":"ui_text","z":"d68d93c2.6d6b2","group":"9f6981be.7d17","order":2,"width":0,"height":0,"name":"","label":"Nhiệt độ không khí:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":1740,"wires":[]},{"id":"22eea5d8.720e9a","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"DHT_H","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":490,"y":1560,"wires":[["fcd07377.c8c1c","e5c9c7de.872298","207b1819.a57e18"]]},{"id":"64950d3f.213e24","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"DHT_T","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":490,"y":1740,"wires":[["50c82b53.dc6ae4","e5c9c7de.872298","da5fe41e.794178"]]},{"id":"c5098eeb.2e722","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"on_off_YHDC","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":1790,"y":940,"wires":[["51f483cc.9eb50c"]]},{"id":"e05f437f.a7d13","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"esp8266v1","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":380,"y":100,"wires":[["64839800.45cb38"]]},{"id":"64839800.45cb38","type":"debug","z":"d68d93c2.6d6b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":100,"wires":[]},{"id":"b83c364b.fbba88","type":"ui_template","z":"9e8b4dfa.e211d","group":"c0baa6d9.99bf78","name":"Nhiệt Độ 1","order":2,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU Nhiệt Độ 1</h1>\n            <a href=\"/files/day_1_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_ds18b20_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":180,"wires":[[]]},{"id":"faa1424b.3e015","type":"ui_template","z":"9e8b4dfa.e211d","group":"17899858.aba6a8","name":"Nhiệt Độ 2","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU Nhiệt Độ 2</h1>\n            <a href=\"/files/day_1_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_ds18b20_2.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":240,"wires":[[]]},{"id":"f13a19c.8c41ae8","type":"ui_template","z":"9e8b4dfa.e211d","group":"279a205.34b88e","name":"TDS","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU TDS</h1>\n            <a href=\"/files/day_1_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_tds_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":110,"y":300,"wires":[[]]},{"id":"22fe7ec2.b01d92","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var as4=msg.payload;\nglobal.set(\"as4\",as4);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1480,"wires":[["d50ce07d.e25d3"]]},{"id":"d50ce07d.e25d3","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"Anh_Sang\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar as4_s = global.get('as4')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(as4_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_anh_sang.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",as4_s);\n        msg.payload = time1;\n        global.set('as4',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1480,"wires":[["a6e88989.88be18","879c89e4.87ce38"]]},{"id":"879c89e4.87ce38","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"Anh_Sang\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('as4')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_anh_sang.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1520,"wires":[["e5e3e238.27f5a"]]},{"id":"e5e3e238.27f5a","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1520,"wires":[["ccf9b3a1.6435d"]],"info":"`var date = getDate();`"},{"id":"a6e88989.88be18","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1480,"wires":[["ba89a3f3.4b4a3"]],"info":"`var date = getDate();`"},{"id":"ba89a3f3.4b4a3","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1480,"wires":[[]]},{"id":"ccf9b3a1.6435d","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1520,"wires":[[]]},{"id":"6407bff1.f3781","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1440,"wires":[["d50ce07d.e25d3"]]},{"id":"f2f3e856.4a19d8","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":1380,"wires":[["22fe7ec2.b01d92","207b1819.a57e18","da5fe41e.794178"]]},{"id":"1d1732f6.e1392d","type":"ui_template","z":"9e8b4dfa.e211d","group":"4557760b.935b78","name":"Ánh Sáng","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU Ánh Sáng</h1>\n            <a href=\"/files/day_1_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_anh_sang.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":360,"wires":[[]]},{"id":"f35073f1.f8055","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1600,"wires":[["c309ea20.82c6b8"]]},{"id":"207b1819.a57e18","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var dht_h=msg.payload;\nglobal.set(\"dht_h\",dht_h);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1640,"wires":[["c309ea20.82c6b8"]]},{"id":"c309ea20.82c6b8","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"DHT_temperature_humidity\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar dht_h_s = global.get('dht_h')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(dht_h_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_dht_humidity.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",dht_h_s);\n        msg.payload = time1;\n        global.set('dht_h',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1640,"wires":[["90a54da5.4b41e","dfe68679.482508"]]},{"id":"dfe68679.482508","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"Anh_Sang\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('as4')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_dht_humidity.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1680,"wires":[["9d2e1903.e5c818"]]},{"id":"9d2e1903.e5c818","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1680,"wires":[["740ef912.254118"]],"info":"`var date = getDate();`"},{"id":"90a54da5.4b41e","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1640,"wires":[["6c6762c4.6bf99c"]],"info":"`var date = getDate();`"},{"id":"6c6762c4.6bf99c","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1640,"wires":[[]]},{"id":"740ef912.254118","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1680,"wires":[[]]},{"id":"da5fe41e.794178","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var dht_t=msg.payload;\nglobal.set(\"dht_t\",dht_t);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1780,"wires":[["76e5775b.a55648"]]},{"id":"76e5775b.a55648","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"DHT_temperature_humidity\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar dht_t_s = global.get('dht_t')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(dht_t_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_dht_temperature.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",dht_t_s);\n        msg.payload = time1;\n        global.set('dht_t',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1780,"wires":[["62defebe.3330c","404427da.bd8188"]]},{"id":"404427da.bd8188","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"Anh_Sang\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('as4')||\"\";\nvar nd1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_dht_temperature.csv\");\n        msg.filename = str_1;\n        msg.payload = nd1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1820,"wires":[["7c51c096.64c4e"]]},{"id":"7c51c096.64c4e","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1820,"wires":[["e89f90ec.bf1e"]],"info":"`var date = getDate();`"},{"id":"62defebe.3330c","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":1780,"wires":[["fc12ffc5.3f8a6"]],"info":"`var date = getDate();`"},{"id":"fc12ffc5.3f8a6","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1780,"wires":[[]]},{"id":"e89f90ec.bf1e","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1090,"y":1820,"wires":[[]]},{"id":"26efa8d5.b1a2d8","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"8400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":660,"y":1700,"wires":[["76e5775b.a55648"]]},{"id":"230bb7fe.92a1e8","type":"mqtt in","z":"d68d93c2.6d6b2","name":"","topic":"YHDC100","qos":"2","datatype":"auto","broker":"6916a892.1f06f8","x":140,"y":2220,"wires":[["3126dbd8.c189c4","79d1c556.2463dc"]]},{"id":"3126dbd8.c189c4","type":"ui_text","z":"d68d93c2.6d6b2","group":"9f6981be.7d17","order":5,"width":6,"height":1,"name":"","label":"Dòng điện : ","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":2220,"wires":[]},{"id":"6164fce7.31cea4","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"YHDC\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\nvar save = global.get('find3');\nvar yhdc1_s = global.get('yhdc1')||\"\";\n\nif(msg.payload==\"check\")\n{\n    if(yhdc1_s != \"\")\n    {\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/\",save,\"/\",topic,\"/dong-dien_1\",\"/year-\",year,\"/month-\",month+1,\"/day_\",day,\"_dong-dien_1.csv\");\n        msg.filename = str_1;\n        var time1 = str1.concat(hour,\":\",minute,\":\",second,\" ,\",yhdc1_s);\n        msg.payload = time1;\n        global.set('yhdc1',\"\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2180,"wires":[["d0ebcdc5.7536f","df34d31f.0e835"]]},{"id":"df34d31f.0e835","type":"function","z":"d68d93c2.6d6b2","name":"F save","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar save = global.get('find3');\nvar nd1_s = global.get('nd1')||\"\";\nvar tds1_1 = msg.payload;\n\n        var str1 = \"\";\n        var str_1 = str1.concat(\"D:/D/DATA/COMMON/DAY/day_\",day,\"/day_\",day,\"_dong-dien_1.csv\");\n        msg.filename = str_1;\n        msg.payload = tds1_1;\n        return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":2220,"wires":[["ed7c16a6.6b5068"]]},{"id":"ed7c16a6.6b5068","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":650,"y":2220,"wires":[["f5ec9a07.f41548"]],"info":"`var date = getDate();`"},{"id":"d0ebcdc5.7536f","type":"file","z":"d68d93c2.6d6b2","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":650,"y":2180,"wires":[["26f22c37.a4e124"]],"info":"`var date = getDate();`"},{"id":"26f22c37.a4e124","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":2180,"wires":[[]]},{"id":"f5ec9a07.f41548","type":"csv","z":"d68d93c2.6d6b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":790,"y":2220,"wires":[[]]},{"id":"79d1c556.2463dc","type":"function","z":"d68d93c2.6d6b2","name":"","func":"var yhdc1=msg.payload;\nglobal.set(\"yhdc1\",yhdc1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2180,"wires":[["6164fce7.31cea4"]]},{"id":"bd741777.347d58","type":"inject","z":"d68d93c2.6d6b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"check","payloadType":"str","x":360,"y":2260,"wires":[["6164fce7.31cea4"]]},{"id":"8dc9522e.18538","type":"ui_template","z":"9e8b4dfa.e211d","group":"a5c4e57d.6ed998","name":"CẢM BIẾN DÒNG","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU CẢM BIẾN DÒNG</h1>\n            <a href=\"/files/day_1_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_dong-dien_1.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":420,"wires":[[]]},{"id":"52939ffd.4909d","type":"ui_template","z":"9e8b4dfa.e211d","group":"bb39581f.270ab8","name":"DHT Nhiệt Độ","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU DHT Nhiệt Độ</h1>\n            <a href=\"/files/day_1_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_dht_temperature.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":480,"wires":[[]]},{"id":"af8be3f5.7be6b","type":"ui_template","z":"9e8b4dfa.e211d","group":"ffd60c71.4b3de","name":"DHT Độ Ẩm","order":0,"width":0,"height":0,"format":"<html>\n    <body>\n        <h1>TẢI VỀ DỮ LIỆU DHT Độ Ẩm</h1>\n            <a href=\"/files/day_1_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_1.csv </a> <br>\n            <a href=\"/files/day_2_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_2.csv </a> <br>\n            <a href=\"/files/day_3_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_3.csv </a> <br>\n             <a href=\"/files/day_4_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_4.csv </a> <br>\n             <a href=\"/files/day_5_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_5.csv </a> <br>\n             <a href=\"/files/day_6_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_6.csv </a> <br>\n             <a href=\"/files/day_7_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_7.csv </a> <br>\n             <a href=\"/files/day_8_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_8.csv </a> <br>\n             <a href=\"/files/day_9_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_9.csv </a> <br>\n             <a href=\"/files/day_10_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_10.csv </a> <br>\n             <a href=\"/files/day_11_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_11.csv </a> <br>\n             <a href=\"/files/day_12_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_12.csv </a> <br>\n             <a href=\"/files/day_13_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_13.csv </a> <br>\n             <a href=\"/files/day_14_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_14.csv </a> <br>\n             <a href=\"/files/day_15_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_15.csv </a> <br>\n             <a href=\"/files/day_16_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_16.csv </a> <br>\n             <a href=\"/files/day_17_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_17.csv </a> <br>\n             <a href=\"/files/day_18_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_18.csv </a> <br>\n             <a href=\"/files/day_19_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_19.csv </a> <br>\n             <a href=\"/files/day_20_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_20.csv </a> <br>\n             <a href=\"/files/day_21_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_21.csv </a> <br>\n             <a href=\"/files/day_22_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_22.csv </a> <br>\n             <a href=\"/files/day_23_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_23.csv </a> <br>\n             <a href=\"/files/day_24_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_24.csv </a> <br>\n             <a href=\"/files/day_25_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_25.csv </a> <br>\n             <a href=\"/files/day_26_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_26.csv </a> <br>\n             <a href=\"/files/day_27_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_27.csv </a> <br>\n             <a href=\"/files/day_28_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_28.csv </a> <br>\n             <a href=\"/files/day_29_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_29.csv </a> <br>\n             <a href=\"/files/day_30_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_30.csv </a> <br>\n             <a href=\"/files/day_31_dht_humidity.csv\"> <img src=\"http://rauthuycanh.ddns.net:1880/admin/uimedia/thu_muc/thumuc.png\" width=\"20\" height=\"20\">  download day_31.csv </a> <br>\n    </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":540,"wires":[[]]},{"id":"32d2e50f.2febca","type":"ui_template","z":"59527d72.2f79e4","group":"5c0f94af.3a821c","name":"link liên kết_giao diện","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/1?socketid=XIacMnBcOIRLRELiAAA4>Biểu Đồ</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/3?socketid=XIacMnBcOIRLRELiAAA4>Giao Diện</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>Tải Dữ Liệu</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/8?socketid=XIacMnBcOIRLRELiAAA4>Media Group</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":260,"wires":[[]]},{"id":"63839187.6ba2f","type":"ui_template","z":"59527d72.2f79e4","group":"ae23aa0c.c40d78","name":"link liên kết_ tải dữ liệu","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/1?socketid=XIacMnBcOIRLRELiAAA4>Biểu Đồ</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/3?socketid=XIacMnBcOIRLRELiAAA4>Giao Diện</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>Tải Dữ Liệu</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/8?socketid=XIacMnBcOIRLRELiAAA4>Media Group</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":300,"wires":[[]]},{"id":"44236c2b.a03cb4","type":"ui_template","z":"59527d72.2f79e4","group":"ce322d1.e782fd","name":"link liên kết_ media","order":1,"width":6,"height":2,"format":"<span style=\" color: blue;\"> \n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/1?socketid=XIacMnBcOIRLRELiAAA4>Biểu Đồ</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/3?socketid=XIacMnBcOIRLRELiAAA4>Giao Diện</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>Tải Dữ Liệu</a> <br/>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/8?socketid=XIacMnBcOIRLRELiAAA4>Media Group</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":410,"y":340,"wires":[[]]},{"id":"8d85850a.94b2d8","type":"ui_template","z":"59527d72.2f79e4","group":"17899858.aba6a8","name":"link download_nhiệt độ 2","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":260,"wires":[[]]},{"id":"f845df1e.8d46a","type":"ui_template","z":"59527d72.2f79e4","group":"279a205.34b88e","name":"link download_tds","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":670,"y":300,"wires":[[]]},{"id":"88f6b3fa.e4afb","type":"ui_template","z":"59527d72.2f79e4","group":"4557760b.935b78","name":"link download_ánh sáng","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":340,"wires":[[]]},{"id":"54bd7048.c78c3","type":"ui_template","z":"59527d72.2f79e4","group":"a5c4e57d.6ed998","name":"link download_cảm biến dòng","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":380,"wires":[[]]},{"id":"bb4454ce.64ae38","type":"ui_template","z":"59527d72.2f79e4","group":"bb39581f.270ab8","name":"link download_nhiệt độ không khí","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":420,"wires":[[]]},{"id":"8cfe8ef8.7d679","type":"ui_template","z":"59527d72.2f79e4","group":"ffd60c71.4b3de","name":"link download_độ ẩm không khí","order":1,"width":6,"height":"5","format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/5?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/7?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":710,"y":460,"wires":[[]]},{"id":"efc149b3.623718","type":"ui_template","z":"59527d72.2f79e4","group":"ae23aa0c.c40d78","name":"trang chủ tải dữ liệu","order":2,"width":6,"height":5,"format":"<span style=\" color: blue;\"> \n    <h1> TẢI VỀ DỮ LIỆU CẢM BIẾN</h1>\n    <b style=\"color : red;\">☀ <b/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TRANG CHỦ DOWNLOAD</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/2?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 1</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/4?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ 2</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/6?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ TDS</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/8?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN ÁNH SÁNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/9?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ CẢM BIẾN DÒNG</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/10?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ NHIỆT ĐỘ KHÔNG KHÍ</a> <br/>\n    <a href=http://rauthuycanh.ddns.net:1880/control/#!/11?socketid=XIacMnBcOIRLRELiAAA4>TẢI VỀ ĐỘ ẨM KHÔNG KHÍ</a> <br/>\n</span>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":420,"y":400,"wires":[[]]}]