note/link.json
[{"id":"5575f0cf.3f08e","type":"tab","label":"down link","disabled":false,"info":""},{"id":"79da7e93.2a472","type":"function","z":"5575f0cf.3f08e","name":"Set basepath","func":"//restrict to c:\\temp\\\nvar now = new Date();\nvar second = now.getSeconds();\nvar minute = now.getMinutes();\nvar hour = now.getHours();\nvar day = now.getDate();\nvar month = now.getMonth();\nvar year = now.getFullYear();\nvar topic = \"temperature\"               //topic\n\nvar str = \"\";\n var basePath = str.concat(\"D:\\\\DATA\\\\\",topic,\"\\\\year-2020\\\\month-8\\\\week4\\\\\");\n// var basepath1 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week1);\n// var basepath2 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week2);\n// var basepath3 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week3);\n// var basepath4 = str.concat(\"D:\\\\home\\\\year-\",year,\"\\\\\",month,week4);\nvar filename = msg.req.params.fn;\n\n\nif(filename.includes(\"..\\\\\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} else if(filename.includes(\"../\")){\n    msg.payload = \"Illegal file path\";\n    msg.statusCode = 405;//not allowed\n    return [null, msg];//fire output 2\n} \n//TODO: add more checks\n\n// if(1<=day<=7)\n// {\n//     basePath = basepath1;\n// }\n// if(8<=day<=15)\n// {\n//     basePath = basepath2;\n// }\n// if(16<=day<=23)\n// {\n//     basePath = basepath3;\n// }\n// if(24<=day<=31)\n// {\n//     basePath = basepath4;\n// }\n\nmsg.filename = basePath + filename;\nreturn [msg, null];//fire output 1\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":270,"y":140,"wires":[["900be292.530eb"],["a1207d1b.7ea99"]]},{"id":"a1207d1b.7ea99","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":570,"y":160,"wires":[]},{"id":"900be292.530eb","type":"file in","z":"5575f0cf.3f08e","name":"save","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":430,"y":100,"wires":[["a1207d1b.7ea99"]]},{"id":"c3c4dde6.1af0d","type":"catch","z":"5575f0cf.3f08e","name":"","scope":null,"uncaught":false,"x":100,"y":200,"wires":[["7d2a325e.4d1fbc","e3c57cba.73d35"]]},{"id":"7d2a325e.4d1fbc","type":"function","z":"5575f0cf.3f08e","name":"Set 404","func":"msg.payload = msg.error;\nmsg.statusCode = 404;//resource not found\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":200,"wires":[["a1207d1b.7ea99"]]},{"id":"e3c57cba.73d35","type":"debug","z":"5575f0cf.3f08e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":260,"wires":[]},{"id":"d6d92c90.95814","type":"ui_template","z":"5575f0cf.3f08e","group":"dae96f94.bd5cb","name":"present download links on dashboard","order":2,"width":0,"height":0,"format":"\n<!DOCTYPE html>\n<body>\n    \n<h2> DATA LOGGER </h2>\n<div >\n    FILE 1 :   <a href=http://192.168.1.4:1880/year2020/> year: 2020 </a> <br>\n    FILE 2 :   <a href=http://192.168.1.4:1880/year2021/> year: 2021 </a> <br>\n    FILE 2 :   <a href=http://192.168.1.4:1880/year2022/> year: 2022 </a> <br>\n    \n</div>\n    <script>\n    </script>\n</body>\n\n\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":550,"y":220,"wires":[[]]},{"id":"28be2a3c.1c0326","type":"comment","z":"5575f0cf.3f08e","name":"Create http endpoint <nodered>/files/xxx  where xxx is the file name to download","info":"","x":320,"y":40,"wires":[]},{"id":"ac3d5ea.3e951a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/files/:fn","method":"get","upload":false,"swaggerDoc":"","x":110,"y":140,"wires":[["79da7e93.2a472"]]},{"id":"aa006311.511b9","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020","method":"get","upload":false,"swaggerDoc":"","x":300,"y":380,"wires":[["4b09e566.fe313c"]]},{"id":"522d67e6.8ad538","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"4b09e566.fe313c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month1/ > month-1 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month2/ > month-2 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month3/ > month-3 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month4/ > month-4 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month5/ > month-5 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month6/ > month-6 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month7/ > month-7 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month8/ > month-8 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month9/ > month-9 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month10/ > month-10 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month11/ > month-11 </a> <br>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2020/month12/ > month-12 </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":380,"wires":[["522d67e6.8ad538"]]},{"id":"4fc2aeae.7c7ea","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month1","method":"get","upload":false,"swaggerDoc":"","x":280,"y":540,"wires":[["5ae11a01.24cea4"]]},{"id":"151c4e24.98f2e2","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":540,"wires":[]},{"id":"5ae11a01.24cea4","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/monthx/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/monthx/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/monthx/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/monthx/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":540,"wires":[["151c4e24.98f2e2"]]},{"id":"644600de.f7f2f","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/monthx/week1","method":"get","upload":false,"swaggerDoc":"","x":300,"y":1080,"wires":[["da20bade.db90b8"]]},{"id":"da20bade.db90b8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-1.txt\"> download day-1.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-2.txt\"> download day-2.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-3.txt\"> download day-3.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-4.txt\"> download day-4.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-5.txt\"> download day-5.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-6.txt\"> download day-6.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-7.txt\"> download day-7.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":1080,"wires":[["53f937db.ebac78"]]},{"id":"53f937db.ebac78","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":1080,"wires":[]},{"id":"8bacda05.5e7b18","type":"comment","z":"5575f0cf.3f08e","name":"year ->","info":"","x":90,"y":380,"wires":[]},{"id":"ff84ee4f.a35a4","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2021","method":"get","upload":false,"swaggerDoc":"","x":300,"y":420,"wires":[["30061e95.65ee52"]]},{"id":"85c837e4.3aaac8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":690,"y":420,"wires":[]},{"id":"30061e95.65ee52","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2021/month1/ > month-1 </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":420,"wires":[["85c837e4.3aaac8"]]},{"id":"c144d4e9.540a08","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2022","method":"get","upload":false,"swaggerDoc":"","x":300,"y":460,"wires":[["fd45467.afcd7b8"]]},{"id":"fdcf4e19.1e2a9","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":690,"y":460,"wires":[]},{"id":"fd45467.afcd7b8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            thang cua nam :   <a href=http://192.168.1.4:1880/year2022/month8/ > month-8 </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":460,"wires":[["fdcf4e19.1e2a9"]]},{"id":"3c57999d.5d9e36","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month2","method":"get","upload":false,"swaggerDoc":"","x":280,"y":580,"wires":[["5648226.333c6dc"]]},{"id":"2baf4031.2d78c","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":580,"wires":[]},{"id":"5648226.333c6dc","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":580,"wires":[["2baf4031.2d78c"]]},{"id":"b3ce5d3a.57423","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month3","method":"get","upload":false,"swaggerDoc":"","x":280,"y":620,"wires":[["c830afcf.8525e"]]},{"id":"9c584e56.493c1","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":620,"wires":[]},{"id":"c830afcf.8525e","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":620,"wires":[["9c584e56.493c1"]]},{"id":"4130582b.6ff708","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month4","method":"get","upload":false,"swaggerDoc":"","x":280,"y":660,"wires":[["327e3405.60557c"]]},{"id":"71071df0.9e55e4","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":660,"wires":[]},{"id":"327e3405.60557c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":660,"wires":[["71071df0.9e55e4"]]},{"id":"1fa598ba.997c57","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month5","method":"get","upload":false,"swaggerDoc":"","x":280,"y":700,"wires":[["dddaba7c.949298"]]},{"id":"fc4665a3.3f7978","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":700,"wires":[]},{"id":"dddaba7c.949298","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":700,"wires":[["fc4665a3.3f7978"]]},{"id":"706bf8a4.7e0308","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month6","method":"get","upload":false,"swaggerDoc":"","x":280,"y":740,"wires":[["4b9e1bce.0a1424"]]},{"id":"dd5f6ce1.ff928","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":740,"wires":[]},{"id":"4b9e1bce.0a1424","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":740,"wires":[["dd5f6ce1.ff928"]]},{"id":"37318944.aa38a6","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month7","method":"get","upload":false,"swaggerDoc":"","x":280,"y":780,"wires":[["3e548c04.756844"]]},{"id":"8bcc4e9.1e13ab","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":780,"wires":[]},{"id":"3e548c04.756844","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":780,"wires":[["8bcc4e9.1e13ab"]]},{"id":"13ca504b.303d6","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8","method":"get","upload":false,"swaggerDoc":"","x":280,"y":820,"wires":[["ae529c85.f1bb8"]]},{"id":"ff48bda5.ada58","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":820,"wires":[]},{"id":"ae529c85.f1bb8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":820,"wires":[["ff48bda5.ada58"]]},{"id":"90130b82.81f0f8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month9","method":"get","upload":false,"swaggerDoc":"","x":280,"y":860,"wires":[["dae0c256.e45a9"]]},{"id":"61ac2cc0.799d44","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":860,"wires":[]},{"id":"dae0c256.e45a9","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":860,"wires":[["61ac2cc0.799d44"]]},{"id":"9a57cc42.9ca6a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month10","method":"get","upload":false,"swaggerDoc":"","x":290,"y":900,"wires":[["f3205d47.9a8c4"]]},{"id":"cab16f14.41d18","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":900,"wires":[]},{"id":"f3205d47.9a8c4","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":900,"wires":[["cab16f14.41d18"]]},{"id":"d3275bd5.99c388","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month11","method":"get","upload":false,"swaggerDoc":"","x":280,"y":940,"wires":[["fa650987.9e8d48"]]},{"id":"ea8e3795.27b428","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":940,"wires":[]},{"id":"fa650987.9e8d48","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":940,"wires":[["ea8e3795.27b428"]]},{"id":"99eb1912.667378","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month12","method":"get","upload":false,"swaggerDoc":"","x":290,"y":980,"wires":[["4e949262.42663c"]]},{"id":"e7b7c908.8c1928","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":980,"wires":[]},{"id":"4e949262.42663c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":500,"y":980,"wires":[["e7b7c908.8c1928"]]},{"id":"8a99b247.eae1a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":920,"y":1080,"wires":[["dd303432.9dbc28"]]},{"id":"dd303432.9dbc28","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br>\n    </body>\n</html>","output":"str","x":1140,"y":1080,"wires":[["c378c529.df58a8"]]},{"id":"c378c529.df58a8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":1080,"wires":[]},{"id":"e398fbfb.bc72e8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2021/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":1540,"y":1080,"wires":[["29a1ba13.598756"]]},{"id":"29a1ba13.598756","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1760,"y":1080,"wires":[["518f3d38.1aa454"]]},{"id":"518f3d38.1aa454","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":1080,"wires":[]},{"id":"427ad875.664bc8","type":"comment","z":"5575f0cf.3f08e","name":"month ->","info":"","x":100,"y":540,"wires":[]},{"id":"b88de757.378a08","type":"comment","z":"5575f0cf.3f08e","name":"week ->","info":"","x":110,"y":1080,"wires":[]},{"id":"19b58bc7.6bddd4","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2021/month1","method":"get","upload":false,"swaggerDoc":"","x":900,"y":540,"wires":[["3400caa5.437ee6"]]},{"id":"7f8ecdbd.ee5494","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":540,"wires":[]},{"id":"3400caa5.437ee6","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2021/monthx/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2021/monthx/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2021/monthx/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2021/monthx/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":540,"wires":[["7f8ecdbd.ee5494"]]},{"id":"dc62c12f.fd653","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month2","method":"get","upload":false,"swaggerDoc":"","x":900,"y":580,"wires":[["c40caf0b.491fa"]]},{"id":"9de8d8eb.7765e8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":580,"wires":[]},{"id":"c40caf0b.491fa","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":580,"wires":[["9de8d8eb.7765e8"]]},{"id":"fb893744.df4f88","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month3","method":"get","upload":false,"swaggerDoc":"","x":900,"y":620,"wires":[["f2fcbf81.6b4fa"]]},{"id":"c9dab7ec.f485f8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":620,"wires":[]},{"id":"f2fcbf81.6b4fa","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":620,"wires":[["c9dab7ec.f485f8"]]},{"id":"5e4124cb.7020ec","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month4","method":"get","upload":false,"swaggerDoc":"","x":900,"y":660,"wires":[["ae1460a2.1df5e"]]},{"id":"a0b33e18.7d32f","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":660,"wires":[]},{"id":"ae1460a2.1df5e","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":660,"wires":[["a0b33e18.7d32f"]]},{"id":"c7385393.76dc5","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month5","method":"get","upload":false,"swaggerDoc":"","x":900,"y":700,"wires":[["f8f258d.da10ea8"]]},{"id":"1dd7052f.533f8b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":700,"wires":[]},{"id":"f8f258d.da10ea8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":700,"wires":[["1dd7052f.533f8b"]]},{"id":"82e7b521.fc5198","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month6","method":"get","upload":false,"swaggerDoc":"","x":900,"y":740,"wires":[["55369adf.676a74"]]},{"id":"b88f626c.16d94","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":740,"wires":[]},{"id":"55369adf.676a74","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":740,"wires":[["b88f626c.16d94"]]},{"id":"8f6466c6.2c6d08","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month7","method":"get","upload":false,"swaggerDoc":"","x":900,"y":780,"wires":[["93b41e17.00764"]]},{"id":"179a219c.79c6ee","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":780,"wires":[]},{"id":"93b41e17.00764","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":780,"wires":[["179a219c.79c6ee"]]},{"id":"bcd33472.3dc058","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8","method":"get","upload":false,"swaggerDoc":"","x":900,"y":820,"wires":[["c66017d2.39ba78"]]},{"id":"93b3397a.1455c8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":820,"wires":[]},{"id":"c66017d2.39ba78","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":820,"wires":[["93b3397a.1455c8"]]},{"id":"810013aa.252fa","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month9","method":"get","upload":false,"swaggerDoc":"","x":900,"y":860,"wires":[["4a3f6cf0.5f8964"]]},{"id":"bceb85f7.5a58a8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":860,"wires":[]},{"id":"4a3f6cf0.5f8964","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":860,"wires":[["bceb85f7.5a58a8"]]},{"id":"3c9ca195.53cb3e","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month10","method":"get","upload":false,"swaggerDoc":"","x":910,"y":900,"wires":[["a25ac522.352768"]]},{"id":"e2dbcf2.0e67e3","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":900,"wires":[]},{"id":"a25ac522.352768","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":900,"wires":[["e2dbcf2.0e67e3"]]},{"id":"83120c5f.47352","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month11","method":"get","upload":false,"swaggerDoc":"","x":900,"y":940,"wires":[["e4e15492.42b2e8"]]},{"id":"2ee0c420.215afc","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":940,"wires":[]},{"id":"e4e15492.42b2e8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":940,"wires":[["2ee0c420.215afc"]]},{"id":"2d0aa5ce.e9964a","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month12","method":"get","upload":false,"swaggerDoc":"","x":910,"y":980,"wires":[["3285bc42.d64194"]]},{"id":"3e8b73ef.83411c","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":980,"wires":[]},{"id":"3285bc42.d64194","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1120,"y":980,"wires":[["3e8b73ef.83411c"]]},{"id":"acbd20e.7f6b7e","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month1","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":540,"wires":[["150b94e2.e731ab"]]},{"id":"6f3e6aaf.70f314","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":540,"wires":[]},{"id":"150b94e2.e731ab","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month1/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month1/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month1/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month1/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":540,"wires":[["6f3e6aaf.70f314"]]},{"id":"b8276384.6d1a4","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month2","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":580,"wires":[["247e1ed9.d6bd92"]]},{"id":"f024c4ba.20a5f8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":580,"wires":[]},{"id":"247e1ed9.d6bd92","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month2/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":580,"wires":[["f024c4ba.20a5f8"]]},{"id":"9142da8a.9f92b8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month3","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":620,"wires":[["ce65c74f.665d68"]]},{"id":"f8bd489b.0aef98","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":620,"wires":[]},{"id":"ce65c74f.665d68","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month3/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":620,"wires":[["f8bd489b.0aef98"]]},{"id":"8d44b977.ab1738","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month4","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":660,"wires":[["9dea1e9e.13669"]]},{"id":"5e76663b.4ffcf8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":660,"wires":[]},{"id":"9dea1e9e.13669","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month4/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":660,"wires":[["5e76663b.4ffcf8"]]},{"id":"b78d18e8.6a7628","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month5","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":700,"wires":[["a7e75904.7db928"]]},{"id":"92788370.aca7b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":700,"wires":[]},{"id":"a7e75904.7db928","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month5/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":700,"wires":[["92788370.aca7b"]]},{"id":"806d8f6c.64326","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month6","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":740,"wires":[["2e67be62.3806a2"]]},{"id":"9eb90972.c8e0e8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":740,"wires":[]},{"id":"2e67be62.3806a2","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month6/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":740,"wires":[["9eb90972.c8e0e8"]]},{"id":"f6237e8e.05007","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month7","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":780,"wires":[["6a9cedb5.8107d4"]]},{"id":"46ca193d.d6a178","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":780,"wires":[]},{"id":"6a9cedb5.8107d4","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month7/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":780,"wires":[["46ca193d.d6a178"]]},{"id":"78a236aa.7105e8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":820,"wires":[["6fadf5a3.a6650c"]]},{"id":"c68495a9.ae0ac8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":820,"wires":[]},{"id":"6fadf5a3.a6650c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":820,"wires":[["c68495a9.ae0ac8"]]},{"id":"9d46542.f0cf1a8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month9","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":860,"wires":[["b70f3792.e74c58"]]},{"id":"77944024.6433b","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":860,"wires":[]},{"id":"b70f3792.e74c58","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month8/week9/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":860,"wires":[["77944024.6433b"]]},{"id":"69e14b53.8ad7b4","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month10","method":"get","upload":false,"swaggerDoc":"","x":1530,"y":900,"wires":[["c39d3626.52ce78"]]},{"id":"b97720cf.78efa","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":900,"wires":[]},{"id":"c39d3626.52ce78","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month10/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":900,"wires":[["b97720cf.78efa"]]},{"id":"a6020e2.09b66f","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month11","method":"get","upload":false,"swaggerDoc":"","x":1520,"y":940,"wires":[["4ae3c56f.1d567c"]]},{"id":"f7b7867c.9e30f8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":940,"wires":[]},{"id":"4ae3c56f.1d567c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month11/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":940,"wires":[["f7b7867c.9e30f8"]]},{"id":"c6c6e6f7.5f2fc8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month12","method":"get","upload":false,"swaggerDoc":"","x":1530,"y":980,"wires":[["9ac54e30.307a5"]]},{"id":"4be67190.3a41f","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":980,"wires":[]},{"id":"9ac54e30.307a5","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week1/ > week1 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week2/ > week2 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week3/ > week3 </a> <br>\n            week of month :   <a href=http://192.168.1.4:1880/year2020/month12/week4/ > week4 </a> <br>\n            \n    </body>\n</html>","output":"str","x":1740,"y":980,"wires":[["4be67190.3a41f"]]},{"id":"a29570e7.c9ba7","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":920,"y":1120,"wires":[["42a746f6.ac2128"]]},{"id":"42a746f6.ac2128","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1140,"y":1120,"wires":[["500ebcb.605ab44"]]},{"id":"500ebcb.605ab44","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":1120,"wires":[]},{"id":"da54213c.0d0b8","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":920,"y":1160,"wires":[["d13c381c.fffea8"]]},{"id":"d13c381c.fffea8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1140,"y":1160,"wires":[["f1aecd60.dd9b8"]]},{"id":"f1aecd60.dd9b8","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":1160,"wires":[]},{"id":"1d9b823b.5eec6e","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":920,"y":1200,"wires":[["ee743e04.939a4"]]},{"id":"ee743e04.939a4","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1140,"y":1200,"wires":[["e5277a2d.ac5838"]]},{"id":"e5277a2d.ac5838","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1290,"y":1200,"wires":[]},{"id":"454f81f.0b1e48","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/monthx/week2","method":"get","upload":false,"swaggerDoc":"","x":300,"y":1120,"wires":[["7716492d.5460f8"]]},{"id":"7716492d.5460f8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":1120,"wires":[["6e30e03b.76a08"]]},{"id":"6e30e03b.76a08","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":1120,"wires":[]},{"id":"82564d37.5f7b","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/monthx/week3","method":"get","upload":false,"swaggerDoc":"","x":300,"y":1160,"wires":[["410d155b.968f6c"]]},{"id":"410d155b.968f6c","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br> \n    </body>\n</html>","output":"str","x":520,"y":1160,"wires":[["35a389ee.bbbce6"]]},{"id":"35a389ee.bbbce6","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":1160,"wires":[]},{"id":"3cb12ef.c79ced2","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/monthx/week4","method":"get","upload":false,"swaggerDoc":"","x":300,"y":1200,"wires":[["edbdebb7.bd1918"]]},{"id":"edbdebb7.bd1918","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n            FILE 8 :   <a href=\"/files/day-30.txt\"> download day-30.txt </a> <br>\n            FILE 9 :   <a href=\"/files/day-31.txt\"> download day-31.txt </a> <br>\n    </body>\n</html>","output":"str","x":520,"y":1200,"wires":[["916ffafe.a17948"]]},{"id":"916ffafe.a17948","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":670,"y":1200,"wires":[]},{"id":"587fce4a.0342c","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":1540,"y":1120,"wires":[["e789765d.4ac368"]]},{"id":"e789765d.4ac368","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1760,"y":1120,"wires":[["72af7b9b.408914"]]},{"id":"72af7b9b.408914","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":1120,"wires":[]},{"id":"95bbc001.a552d","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":1540,"y":1160,"wires":[["efa12611.7c3b18"]]},{"id":"efa12611.7c3b18","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1760,"y":1160,"wires":[["e4aa5f3d.7c5dd"]]},{"id":"e4aa5f3d.7c5dd","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":1160,"wires":[]},{"id":"bc7db96f.310e38","type":"http in","z":"5575f0cf.3f08e","name":"","url":"/year2020/month8/week4","method":"get","upload":false,"swaggerDoc":"","x":1540,"y":1200,"wires":[["d9bd7902.fba8a8"]]},{"id":"d9bd7902.fba8a8","type":"template","z":"5575f0cf.3f08e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <body>\n        <h1>noi dung html</h1>\n            FILE 1 :   <a href=\"/files/day-23.txt\"> download day-23.txt </a> <br>\n            FILE 2 :   <a href=\"/files/day-24.txt\"> download day-24.txt </a> <br>\n            FILE 3 :   <a href=\"/files/day-25.txt\"> download day-25.txt </a> <br>\n            FILE 4 :   <a href=\"/files/day-26.txt\"> download day-26.txt </a> <br>\n            FILE 5 :   <a href=\"/files/day-27.txt\"> download day-27.txt </a> <br>\n            FILE 6 :   <a href=\"/files/day-28.txt\"> download day-28.txt </a> <br>\n            FILE 7 :   <a href=\"/files/day-29.txt\"> download day-29.txt </a> <br>\n    </body>\n</html>","output":"str","x":1760,"y":1200,"wires":[["98cf05fa.871f78"]]},{"id":"98cf05fa.871f78","type":"http response","z":"5575f0cf.3f08e","name":"","statusCode":"","headers":{},"x":1910,"y":1200,"wires":[]},{"id":"79fa196e.52b228","type":"ui_button","z":"5575f0cf.3f08e","name":"link","group":"9e0000a8.f93b5","order":1,"width":0,"height":0,"passthru":false,"label":"bt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":100,"wires":[[]]},{"id":"dae96f94.bd5cb","type":"ui_group","z":"","name":"button","tab":"76edca7a.fd0734","order":2,"disp":true,"width":"12","collapse":false},{"id":"9e0000a8.f93b5","type":"ui_group","z":"","name":"Data Export","tab":"6871a6f.5c3bc58","order":1,"disp":true,"width":"12"},{"id":"76edca7a.fd0734","type":"ui_tab","z":"","name":"control sys","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6871a6f.5c3bc58","type":"ui_tab","z":"","name":"Download","icon":"dashboard","order":4,"disabled":false,"hidden":false}]