note/send.json
[{"id":"ea563ac1.aaa738","type":"tab","label":"send","disabled":false,"info":""},{"id":"8d48cd61.fa465","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":590,"y":220,"wires":[["5359833b.7dce9c"]],"info":"`var date = getDate();`"},{"id":"5359833b.7dce9c","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":770,"y":220,"wires":[]},{"id":"fa59a3d4.f8d1b","type":"function","z":"ea563ac1.aaa738","name":"","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"temperature\"               // khai bao chu de at here ...\nvar t = msg.payload\nvar to = msg.topic\nvar count = flow.get('count') || 0;\n\nif(1<=day<=7)\n{\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week1/day-\",day,\".txt\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time1;\n}\n\nif(8<=day<=15)\n{\n    var str2 = \"\";\n    var str_2 = str2.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week2/day-\",day,\".txt\");\n    msg.filename = str_2;\n    var time2 = str2.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time2;\n}\nif(16<=day<=23)\n{\n    var str3 = \"\";\n    var str_3 = str3.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week3/day-\",day,\".txt\");\n    msg.filename = str_3;\n    var time3 = str3.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time3;\n}\nif(24<=day<=31)\n{\n    var str4 = \"\";\n    var str_4 = str4.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week4/day-\",day,\".txt\");\n    msg.filename = str_4;\n    var time4 = str4.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time4;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["f5b0b6fd.c8d9a8","8d48cd61.fa465"]]},{"id":"713615b0.fb8dac","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"em","payload":"","payloadType":"date","x":130,"y":180,"wires":[["fa59a3d4.f8d1b","968bdd8.28c6c2","21f25968.3fd8c6"]]},{"id":"f5b0b6fd.c8d9a8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"625e1fce.4f9fd","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp8266v1","topic":"esp8266v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":170,"y":120,"wires":[["fa59a3d4.f8d1b","1f87ed11.b297a3","968bdd8.28c6c2","8190faaf.69dad8"]]},{"id":"1f87ed11.b297a3","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":80,"wires":[]},{"id":"fd1e2178.dbdc1","type":"comment","z":"ea563ac1.aaa738","name":"send data esp8266 ->","info":"","x":140,"y":40,"wires":[]},{"id":"2709b9dc.6738d6","type":"ui_button","z":"ea563ac1.aaa738","name":"button esp8266v1","group":"dae96f94.bd5cb","order":1,"width":"4","height":"1","passthru":false,"label":"button esp8266v1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button esp8266v1","payloadType":"str","topic":"","x":130,"y":240,"wires":[["fa59a3d4.f8d1b","968bdd8.28c6c2"]]},{"id":"9d42f116.18505","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":570,"y":520,"wires":[["b648fc7e.62bcf"]],"info":"`var date = getDate();`"},{"id":"b648fc7e.62bcf","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"4782fcd9.ca4534","type":"function","z":"ea563ac1.aaa738","name":"","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"humidity\"               // khai bao chu de at here ...\nvar count =0;\n\nif(1<=day<=7)\n{\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week1/day-\",day,\".txt\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" \",count++);\n    msg.payload = time1;\n}\n\nif(8<=day<=15)\n{\n    var str2 = \"\";\n    var str_2 = str2.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week2/day-\",day,\".txt\");\n    msg.filename = str_2;\n    var time2 = str2.concat(hour,\":\",minute,\":\",second,\" \",count++);\n    msg.payload = time2;\n}\nif(16<=day<=23)\n{\n    var str3 = \"\";\n    var str_3 = str3.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week3/day-\",day,\".txt\");\n    msg.filename = str_3;\n    var time3 = str3.concat(hour,\":\",minute,\":\",second,\" \",count++);\n    msg.payload = time3;\n}\nif(24<=day<=31)\n{\n    var str4 = \"\";\n    var str_4 = str4.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week4/day-\",day,\".txt\");\n    msg.filename = str_4;\n    var time4 = str4.concat(hour,\":\",minute,\":\",second,\" \",count++);\n    msg.payload = time4;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["24dd54f9.f9464c","9d42f116.18505"]]},{"id":"1fd095dd.160a7a","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":480,"wires":[["4782fcd9.ca4534","490ec91e.eb4d08"]]},{"id":"24dd54f9.f9464c","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"513ce0d5.113c1","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send esp32v1","topic":"esp32v1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":200,"y":420,"wires":[["4782fcd9.ca4534","f4e34d02.10a44","490ec91e.eb4d08","e0d3cd15.d1ade"]]},{"id":"f4e34d02.10a44","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":380,"wires":[]},{"id":"b90aa839.f1a3c8","type":"ui_button","z":"ea563ac1.aaa738","name":"button esp32v1","group":"dae96f94.bd5cb","order":1,"width":"4","height":"1","passthru":false,"label":"button esp32v1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button esp32v1","payloadType":"str","topic":"","x":200,"y":540,"wires":[["4782fcd9.ca4534","490ec91e.eb4d08"]]},{"id":"510f4460.504aac","type":"comment","z":"ea563ac1.aaa738","name":"send data esp32 ->","info":"","x":90,"y":360,"wires":[]},{"id":"4b2519d8.7eff48","type":"comment","z":"ea563ac1.aaa738","name":"send data mega1 ->","info":"","x":110,"y":620,"wires":[]},{"id":"b91816c0.ea6478","type":"file","z":"ea563ac1.aaa738","name":"save to file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":570,"y":800,"wires":[["d9e9ae22.d1feb"]],"info":"`var date = getDate();`"},{"id":"d9e9ae22.d1feb","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":750,"y":800,"wires":[]},{"id":"7e151c3e.4b1404","type":"function","z":"ea563ac1.aaa738","name":"","func":"var now = new Date();\nvar second = now.getSeconds();          //giay\nvar minute = now.getMinutes();          //phut\nvar hour = now.getHours();              //gio\nvar day = now.getDate();                //ngay\nvar month = now.getMonth();             //thang\nvar year = now.getFullYear();           // nam\nvar topic = \"count\"               // khai bao chu de at here ...\nvar t = msg.payload;\nvar count =0;\n\nif(1<=day<=7)\n{\n    var str1 = \"\";\n    var str_1 = str1.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week1/day-\",day,\".txt\");\n    msg.filename = str_1;\n    var time1 = str1.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time1;\n}\n\nif(8<=day<=15)\n{\n    var str2 = \"\";\n    var str_2 = str2.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week2/day-\",day,\".txt\");\n    msg.filename = str_2;\n    var time2 = str2.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time2;\n}\nif(16<=day<=23)\n{\n    var str3 = \"\";\n    var str_3 = str3.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week3/day-\",day,\".txt\");\n    msg.filename = str_3;\n    var time3 = str3.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time3;\n}\nif(24<=day<=31)\n{\n    var str4 = \"\";\n    var str_4 = str4.concat(\"D:DATA/\",topic,\"/year-\",year,\"/month-\",month+1,\"/week4/day-\",day,\".txt\");\n    msg.filename = str_4;\n    var time4 = str4.concat(hour,\":\",minute,\":\",second,\" \",t);\n    msg.payload = time4;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":760,"wires":[["c5624540.d70ad8","b91816c0.ea6478"]]},{"id":"1b395d7a.703fa3","type":"inject","z":"ea563ac1.aaa738","name":"click","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":760,"wires":[["7e151c3e.4b1404","e04bc4ff.78fcd8"]]},{"id":"c5624540.d70ad8","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":760,"wires":[]},{"id":"afb0bce4.27e6c","type":"mqtt in","z":"ea563ac1.aaa738","name":"5s send mega1","topic":"mega1/pub","qos":"2","datatype":"auto","broker":"d503915.1d5ad7","x":200,"y":700,"wires":[["7e151c3e.4b1404","453ede60.92e69","e04bc4ff.78fcd8","51e3f1fe.c32c6"]]},{"id":"453ede60.92e69","type":"debug","z":"ea563ac1.aaa738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":660,"wires":[]},{"id":"f356fcc.67bad","type":"ui_button","z":"ea563ac1.aaa738","name":"button mega1","group":"dae96f94.bd5cb","order":1,"width":"4","height":"1","passthru":false,"label":"button mega1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"button mega1","payloadType":"str","topic":"","x":200,"y":820,"wires":[["7e151c3e.4b1404","e04bc4ff.78fcd8"]]},{"id":"968bdd8.28c6c2","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp8266v1","topic":"esp8266v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":460,"y":280,"wires":[]},{"id":"490ec91e.eb4d08","type":"mqtt out","z":"ea563ac1.aaa738","name":"subcribe esp32v1","topic":"esp32v1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":470,"y":560,"wires":[]},{"id":"e04bc4ff.78fcd8","type":"mqtt out","z":"ea563ac1.aaa738","name":"subscribe mega1","topic":"mega1/sub","qos":"","retain":"","broker":"d503915.1d5ad7","x":490,"y":860,"wires":[]},{"id":"8190faaf.69dad8","type":"ui_text","z":"ea563ac1.aaa738","group":"66ccba97.13e1f4","order":0,"width":0,"height":0,"name":"esp8266v1","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":120,"wires":[]},{"id":"e0d3cd15.d1ade","type":"ui_text","z":"ea563ac1.aaa738","group":"66ccba97.13e1f4","order":1,"width":0,"height":0,"name":"esp32","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":420,"wires":[]},{"id":"51e3f1fe.c32c6","type":"ui_text","z":"ea563ac1.aaa738","group":"66ccba97.13e1f4","order":2,"width":0,"height":0,"name":"mega1","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":700,"wires":[]},{"id":"21f25968.3fd8c6","type":"ui_gauge","z":"ea563ac1.aaa738","name":"","group":"66ccba97.13e1f4","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":280,"wires":[]},{"id":"d503915.1d5ad7","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dae96f94.bd5cb","type":"ui_group","z":"","name":"button","tab":"76edca7a.fd0734","order":2,"disp":true,"width":"12","collapse":false},{"id":"66ccba97.13e1f4","type":"ui_group","z":"","name":"gauge","tab":"76edca7a.fd0734","order":1,"disp":true,"width":"6","collapse":false},{"id":"76edca7a.fd0734","type":"ui_tab","z":"","name":"control sys","icon":"dashboard","order":2,"disabled":false,"hidden":false}]